# Limpeza de strings

In [1]:
#!pip install Unidecode
import unidecode

In [2]:
def clean_string(str):
    str = str.strip()
    str = str.replace(" ","_") #remover elspaços
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string(txt)

'nova_brasilandia_doeste_oracao'

In [3]:
def clean_string_original(str):
    str = str.strip()
    str = str.replace(" ","") #remover espaços
    str = str.replace("-","") #remover hifen
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string_original(txt)

'novabrasilandiadoesteoracao'

In [4]:
def troca_virgula_por_ponto(text):
    text = str(text)
    text = text.strip()
    text = text.replace(",",".") #trocar por ponto
    return text

#exemplo
txt = "-1,00012 "
troca_virgula_por_ponto(txt)

'-1.00012'

In [45]:
#Paraíba é com acento
def correcao_paraiba(text):
    text = str(text)
    text = text.strip()
    if (text == 'Paraiba'):
        text = 'Paraíba'   
    if (text == 'Total'):
        text = 'Brasil' 
    return text

In [6]:
def remover_parenteses(text):
    novo = str(text).strip()
    if novo.endswith(')'):
        novo = novo[:-4]
    return novo.strip()

In [7]:
correcoes_dados_dicionario = {
  "Tarauacá ARAUACÁ (AC)": "Tarauacá (AC)"
}

In [8]:
#nomes ligeiramente errados
def correcao_nomes(text):
    if (str(text) in correcoes_dados_dicionario.keys()):
        text = correcoes_dados_dicionario[text]
    return text

# Abrir tabela de lat/lon

In [9]:
#geo_file = 'municipios_BR_latlon.csv'
#geo_file = 'tabela.csv'
geo_file = '../nova_geo_corrigida.csv'

In [10]:
import pandas as pd

In [11]:
#geo = pd.read_csv(geo_file, sep='\t', index_col=0, names = ['index', 'nome', 'latitude', 'longitude', 'cep', 'estado', 'uf'])
geo = pd.read_csv(geo_file)

In [53]:
geo.head()

   codigo_ibge  uf      nome   latitude  longitude  capital
0            1  BR    Brasil -13.495277 -71.577063        2
1           11  RO  Rondônia -10.830000 -63.340000        2
2           12  AC      Acre  -8.770000 -70.550000        2
3           13  AM  Amazonas  -3.470000 -65.100000        2
4           14  RR   Roraima   1.990000 -61.330000        2

In [54]:
#geo['latitude'] = geo['latitude'].apply(troca_virgula_por_ponto)
#geo['longitude'] = geo['longitude'].apply(troca_virgula_por_ponto)

In [12]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5618 entries, 0 to 5617
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5618 non-null   int64
 1   uf           5618 non-null   object
 2   nome         5618 non-null   object
 3   latitude     5618 non-null   float64
 4   longitude    5618 non-null   float64
 5   capital      5618 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 263.5+ KB

In [13]:
geo['uf'].value_counts()

MG    855
SP    650
RS    498
BA    420
PR    400
SC    296
GO    247
PB    226
PI    225
MA    218
PE    188
CE    186
RN    172
PA    147
MT    143
TO    141
AL    103
RJ     93
MS     80
ES     79
SE     76
AM     63
RO     53
AC     23
AP     17
RR     16
DF      2
BR      1
Name: uf, dtype: int64

In [14]:
geo.loc[geo['uf']=='AC']

      codigo_ibge  uf                  nome  latitude  longitude  capital
2              12  AC                  Acre  -8.77000   -70.5500        2
54        1200013  AC            Acrelândia  -9.82581   -66.8972        0
438       1200054  AC          Assis Brasil -10.92980   -69.5738        0
781       1200104  AC             Brasiléia -10.99500   -68.7497        0
824       1200138  AC                Bujari  -9.81528   -67.9550        0
1110      1200179  AC              Capixaba -10.56600   -67.6860        0
1513      1200203  AC       Cruzeiro do Sul  -7.62762   -72.6756        0
1706      1200252  AC        Epitaciolândia -11.01880   -68.7341        0
1784      1200302  AC                 Feijó  -8.17054   -70.3510        0
2636      1200328  AC                Jordão  -9.43091   -71.8974        0
2914      1200336  AC           Mâncio Lima  -7.61657   -72.8997        0
2928      1200344  AC         Manoel Urbano  -8.83291   -69.2679        0
2974      1200351  AC  Marechal Thaumaturgo  -8.93898   -72.7997        0
3901      1200385  AC     Plácido de Castro -10.28060   -67.1371        0
3974      1200807  AC            Porto Acre  -9.58138   -67.5478        0
4008      1200393  AC          Porto Walter  -8.26323   -72.7537        0
4221      1200401  AC            Rio Branco  -9.97499   -67.8243        1
4289      1200427  AC       Rodrigues Alves  -7.73864   -72.6610        0
4502      1200435  AC   Santa Rosa do Purus  -9.44652   -70.4902        0
4990      1200500  AC        Sena Madureira  -9.06596   -68.6571        0
4998      1200450  AC      Senador Guiomard -10.14970   -67.7362        0
5205      1200609  AC              Tarauacá  -8.15697   -70.7722        0
5588      1200708  AC                Xapuri -10.65160   -68.4969        0

# Abrir tabela 3
Distribuição de jovens alfabetizados e analfabetos segundo UF e município

In [15]:
file_name = 'leslie/Eixo2-Tabela3.xlsx'

In [107]:
#tabela = pd.read_csv(file_name, sep=';',  encoding = "ISO-8859-1")
tabela = pd.read_excel(file_name)

In [108]:
tabela.head()

,Sigla da UF,UF/Município,Sim Frequência,Sim Percentual,Não Frequência,Não Percentual,Total
0,AC,Acre,200674.0,0.934515,14062.0,0.065485,214736.0
1,AC,Acrelândia (AC),3255.0,0.967311,110.0,0.032689,3365.0
2,AC,Assis Brasil (AC),1605.0,0.918192,143.0,0.081808,1748.0
3,AC,Brasiléia (AC),5719.0,0.945133,332.0,0.054867,6051.0
4,AC,Bujari (AC),2061.0,0.920500,178.0,0.079500,2239.0

In [109]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5596 entries, 0 to 5595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sigla da UF     5596 non-null   object
 1   UF/Município    5592 non-null   object
 2   Sim Frequência  5592 non-null   float64
 3   Sim Percentual  5592 non-null   float64
 4   Não Frequência  5542 non-null   float64
 5   Não Percentual  5592 non-null   float64
 6   Total           5592 non-null   float64
dtypes: float64(5), object(2)
memory usage: 306.2+ KB

In [110]:
tabela.columns

Index(['Sigla da UF ', 'UF/Município', 'Sim Frequência', 'Sim Percentual',
       'Não Frequência', 'Não Percentual', 'Total'],
      dtype='object')

In [111]:
novas_colunas = []
for i in tabela.columns:
    print(i)
    novas_colunas.append(clean_string(i))

Sigla da UF
UF/Município
Sim Frequência
Sim Percentual
Não Frequência
Não Percentual
Total

In [112]:
for i in range(len(novas_colunas)):
    if novas_colunas[i] == 'uf/municipio':
        novas_colunas[i] = 'nome'

for i in range(len(novas_colunas)):
    if novas_colunas[i] == 'sigla_da_uf':
        novas_colunas[i] = 'uf'

In [113]:
novas_colunas = ['uf',
 'nome',
 'sim',
 'sim%',
 'nao',
 'nao%',
 'total']

In [114]:
novas_colunas

['uf', 'nome', 'sim', 'sim%', 'nao', 'nao%', 'total']

In [115]:
for i in novas_colunas:
    print(len(i))

2
4
3
4
3
4
5

In [116]:
#tabela.columns = ['uf', 'nome', 'Sim (Frequência)',	'Sim (%)', 'Não (Frequência)', 'Não (%)', 'Total']
tabela.columns = novas_colunas

In [117]:
tabela['uf'].value_counts()

MG                     854
SP                     646
RS                     497
BA                     418
PR                     400
SC                     294
GO                     247
PI                     225
PB                     224
MA                     218
PE                     186
CE                     185
RN                     168
PA                     144
MT                     142
TO                     140
AL                     103
RJ                      93
MS                      79
ES                      79
SE                      76
AM                      63
RO                      53
AC                      23
AP                      17
RR                      16
DF                       2
Região Centro Oeste      1
Região Sudeste           1
Região Nordeste          1
Região Sul               1
Name: uf, dtype: int64

In [118]:
tabela.loc[tabela['uf'] =='AC']

,uf,nome,sim,sim%,nao,nao%,total
0,AC,Acre,200674.0,0.934515,14062.0,0.065485,214736.0
1,AC,Acrelândia (AC),3255.0,0.967311,110.0,0.032689,3365.0
2,AC,Assis Brasil (AC),1605.0,0.918192,143.0,0.081808,1748.0
3,AC,Brasiléia (AC),5719.0,0.945133,332.0,0.054867,6051.0
4,AC,Bujari (AC),2061.0,0.920500,178.0,0.079500,2239.0
5,AC,Capixaba (AC),2039.0,0.933181,146.0,0.066819,2185.0
6,AC,Cruzeiro do Sul (AC),22106.0,0.934715,1544.0,0.065285,23650.0
7,AC,Epitaciolândia (AC),4190.0,0.966328,146.0,0.033672,4336.0
8,AC,Feijó (AC),7165.0,0.781523,2003.0,0.218477,9168.0
9,AC,Jordão(AC),1601.0,0.875821,227.0,0.124179,1828.0
10,AC,Mâncio Lima (AC),4070.0,0.922066,344.0,0.077934,4414.0
11,AC,Manoel Urbano (AC),1903.0,0.851073,333.0,0.148927,2236.0
12,AC,Marechal Thaumaturgo (AC),3402.0,0.814460,775.0,0.185540,4177.0
13,AC,Plácido De Castro (AC),4174.0,0.926526,331.0,0.073474,4505.0
14,AC,Porto Walter (AC),1957.0,0.815757,442.0,0.184243,2399.0
15,AC,Rio Branco (AC),99106.0,0.975011,2540.0,0.024989,101646.0
16,AC,Rodrigues Alves (AC),3437.0,0.864219,540.0,0.135781,3977.0
17,AC,Santa Rosa Do Purus (AC),998.0,0.718503,391.0,0.281497,1389.0
18,AC,Senador Guiomard (AC),5302.0,0.955660,246.0,0.044340,5548.0
19,AC,Sena Madureira (AC),10513.0,0.911084,1026.0,0.088916,11539.0
20,AC,Tarauacá ARAUACÁ (AC),8550.0,0.851254,1494.0,0.148746,10044.0
21,AC,Xapuri (AC),4020.0,0.903980,427.0,0.096020,4447.0
22,AC,Porto Acre (AC),3502.0,0.910793,343.0,0.089207,3845.0

In [119]:
#Corrigir acento de Paraíba e remover espaços em branco dos nomes
tabela['nome'] = tabela['nome'].apply(correcao_paraiba)

Remover linhas de regiões

In [120]:
regioes = ['Região Centro Oeste','Região Sudeste','Região Nordeste','Região Sul','Região Norte']

In [121]:
for r in regioes:
    index = tabela[ tabela['uf'] == r].index.tolist() #[2260, dtype=string]
    if index:
        print(tabela.loc[index[0]])

uf       Região Centro Oeste
nome                     nan
sim                      NaN
sim%                     NaN
nao                      NaN
nao%                     NaN
total                    NaN
Name: 2260, dtype: object
uf       Região Sudeste
nome                nan
sim                 NaN
sim%                NaN
nao                 NaN
nao%                NaN
total               NaN
Name: 2731, dtype: object
uf       Região Nordeste
nome                 nan
sim                  NaN
sim%                 NaN
nao                  NaN
nao%                 NaN
total                NaN
Name: 456, dtype: object
uf       Região Sul
nome            nan
sim             NaN
sim%            NaN
nao             NaN
nao%            NaN
total           NaN
Name: 4404, dtype: object

In [122]:
remover = []
for r in regioes:
    index = tabela[ tabela['uf'] == r].index.tolist() #[2260, dtype=string]
    if index:
        remover.append(index[0])

In [123]:
remover

[2260, 2731, 456, 4404]

In [124]:
tabela.drop(remover , inplace=True)

Valores nulos

In [125]:
#tabela.isna().any(axis=1)

In [126]:
tabela[tabela.isna().any(axis=1)]

      uf                         nome     sim  sim%  nao  nao%   total
2331  GO         Córrego do Ouro (GO)   551.0   1.0  NaN   0.0   551.0
2340  GO              Damolândia (GO)   666.0   1.0  NaN   0.0   666.0
2364  GO                Guaraíta (GO)   495.0   1.0  NaN   0.0   495.0
2458  GO                  Rialma (GO)  2589.0   1.0  NaN   0.0  2589.0
2825  MG               Albertina (MG)   712.0   1.0  NaN   0.0   712.0
2853  MG                  Arapuá (MG)   564.0   1.0  NaN   0.0   564.0
2924  MG                 Camacho (MG)   787.0   1.0  NaN   0.0   787.0
2965  MG         Carmo do Cajuru (MG)  5041.0   1.0  NaN   0.0  5041.0
3594  MG        Serra da Saudade (MG)   193.0   1.0  NaN   0.0   193.0
3611  MG                  Tapira (MG)  1122.0   1.0  NaN   0.0  1122.0
3621  MG           Tocos do Moji (MG)   880.0   1.0  NaN   0.0   880.0
3774  SP         Álvares Machado (SP)  5823.0   1.0  NaN   0.0  5823.0
3916  SP            Dolcinópolis (SP)   430.0   1.0  NaN   0.0   430.0
3963  SP         Guarani d'Oeste (SP)   445.0   1.0  NaN   0.0   445.0
3997  SP         Inúbia Paulista (SP)   878.0   1.0  NaN   0.0   878.0
4286  SP  Santana da Ponte Pensa (SP)   318.0   1.0  NaN   0.0   318.0
4331  SP  Sebastianópolis do Sul (SP)   752.0   1.0  NaN   0.0   752.0
4627  PR               Miraselva (PR)   453.0   1.0  NaN   0.0   453.0
4695  PR           Quatro Pontes (PR)   868.0   1.0  NaN   0.0   868.0
4889  RS           Capão do Cipó (RS)   692.0   1.0  NaN   0.0   692.0
4916  RS                 Colinas (RS)   488.0   1.0  NaN   0.0   488.0
4922  RS          Coronel Barros (RS)   484.0   1.0  NaN   0.0   484.0
4931  RS             Cruzaltense (RS)   452.0   1.0  NaN   0.0   452.0
4967  RS         Fagundes Varela (RS)   494.0   1.0  NaN   0.0   494.0
4977  RS             Forquetinha (RS)   454.0   1.0  NaN   0.0   454.0
5022  RS                   Ivorá (RS)   457.0   1.0  NaN   0.0   457.0
5035  RS   Lagoa dos Três Cantos (RS)   325.0   1.0  NaN   0.0   325.0
5061  RS                Montauri (RS)   308.0   1.0  NaN   0.0   308.0
5085  RS              Nova Palma (RS)  1594.0   1.0  NaN   0.0  1594.0
5119  RS         Pinhal da Serra (RS)   456.0   1.0  NaN   0.0   456.0
5132  RS              Porto Mauá (RS)   507.0   1.0  NaN   0.0   507.0
5138  RS          Protásio Alves (RS)   391.0   1.0  NaN   0.0   391.0
5145  RS                 Relvado (RS)   395.0   1.0  NaN   0.0   395.0
5160  RS        Saldanha Marinho (RS)   615.0   1.0  NaN   0.0   615.0
5162  RS    Salvador das Missões (RS)   541.0   1.0  NaN   0.0   541.0
5166  RS    Santa Cecília do Sul (RS)   336.0   1.0  NaN   0.0   336.0
5175  RS            Santa Tereza (RS)   318.0   1.0  NaN   0.0   318.0
5187  RS     São Domingos do Sul (RS)   654.0   1.0  NaN   0.0   654.0
5238  RS        Silveira Martins (RS)   506.0   1.0  NaN   0.0   506.0
5255  RS                  Toropi (RS)   566.0   1.0  NaN   0.0   566.0
5259  RS            Três Arroios (RS)   535.0   1.0  NaN   0.0   535.0
5292  RS             Vila Flores (RS)   772.0   1.0  NaN   0.0   772.0
5366  SC             Celso Ramos (SC)   674.0   1.0  NaN   0.0   674.0
5451  SC                 Lontras (SC)  2672.0   1.0  NaN   0.0  2672.0
5453  SC                 Luzerna (SC)  1311.0   1.0  NaN   0.0  1311.0
5501  SC                Pomerode (SC)  7210.0   1.0  NaN   0.0  7210.0
5514  SC         Rancho Queimado (SC)   626.0   1.0  NaN   0.0   626.0
5545  SC       São João do Oeste (SC)  1407.0   1.0  NaN   0.0  1407.0
5574  SC                 Treviso (SC)   893.0   1.0  NaN   0.0   893.0
5583  SC                 Urupema (SC)   539.0   1.0  NaN   0.0   539.0

In [127]:
#transforma todos os vazios em zero
tabela = tabela.fillna(0)

In [128]:
#checar que os valores são float ou int
tabela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5592 entries, 0 to 5595
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uf      5592 non-null   object
 1   nome    5592 non-null   object
 2   sim     5592 non-null   float64
 3   sim%    5592 non-null   float64
 4   nao     5592 non-null   float64
 5   nao%    5592 non-null   float64
 6   total   5592 non-null   float64
dtypes: float64(5), object(2)
memory usage: 349.5+ KB

In [129]:
# convert column "a" to int64 dtype and "b" to complex type
#tabela = tabela.astype({"Sim (Frequência)": float, "Não (Frequência)": float, 'Não (%)': float})

In [130]:
#alguns nomes de cidade ligeiramente diferentes
tabela['nome'] = tabela['nome'].apply(correcao_nomes)

In [131]:
#nao vou remover a sigla pois a tabela de dados contém os estados (nome igual)
#tabela['nome'] = tabela['nome'].apply(remover_parenteses)

In [132]:
tabela['nome']

0                    Acre
1         Acrelândia (AC)
2       Assis Brasil (AC)
3          Brasiléia (AC)
4             Bujari (AC)
              ...
5591       Witmarsum (SC)
5592         Xanxerê (SC)
5593       Xavantina (SC)
5594           Xaxim (SC)
5595          Zortéa (SC)
Name: nome, Length: 5592, dtype: object

# Encontrar lat lon certa

In [61]:
geo.loc[geo['nome']=='Brasil']

   codigo_ibge  uf    nome   latitude  longitude  capital
0            1  BR  Brasil -14.235004  -51.92528        2

In [62]:
geo.loc[geo['uf']=='AC']

      codigo_ibge  uf                  nome  latitude  longitude  capital
2              12  AC                  Acre  -8.77000   -70.5500        2
54        1200013  AC            Acrelândia  -9.82581   -66.8972        0
438       1200054  AC          Assis Brasil -10.92980   -69.5738        0
781       1200104  AC             Brasiléia -10.99500   -68.7497        0
824       1200138  AC                Bujari  -9.81528   -67.9550        0
1110      1200179  AC              Capixaba -10.56600   -67.6860        0
1513      1200203  AC       Cruzeiro do Sul  -7.62762   -72.6756        0
1706      1200252  AC        Epitaciolândia -11.01880   -68.7341        0
1784      1200302  AC                 Feijó  -8.17054   -70.3510        0
2636      1200328  AC                Jordão  -9.43091   -71.8974        0
2914      1200336  AC           Mâncio Lima  -7.61657   -72.8997        0
2928      1200344  AC         Manoel Urbano  -8.83291   -69.2679        0
2974      1200351  AC  Marechal Thaumaturgo  -8.93898   -72.7997        0
3901      1200385  AC     Plácido de Castro -10.28060   -67.1371        0
3974      1200807  AC            Porto Acre  -9.58138   -67.5478        0
4008      1200393  AC          Porto Walter  -8.26323   -72.7537        0
4221      1200401  AC            Rio Branco  -9.97499   -67.8243        1
4289      1200427  AC       Rodrigues Alves  -7.73864   -72.6610        0
4502      1200435  AC   Santa Rosa do Purus  -9.44652   -70.4902        0
4990      1200500  AC        Sena Madureira  -9.06596   -68.6571        0
4998      1200450  AC      Senador Guiomard -10.14970   -67.7362        0
5205      1200609  AC              Tarauacá  -8.15697   -70.7722        0
5588      1200708  AC                Xapuri -10.65160   -68.4969        0

In [60]:
geo['nomeEdit'] = geo['nome'].apply(clean_string_original)

In [147]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5618 entries, 0 to 5617
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5618 non-null   int64
 1   uf           5618 non-null   object
 2   nome         5618 non-null   object
 3   latitude     5618 non-null   float64
 4   longitude    5618 non-null   float64
 5   capital      5618 non-null   int64
 6   nomeEdit     5618 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 307.4+ KB

## municipios

In [99]:
#pegar apenas municipios
muni_geo = geo.copy()
muni_geo = muni_geo.loc[muni_geo['capital']!=2]

In [100]:
muni_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5590 entries, 28 to 5617
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5590 non-null   int64
 1   uf           5590 non-null   object
 2   nome         5590 non-null   object
 3   latitude     5590 non-null   float64
 4   longitude    5590 non-null   float64
 5   capital      5590 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 305.7+ KB

In [101]:
def adiciona_parenteses(row):
    if (row['capital'] != 2):
        novo = str(row['nome']).strip() + ' (' + str(row['uf']).strip() + ')'
    else:
        novo = row['nome']

    return novo

In [102]:
#df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
#df.apply (lambda row: label_race(row), axis=1)

muni_geo.apply(lambda row: adiciona_parenteses(row), axis=1)

28                Abadia de Goiás (GO)
29            Abadia dos Dourados (MG)
30                      Abadiânia (GO)
31                         Abaeté (MG)
32                     Abaetetuba (PA)
                     ...
5613                  São Caitano (PE)
5614                     Iguaraci (PE)
5615                   Brasópolis (MG)
5616                      Poxoréo (MT)
5617    São Valério da Natividade (TO)
Length: 5590, dtype: object

In [103]:
muni_geo['novoNome'] = muni_geo.apply(lambda row: adiciona_parenteses(row), axis=1)

In [104]:
muni_geo['nomeEdit'] = muni_geo['novoNome'].apply(clean_string_original)

In [83]:
#geo.tail()

In [133]:
muni_geo.head()

,codigo_ibge,uf,nome,latitude,longitude,capital,novoNome,nomeEdit
28,5200050,GO,Abadia de Goiás,-16.75730,-49.4412,0,Abadia de Goiás (GO),abadiadegoias(go)
29,3100104,MG,Abadia dos Dourados,-18.48310,-47.3916,0,Abadia dos Dourados (MG),abadiadosdourados(mg)
30,5200100,GO,Abadiânia,-16.19700,-48.7057,0,Abadiânia (GO),abadiania(go)
31,3100203,MG,Abaeté,-19.15510,-45.4444,0,Abaeté (MG),abaete(mg)
32,1500107,PA,Abaetetuba,-1.72183,-48.8788,0,Abaetetuba (PA),abaetetuba(pa)

In [134]:
tabela['nomeEdit'] = tabela['nome'].apply(clean_string_original)

In [135]:
tabela.head()

,uf,nome,sim,sim%,nao,nao%,total,nomeEdit
0,AC,Acre,200674.0,0.934515,14062.0,0.065485,214736.0,acre
1,AC,Acrelândia (AC),3255.0,0.967311,110.0,0.032689,3365.0,acrelandia(ac)
2,AC,Assis Brasil (AC),1605.0,0.918192,143.0,0.081808,1748.0,assisbrasil(ac)
3,AC,Brasiléia (AC),5719.0,0.945133,332.0,0.054867,6051.0,brasileia(ac)
4,AC,Bujari (AC),2061.0,0.920500,178.0,0.079500,2239.0,bujari(ac)

In [151]:
dataset_merge = pd.merge(tabela, muni_geo, how='inner', left_on=['uf','nomeEdit'],right_on=['uf','nomeEdit'])

In [152]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5565 entries, 0 to 5564
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uf           5565 non-null   object
 1   nome_x       5565 non-null   object
 2   sim          5565 non-null   float64
 3   sim%         5565 non-null   float64
 4   nao          5565 non-null   float64
 5   nao%         5565 non-null   float64
 6   total        5565 non-null   float64
 7   nomeEdit     5565 non-null   object
 8   codigo_ibge  5565 non-null   int64
 9   nome_y       5565 non-null   object
 10  latitude     5565 non-null   float64
 11  longitude    5565 non-null   float64
 12  capital      5565 non-null   int64
 13  novoNome     5565 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 652.1+ KB

### operações para encontrar mismatches

In [153]:
dataset_merge.loc[dataset_merge['nomeEdit']=='goias']

Empty DataFrame
Columns: [uf, nome_x, sim, sim%, nao, nao%, total, nomeEdit, codigo_ibge, nome_y, latitude, longitude, capital, novoNome]
Index: []

In [154]:
notfound = dataset_merge[dataset_merge.isna().any(axis=1)]
notfound

Empty DataFrame
Columns: [uf, nome_x, sim, sim%, nao, nao%, total, nomeEdit, codigo_ibge, nome_y, latitude, longitude, capital, novoNome]
Index: []

In [142]:
#notfound.sort_values(by=['uf','nome_x'])

In [141]:
len(notfound['nome_x'].tolist())#-28

27

In [144]:
#notfound['nome_x'].tolist()

In [145]:
#dataset_merge

In [166]:
dataset_right = pd.merge(tabela, geo, how='right', left_on=['uf','nomeEdit'],right_on=['uf','nomeEdit'])

In [167]:
dataset_right.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5618 entries, 0 to 5617
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uf              5618 non-null   object
 1   nome_x          5592 non-null   object
 2   sim_frequencia  5592 non-null   float64
 3   sim_percentual  5592 non-null   float64
 4   nao_frequencia  5592 non-null   float64
 5   nao_percentual  5592 non-null   float64
 6   total           5592 non-null   float64
 7   nomeEdit        5618 non-null   object
 8   codigo_ibge     5618 non-null   int64
 9   nome_y          5618 non-null   object
 10  latitude        5618 non-null   float64
 11  longitude       5618 non-null   float64
 12  capital         5618 non-null   int64
 13  novoNome        5618 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 658.4+ KB

In [168]:
notfound = dataset_right[dataset_right.isna().any(axis=1)]

In [169]:
#notfound.loc[notfound['estado'] != 'Brasil'].sort_values(by=['estado'])

In [170]:
notfound.sort_values(by=['uf','nome_y'])

      uf nome_x  ...  capital                            novoNome
5598  BA    NaN  ...        0        Muquém de São Francisco (BA)
5602  BA    NaN  ...        0                Santa Teresinha (BA)
5592  BR    NaN  ...        2                              Brasil
5606  CE    NaN  ...        0                        Itapagé (CE)
5615  MG    NaN  ...        0                     Brasópolis (MG)
5599  MS    NaN  ...        0              Paraíso das Águas (MS)
5616  MT    NaN  ...        0                        Poxoréo (MT)
5610  PA    NaN  ...        0           Eldorado dos Carajás (PA)
5597  PA    NaN  ...        0               Mojuí dos Campos (PA)
5611  PA    NaN  ...        0           Santa Isabel do Pará (PA)
5612  PB    NaN  ...        0                       Santarém (PB)
5613  PB    NaN  ...        0                         Seridó (PB)
5614  PE    NaN  ...        0                       Iguaraci (PE)
5603  PE    NaN  ...        0                    São Caetano (PE)
5593  RN    NaN  ...        0  Augusto Severo (Campo Grande) (RN)
5605  RN    NaN  ...        0                      Boa Saúde (RN)
5604  RN    NaN  ...        0                   Campo Grande (RN)
5596  RN    NaN  ...        0     Januário Cicco (Boa Saúde) (RN)
5601  RS    NaN  ...        0                 Pinto Bandeira (RS)
5594  SC    NaN  ...        0               Balneário Rincão (SC)
5600  SC    NaN  ...        0                 Pescaria Brava (SC)
5607  SP    NaN  ...        0                           Embu (SP)
5595  SP    NaN  ...        0                       Florínia (SP)
5608  SP    NaN  ...        0                     Moji Mirim (SP)
5609  SP    NaN  ...        0         São Luís do Paraitinga (SP)
5617  TO    NaN  ...        0      São Valério da Natividade (TO)

[26 rows x 14 columns]

## Dataset final

In [155]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5565 entries, 0 to 5564
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uf           5565 non-null   object
 1   nome_x       5565 non-null   object
 2   sim          5565 non-null   float64
 3   sim%         5565 non-null   float64
 4   nao          5565 non-null   float64
 5   nao%         5565 non-null   float64
 6   total        5565 non-null   float64
 7   nomeEdit     5565 non-null   object
 8   codigo_ibge  5565 non-null   int64
 9   nome_y       5565 non-null   object
 10  latitude     5565 non-null   float64
 11  longitude    5565 non-null   float64
 12  capital      5565 non-null   int64
 13  novoNome     5565 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 652.1+ KB

In [156]:
#coluna estado pode ser ignorada quando é brasil
dataset_merge.drop(columns='nomeEdit', inplace=True)
dataset_merge.drop(columns='codigo_ibge', inplace=True)
dataset_merge.drop(columns='nome_y', inplace=True)
dataset_merge.drop(columns='capital', inplace=True)
dataset_merge.drop(columns='novoNome', inplace=True)

In [157]:
dataset_merge.rename(columns={'nome_x':'nome'}, inplace=True)

In [158]:
#coluna estado pode ser ignorada quando é brasil
#dataset_merge.drop(columns='estado', inplace=True)
#dataset_merge.drop(columns='cep', inplace=True)

In [159]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5565 entries, 0 to 5564
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uf         5565 non-null   object
 1   nome       5565 non-null   object
 2   sim        5565 non-null   float64
 3   sim%       5565 non-null   float64
 4   nao        5565 non-null   float64
 5   nao%       5565 non-null   float64
 6   total      5565 non-null   float64
 7   latitude   5565 non-null   float64
 8   longitude  5565 non-null   float64
dtypes: float64(7), object(2)
memory usage: 434.8+ KB

# Salvar arquivo csv final

In [160]:
#municipios
dataset_merge.to_csv('Eixo2_Tabela3.csv', index=False, encoding='utf-8')