In [1]:
# Esse é o Notebook n.11 da nossa "série de notebooks" dos indicadores do Visão
# Aqui refere-se ao Eixo 4 Tabela: Distribuição de jovens por raça/cor segundo se estuda

In [2]:
import pandas as pd
import numpy as np

# Banco do Visão

In [3]:
estados_visao = ['Rondônia' , 'Acre' , 'Amazonas','Roraima' , 'Pará' , 'Amapá' , 'Tocantins' , 'Maranhão' , 'Piauí' , 'Ceará' , 'Rio Grande do Norte' , 'Paraíba' , 'Pernambuco' , 'Alagoas' , 'Sergipe' , 'Bahia' , 'Minas Gerais' , 'Espírito Santo' , 'Rio de Janeiro' , 'São Paulo' , 'Paraná' , 'Santa Catarina' , 'Rio Grande do Sul' , 'Mato Grosso do Sul' , 'Mato Grosso' , 'Goiás' , 'Distrito Federal']
# acima eu tenho a listagem de estados do visão ORIGINAL! 
# Mas vou refazer tirando a acento de "Paraíba", pois no dataset que pegamos tá sem acento!
estados_visao = ['Rondônia' , 'Acre' , 'Amazonas','Roraima' , 'Pará' , 'Amapá' , 'Tocantins' , 'Maranhão' , 'Piauí' , 'Ceará' , 'Rio Grande do Norte' , 'Paraiba' , 'Pernambuco' , 'Alagoas' , 'Sergipe' , 'Bahia' , 'Minas Gerais' , 'Espírito Santo' , 'Rio de Janeiro' , 'São Paulo' , 'Paraná' , 'Santa Catarina' , 'Rio Grande do Sul' , 'Mato Grosso do Sul' , 'Mato Grosso' , 'Goiás' , 'Distrito Federal']

# Código do Visão
codigos_visao = [5728,5708,5710,5729,5721,5711,5734,5717,5724,5713,5727,5722,5723,5709,5732,5712,5718,5715,5726,5733,5725,5731,5730,5719,5720,5716,5714]

# vou colocar os estados e os códigos em um dataframe:
df_auxiliar = pd.DataFrame()
df_auxiliar['UF'] = estados_visao
df_auxiliar['id'] = codigos_visao

# e ordeno agora em ordem alfabetica:
df_auxiliar.sort_values(['UF'], inplace=True)    # ordenar por ordem alfabetica dos estados, assim como está no dataset
df_auxiliar = df_auxiliar.reset_index(drop=True) # resetar os índices
df_auxiliar['UF_no_dataset'] = '-'
df_auxiliar.head(5)

         UF    id UF_no_dataset
0      Acre  5708             -
1   Alagoas  5709             -
2     Amapá  5711             -
3  Amazonas  5710             -
4     Bahia  5712             -

# Parâmetros fixos:

IDs dos ANOS

2010: 11
2011: 12
2012: 13
2013: 14
2014: 15
2015: 16 
2016: 17
2017: 18
2018: 19
2019: 20

Backup dos valores de group_id:

Branca - Estuda (frequência) - id: 474
Branca - Estuda (percentual) - id: 475
Branca - Não estuda (frequência) - id: 476
Branca - Não estuda (percentual) - id: 477
Preta - Estuda (frequência) - id: 478
Preta - Estuda (percentual) - id: 479
Preta - Não estuda (frequência) - id: 480
Preta - Não estuda (percentual) - id: 481
Amarela - Estuda (frequência) - id: 482
Amarela - Estuda (percentual) - id: 483
Amarela - Não estuda (frequência) - id: 484
Amarela - Não estuda (percentual) - id: 485
Parda - Estuda (frequência) - id: 486
Parda - Estuda (percentual) - id: 487
Parda - Não estuda (frequência) - id: 488
Parda - Não estuda (percentual) - id: 489
Indígena - Estuda (frequência) - id: 490
Indígena - Estuda (percentual) - id: 491
Indígena - Não estuda (frequência) - id: 492
Indígena - Não estuda (percentual) - id: 493
Total (frequência) - id: 494

# Função pra gerar o SQL

In [4]:
def gerar_SQL_insert(name_column, group_id, year_id, dataset, id_banco,percentual):
    codigo_sql = []
    for index, row in dataset.iterrows():
        id_banco = id_banco + 1
        region_id = dataset.loc[index,'id']   
        jhi_value = dataset.loc[index,name_column] 
        if percentual:
            jhi_value = round(jhi_value*100,1)
        sql = "INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (" + str(id_banco) + ",'" + str(jhi_value) + "','" + str(region_id) + "','" + group_id + "','" + year_id + "');"
        codigo_sql.append(sql)
    return codigo_sql

# Ano a ano:

In [5]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2010                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [6]:
dataset2010 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2010")
dataset2010.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,18665,0.086947,29221,0.136121,4208,0.019602,8136,0.037900,...,0.013789,53237,0.247995,92578,0.431257,1829,0.008520,2042,0.009512,214670
1,AL,Alagoas,103396,0.118157,155781,0.178021,19746,0.022565,38104,0.043544,...,0.009216,199867,0.228401,342096,0.390936,1540,0.001760,2377,0.002716,875070
2,AP,Amapá,19943,0.097050,28829,0.140293,6807,0.033125,11491,0.055919,...,0.007480,51705,0.251616,81979,0.398940,1209,0.005883,986,0.004798,205492
3,AM,Amazonas,93033,0.090523,123455,0.120124,14760,0.014362,27358,0.026620,...,0.006482,282677,0.275051,430332,0.418722,19100,0.018585,26229,0.025521,1027727
4,BA,Bahia,298030,0.075692,494520,0.125595,238057,0.060460,466889,0.118578,...,0.008264,867280,0.220267,1508267,0.383061,5482,0.001392,9084,0.002307,3937405

In [7]:
#correção para Paraiba
#index = dataset2010.loc[dataset2010['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
#dataset2010.at[index[0],'UF'] = 'Paraiba'

In [8]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2010.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2010 = dataset2010.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2010['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [9]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2010['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2010.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,18665,0.086947,29221,0.136121,4208,0.019602,8136,0.037900,...,53237,0.247995,92578,0.431257,1829,0.008520,2042,0.009512,214670,5708
1,AL,Alagoas,103396,0.118157,155781,0.178021,19746,0.022565,38104,0.043544,...,199867,0.228401,342096,0.390936,1540,0.001760,2377,0.002716,875070,5709
2,AP,Amapá,19943,0.097050,28829,0.140293,6807,0.033125,11491,0.055919,...,51705,0.251616,81979,0.398940,1209,0.005883,986,0.004798,205492,5711
3,AM,Amazonas,93033,0.090523,123455,0.120124,14760,0.014362,27358,0.026620,...,282677,0.275051,430332,0.418722,19100,0.018585,26229,0.025521,1027727,5710
4,BA,Bahia,298030,0.075692,494520,0.125595,238057,0.060460,466889,0.118578,...,867280,0.220267,1508267,0.383061,5482,0.001392,9084,0.002307,3937405,5712

In [10]:
dataset2010[dataset2010.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaEstuda, BrancaEstuda(%), BrancaNaoEstuda, BrancaNaoEstuda(%), PretaEstuda, PretaEstuda(%), PretaNaoEstuda, PretaNaoEstuda(%), AmarelaEstuda, AmarelaEstuda(%), AmarelaNaoEstuda, AmarelaNaoEstuda(%), PardaEstuda, PardaEstuda(%), PardaNaoEstuda, PardaNaoEstuda(%), IndigenaEstuda, IndigenaEstuda(%), IndigenaNaoEstuda, IndigenaNaoEstuda(%), Total, id]
Index: []

[0 rows x 24 columns]

In [11]:
#dataset2010.columns

In [80]:
year_id = "11"      #Ano: 2010
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5158115  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2010

print('Ano: 2010')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\n')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2010

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158116,'18665','5708','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158117,'103396','5709','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158118,'19943','5711','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158119,'93033','5710','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158120,'298030','5712','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158121,'271023','5713','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158122,'124916','5714','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158123,'131754','5715','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158124,'242801','5716','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158125,'155181','5717','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158126,'115883','5720','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158127,'112390','5719','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158128,'825390','5718','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158129,'154669','5722','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158130,'694122','5725','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158131,'178394','5721','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158132,'318362','5723','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158133,'90331','5724','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158134,'137520','5727','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158135,'804640','5730','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158136,'708655','5726','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158137,'54914','5728','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158138,'11600','5729','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158139,'486802','5731','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158140,'63452','5732','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158141,'2388018','5733','474','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158142,'36839','5734','474','11');

Conferir valor atual do id_banco:  5158142

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158143,'8.7','5708','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158144,'11.8','5709','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158145,'9.7','5711','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158146,'9.1','5710','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158147,'7.6','5712','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158148,'11.2','5713','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158149,'17.0','5714','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158150,'13.9','5715','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158151,'14.8','5716','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158152,'8.0','5717','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158153,'13.6','5720','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158154,'17.0','5719','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158155,'16.0','5718','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158156,'15.1','5722','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158157,'25.6','5725','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158158,'8.0','5721','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158159,'13.2','5723','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158160,'10.3','5724','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158161,'15.4','5727','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158162,'30.5','5730','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158163,'18.0','5726','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158164,'12.1','5728','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158165,'8.7','5729','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158166,'29.0','5731','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158167,'10.7','5732','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158168,'22.3','5733','475','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158169,'9.3','5734','475','11');

Conferir valor atual do id_banco:  5158169

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158170,'29221','5708','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158171,'155781','5709','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158172,'28829','5711','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158173,'123455','5710','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158174,'494520','5712','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158175,'464379','5713','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158176,'159174','5714','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158177,'239058','5715','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158178,'398393','5716','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158179,'257056','5717','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158180,'186863','5720','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158181,'187194','5719','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158182,'1353272','5718','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158183,'237450','5722','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158184,'1171019','5725','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158185,'284365','5721','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158186,'523444','5723','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158187,'118333','5724','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158188,'218947','5727','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158189,'1353003','5730','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158190,'1041777','5726','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158191,'97263','5728','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158192,'15244','5729','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158193,'895807','5731','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158194,'91066','5732','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158195,'4124624','5733','476','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158196,'52546','5734','476','11');

Conferir valor atual do id_banco:  5158196

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158197,'13.6','5708','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158198,'17.8','5709','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158199,'14.0','5711','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158200,'12.0','5710','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158201,'12.6','5712','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158202,'19.2','5713','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158203,'21.7','5714','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158204,'25.2','5715','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158205,'24.2','5716','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158206,'13.3','5717','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158207,'21.9','5720','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158208,'28.2','5719','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158209,'26.3','5718','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158210,'23.1','5722','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158211,'43.2','5725','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158212,'12.7','5721','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158213,'21.7','5723','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158214,'13.5','5724','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158215,'24.5','5727','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158216,'51.2','5730','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158217,'26.5','5726','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158218,'21.5','5728','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158219,'11.4','5729','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158220,'53.4','5731','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158221,'15.4','5732','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158222,'38.5','5733','477','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158223,'13.3','5734','477','11');

Conferir valor atual do id_banco:  5158223

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158224,'4208','5708','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158225,'19746','5709','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158226,'6807','5711','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158227,'14760','5710','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158228,'238057','5712','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158229,'30391','5713','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158230,'22618','5714','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158231,'22517','5715','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158232,'32701','5716','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158233,'60858','5717','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158234,'20811','5720','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158235,'10107','5719','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158236,'144907','5718','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158237,'19114','5722','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158238,'23600','5725','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158239,'52790','5721','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158240,'50570','5723','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158241,'29887','5724','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158242,'15041','5727','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158243,'51789','5730','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158244,'168169','5726','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158245,'9523','5728','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158246,'2522','5729','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158247,'14052','5731','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158248,'19433','5732','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158249,'182258','5733','478','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158250,'12331','5734','478','11');

Conferir valor atual do id_banco:  5158250

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158251,'2.0','5708','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158252,'2.3','5709','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158253,'3.3','5711','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158254,'1.4','5710','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158255,'6.0','5712','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158256,'1.3','5713','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158257,'3.1','5714','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158258,'2.4','5715','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158259,'2.0','5716','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158260,'3.1','5717','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158261,'2.4','5720','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158262,'1.5','5719','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158263,'2.8','5718','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158264,'1.9','5722','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158265,'0.9','5725','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158266,'2.4','5721','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158267,'2.1','5723','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158268,'3.4','5724','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158269,'1.7','5727','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158270,'2.0','5730','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158271,'4.3','5726','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158272,'2.1','5728','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158273,'1.9','5729','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158274,'0.8','5731','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158275,'3.3','5732','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158276,'1.7','5733','479','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158277,'3.1','5734','479','11');

Conferir valor atual do id_banco:  5158277

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158278,'8136','5708','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158279,'38104','5709','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158280,'11491','5711','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158281,'27358','5710','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158282,'466889','5712','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158283,'75048','5713','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158284,'40899','5714','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158285,'61783','5715','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158286,'80776','5716','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158287,'123341','5717','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158288,'45997','5720','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158289,'24370','5719','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158290,'348775','5718','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158291,'38279','5722','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158292,'62353','5725','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158293,'105146','5721','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158294,'105368','5723','480','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158295,'51143','5724','480','11');

In [13]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2011                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [14]:
dataset2011 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2011")
dataset2011.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,18995,0.094231,31904,0.158270,4798,0.023802,9785,0.048542,...,0.000000,53850,0.267141,82247,0.408014,0.0,0.000000,0.0,0.000000,201579
1,AL,Alagoas,100179,0.114789,149090,0.170834,20623,0.023631,47141,0.054016,...,0.000000,191518,0.219450,364169,0.417280,NaN,0.000000,0.0,0.000000,872720
2,AP,Amapá,19988,0.096999,28257,0.137127,6202,0.030097,11259,0.054638,...,0.000000,59035,0.286489,81323,0.394649,NaN,0.000000,0.0,0.000000,206064
3,AM,Amazonas,91986,0.091231,119707,0.118725,19247,0.019089,24465,0.024264,...,0.004204,289325,0.286951,420487,0.417037,19571.0,0.019410,19246.0,0.019088,1008273
4,BA,Bahia,272655,0.071752,420191,0.110578,246246,0.064802,531955,0.139990,...,0.002610,855753,0.225201,1441890,0.379449,8185.0,0.002154,13162.0,0.003464,3799956

In [15]:
#correção para Paraiba
#index = dataset2010.loc[dataset2010['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
#dataset2010.at[index[0],'UF'] = 'Paraiba'

In [16]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2011.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2011 = dataset2011.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2011['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [17]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2011['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2011.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,18995,0.094231,31904,0.158270,4798,0.023802,9785,0.048542,...,53850,0.267141,82247,0.408014,0.0,0.000000,0.0,0.000000,201579,5708
1,AL,Alagoas,100179,0.114789,149090,0.170834,20623,0.023631,47141,0.054016,...,191518,0.219450,364169,0.417280,NaN,0.000000,0.0,0.000000,872720,5709
2,AP,Amapá,19988,0.096999,28257,0.137127,6202,0.030097,11259,0.054638,...,59035,0.286489,81323,0.394649,NaN,0.000000,0.0,0.000000,206064,5711
3,AM,Amazonas,91986,0.091231,119707,0.118725,19247,0.019089,24465,0.024264,...,289325,0.286951,420487,0.417037,19571.0,0.019410,19246.0,0.019088,1008273,5710
4,BA,Bahia,272655,0.071752,420191,0.110578,246246,0.064802,531955,0.139990,...,855753,0.225201,1441890,0.379449,8185.0,0.002154,13162.0,0.003464,3799956,5712

In [18]:
dataset2011[dataset2011.isna().any(axis=1)]

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
1,AL,Alagoas,100179,0.114789,149090,0.170834,20623,0.023631,47141,0.054016,...,191518,0.219450,364169,0.417280,NaN,0.00000,0.0,0.000000,872720,5709
2,AP,Amapá,19988,0.096999,28257,0.137127,6202,0.030097,11259,0.054638,...,59035,0.286489,81323,0.394649,NaN,0.00000,0.0,0.000000,206064,5711
7,ES,Espírito Santo,123692,0.127929,244229,0.252595,29474,0.030484,71057,0.073491,...,159999,0.165480,338429,0.350022,NaN,0.00000,0.0,0.000000,966880,5715
13,PB,Paraiba,150066,0.148411,204488,0.202232,13759,0.013607,40642,0.040194,...,208236,0.205939,387083,0.382813,0.0,0.00000,6880.0,0.006804,1011154,5722
17,PI,Piauí,84952,0.106264,117016,0.146372,29255,0.036594,35439,0.044330,...,213783,0.267415,318997,0.399025,0.0,0.00000,NaN,0.000000,799442,5724
18,RN,Rio Grande do Norte,137852,0.158821,239101,0.275471,12809,0.014757,38429,0.044275,...,151267,0.174277,288513,0.332399,NaN,0.00000,NaN,0.000000,867971,5727
19,RS,Rio Grande do Sul,747545,0.291174,1308078,0.509506,44571,0.017361,112111,0.043668,...,113870,0.044353,233923,0.091115,0.0,0.00000,7247.0,0.002823,2567345,5730
24,SE,Sergipe,54392,0.092370,80675,0.137004,16795,0.028522,29938,0.050841,...,132890,0.225677,273430,0.464346,730.0,0.00124,0.0,0.000000,588850,5732

In [19]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2011 = dataset2011.fillna(0)

In [20]:
year_id = "12"      #Ano: 2011
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5158682  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2011

print('Ano: 2011')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\n')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2011

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158683,'18995','5708','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158684,'100179','5709','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158685,'19988','5711','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158686,'91986','5710','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158687,'272655','5712','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158688,'303366','5713','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158689,'126959','5714','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158690,'123692','5715','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158691,'243685','5716','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158692,'132623','5717','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158693,'124544','5720','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158694,'115098','5719','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158695,'808923','5718','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158696,'150066','5722','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158697,'703414','5725','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158698,'179327','5721','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158699,'285955','5723','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158700,'84952','5724','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158701,'137852','5727','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158702,'747545','5730','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158703,'720759','5726','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158704,'61934','5728','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158705,'17174','5729','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158706,'493487','5731','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158707,'54392','5732','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158708,'2118248','5733','474','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158709,'35528','5734','474','12');

Conferir valor atual do id_banco:  5158709

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158710,'9.4','5708','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158711,'11.5','5709','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158712,'9.7','5711','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158713,'9.1','5710','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158714,'7.2','5712','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158715,'13.2','5713','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158716,'17.8','5714','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158717,'12.8','5715','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158718,'15.3','5716','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158719,'7.4','5717','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158720,'14.9','5720','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158721,'18.3','5719','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158722,'16.1','5718','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158723,'14.8','5722','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158724,'25.9','5725','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158725,'8.1','5721','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158726,'12.1','5723','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158727,'10.6','5724','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158728,'15.9','5727','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158729,'29.1','5730','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158730,'19.6','5726','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158731,'13.6','5728','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158732,'12.6','5729','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158733,'29.7','5731','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158734,'9.2','5732','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158735,'20.2','5733','475','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158736,'9.3','5734','475','12');

Conferir valor atual do id_banco:  5158736

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158737,'31904','5708','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158738,'149090','5709','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158739,'28257','5711','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158740,'119707','5710','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158741,'420191','5712','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158742,'462499','5713','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158743,'162220','5714','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158744,'244229','5715','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158745,'406395','5716','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158746,'263777','5717','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158747,'177552','5720','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158748,'206960','5719','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158749,'1342565','5718','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158750,'204488','5722','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158751,'1143976','5725','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158752,'278834','5721','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158753,'501249','5723','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158754,'117016','5724','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158755,'239101','5727','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158756,'1308078','5730','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158757,'1011226','5726','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158758,'98351','5728','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158759,'15107','5729','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158760,'903198','5731','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158761,'80675','5732','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158762,'4315183','5733','476','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158763,'56356','5734','476','12');

Conferir valor atual do id_banco:  5158763

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158764,'15.8','5708','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158765,'17.1','5709','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158766,'13.7','5711','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158767,'11.9','5710','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158768,'11.1','5712','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158769,'20.2','5713','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158770,'22.7','5714','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158771,'25.3','5715','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158772,'25.5','5716','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158773,'14.6','5717','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158774,'21.3','5720','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158775,'32.9','5719','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158776,'26.8','5718','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158777,'20.2','5722','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158778,'42.1','5725','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158779,'12.6','5721','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158780,'21.2','5723','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158781,'14.6','5724','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158782,'27.5','5727','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158783,'51.0','5730','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158784,'27.4','5726','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158785,'21.6','5728','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158786,'11.1','5729','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158787,'54.4','5731','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158788,'13.7','5732','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158789,'41.1','5733','477','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158790,'14.8','5734','477','12');

Conferir valor atual do id_banco:  5158790

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158791,'4798','5708','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158792,'20623','5709','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158793,'6202','5711','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158794,'19247','5710','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158795,'246246','5712','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158796,'22403','5713','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158797,'22384','5714','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158798,'29474','5715','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158799,'29349','5716','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158800,'80879','5717','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158801,'27768','5720','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158802,'16560','5719','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158803,'138696','5718','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158804,'13759','5722','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158805,'20897','5725','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158806,'51552','5721','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158807,'52313','5723','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158808,'29255','5724','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158809,'12809','5727','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158810,'44571','5730','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158811,'168352','5726','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158812,'9665','5728','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158813,'4639','5729','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158814,'14630','5731','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158815,'16795','5732','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158816,'158679','5733','478','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158817,'14211','5734','478','12');

Conferir valor atual do id_banco:  5158817

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158818,'2.4','5708','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158819,'2.4','5709','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158820,'3.0','5711','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158821,'1.9','5710','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158822,'6.5','5712','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158823,'1.0','5713','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158824,'3.1','5714','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158825,'3.0','5715','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158826,'1.8','5716','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158827,'4.5','5717','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158828,'3.3','5720','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158829,'2.6','5719','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158830,'2.8','5718','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158831,'1.4','5722','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158832,'0.8','5725','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158833,'2.3','5721','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158834,'2.2','5723','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158835,'3.7','5724','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158836,'1.5','5727','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158837,'1.7','5730','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158838,'4.6','5726','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158839,'2.1','5728','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158840,'3.4','5729','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158841,'0.9','5731','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158842,'2.9','5732','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158843,'1.5','5733','479','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158844,'3.7','5734','479','12');

Conferir valor atual do id_banco:  5158844

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158845,'9785','5708','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158846,'47141','5709','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158847,'11259','5711','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158848,'24465','5710','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158849,'531955','5712','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158850,'51065','5713','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158851,'27911','5714','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158852,'71057','5715','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158853,'78428','5716','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158854,'173424','5717','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158855,'55543','5720','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158856,'38640','5719','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158857,'374496','5718','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158858,'40642','5722','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158859,'67543','5725','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158860,'95524','5721','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158861,'129176','5723','480','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5158862,'35439','5724','480','12');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159088,'40.8','5708','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159089,'41.7','5709','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159090,'39.5','5711','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159091,'41.7','5710','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159092,'37.9','5712','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159093,'41.6','5713','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159094,'32.2','5714','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159095,'35.0','5715','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159096,'34.6','5716','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159097,'42.0','5717','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159098,'33.8','5720','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159099,'26.1','5719','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159100,'31.7','5718','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159101,'38.3','5722','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159102,'19.6','5725','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159103,'45.0','5721','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159104,'38.9','5723','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159105,'39.9','5724','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159106,'33.2','5727','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159107,'9.1','5730','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159108,'25.4','5726','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159109,'36.7','5728','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159110,'35.1','5729','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159111,'9.3','5731','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159112,'46.4','5732','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159113,'22.4','5733','489','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159114,'41.1','5734','489','12');

Conferir valor atual do id_banco:  5159114

IndigenaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159115,'0.0','5708','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159116,'0.0','5709','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159117,'0.0','5711','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159118,'19571.0','5710','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159119,'8185.0','5712','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159120,'0.0','5713','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159121,'0.0','5714','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159122,'0.0','5715','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159123,'0.0','5716','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159124,'0.0','5717','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159125,'0.0','5720','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159126,'0.0','5719','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159127,'0.0','5718','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159128,'0.0','5722','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159129,'0.0','5725','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159130,'6094.0','5721','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159131,'10509.0','5723','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159132,'0.0','5724','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159133,'0.0','5727','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159134,'0.0','5730','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159135,'0.0','5726','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159136,'0.0','5728','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159137,'2744.0','5729','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159138,'0.0','5731','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159139,'730.0','5732','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159140,'0.0','5733','490','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159141,'1856.0','5734','490','12');

Conferir valor atual do id_banco:  5159141

IndigenaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159142,'0.0','5708','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159143,'0.0','5709','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159144,'0.0','5711','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159145,'1.9','5710','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159146,'0.2','5712','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159147,'0.0','5713','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159148,'0.0','5714','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159149,'0.0','5715','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159150,'0.0','5716','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159151,'0.0','5717','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159152,'0.0','5720','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159153,'0.0','5719','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159154,'0.0','5718','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159155,'0.0','5722','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159156,'0.0','5725','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159157,'0.3','5721','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159158,'0.4','5723','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159159,'0.0','5724','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159160,'0.0','5727','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159161,'0.0','5730','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159162,'0.0','5726','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159163,'0.0','5728','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159164,'2.0','5729','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159165,'0.0','5731','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159166,'0.1','5732','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159167,'0.0','5733','491','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159168,'0.5','5734','491','12');

Conferir valor atual do id_banco:  5159168

IndigenaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159169,'0.0','5708','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159170,'0.0','5709','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159171,'0.0','5711','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159172,'19246.0','5710','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159173,'13162.0','5712','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159174,'0.0','5713','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159175,'0.0','5714','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159176,'0.0','5715','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159177,'0.0','5716','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159178,'0.0','5717','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159179,'0.0','5720','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159180,'5518.0','5719','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159181,'15953.0','5718','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159182,'6880.0','5722','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159183,'0.0','5725','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159184,'9356.0','5721','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159185,'6991.0','5723','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159186,'0.0','5724','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159187,'0.0','5727','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159188,'7247.0','5730','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159189,'0.0','5726','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159190,'0.0','5728','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159191,'3611.0','5729','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159192,'0.0','5731','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159193,'0.0','5732','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159194,'12313.0','5733','492','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159195,'0.0','5734','492','12');

Conferir valor atual do id_banco:  5159195

IndigenaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159196,'0.0','5708','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159197,'0.0','5709','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159198,'0.0','5711','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159199,'1.9','5710','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159200,'0.3','5712','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159201,'0.0','5713','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159202,'0.0','5714','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159203,'0.0','5715','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159204,'0.0','5716','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159205,'0.0','5717','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159206,'0.0','5720','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159207,'0.9','5719','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159208,'0.3','5718','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159209,'0.7','5722','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159210,'0.0','5725','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159211,'0.4','5721','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159212,'0.3','5723','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159213,'0.0','5724','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159214,'0.0','5727','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159215,'0.3','5730','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159216,'0.0','5726','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159217,'0.0','5728','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159218,'2.7','5729','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159219,'0.0','5731','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159220,'0.0','5732','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159221,'0.1','5733','493','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159222,'0.0','5734','493','12');

Conferir valor atual do id_banco:  5159222

Total

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159223,'201579','5708','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159224,'872720','5709','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159225,'206064','5711','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159226,'1008273','5710','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159227,'3799956','5712','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159228,'2293063','5713','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159229,'713898','5714','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159230,'966880','5715','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159231,'1592057','5716','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159232,'1804210','5717','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159233,'833495','5720','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159234,'629966','5719','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159235,'5014588','5718','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159236,'1011154','5722','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159237,'2718843','5725','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159238,'2207213','5721','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159239,'2362870','5723','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159240,'799442','5724','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159241,'867971','5727','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159242,'2567345','5730','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159243,'3685288','5726','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159244,'455809','5728','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159245,'135839','5729','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159246,'1660061','5731','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159247,'588850','5732','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159248,'10492664','5733','494','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159249,'381151','5734','494','12');

Conferir valor atual do id_banco:  5159249

In [21]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2012                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [22]:
dataset2012 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2012")
dataset2012.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,22559,0.102486,30754,0.139716,4657,0.021157,8760,0.039797,...,0.011017,50885,0.231171,91508,0.415722,4843.0,0.022002,3727.0,0.016932,220118
1,AL,Alagoas,103668,0.117243,138023,0.156097,13262,0.014999,33757,0.038177,...,0.000000,209153,0.236541,386350,0.436942,NaN,0.000000,0.0,0.000000,884213
2,AP,Amapá,13741,0.066771,21589,0.104906,4908,0.023849,9069,0.044068,...,0.000000,66719,0.324203,89768,0.436203,NaN,0.000000,0.0,0.000000,205794
3,AM,Amazonas,90947,0.089541,117501,0.115684,12600,0.012405,29283,0.028830,...,0.000000,290887,0.286390,445197,0.438314,12600.0,0.012405,16689.0,0.016431,1015704
4,BA,Bahia,281645,0.074250,434942,0.114664,243118,0.064093,463333,0.122148,...,0.001815,852753,0.224811,1504091,0.396523,0.0,0.000000,6437.0,0.001697,3793203

In [23]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2012.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2012 = dataset2012.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2012['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [24]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2012['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2012.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,22559,0.102486,30754,0.139716,4657,0.021157,8760,0.039797,...,50885,0.231171,91508,0.415722,4843.0,0.022002,3727.0,0.016932,220118,5708
1,AL,Alagoas,103668,0.117243,138023,0.156097,13262,0.014999,33757,0.038177,...,209153,0.236541,386350,0.436942,NaN,0.000000,0.0,0.000000,884213,5709
2,AP,Amapá,13741,0.066771,21589,0.104906,4908,0.023849,9069,0.044068,...,66719,0.324203,89768,0.436203,NaN,0.000000,0.0,0.000000,205794,5711
3,AM,Amazonas,90947,0.089541,117501,0.115684,12600,0.012405,29283,0.028830,...,290887,0.286390,445197,0.438314,12600.0,0.012405,16689.0,0.016431,1015704,5710
4,BA,Bahia,281645,0.074250,434942,0.114664,243118,0.064093,463333,0.122148,...,852753,0.224811,1504091,0.396523,0.0,0.000000,6437.0,0.001697,3793203,5712

In [25]:
dataset2012[dataset2012.isna().any(axis=1)]

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
1,AL,Alagoas,103668,0.117243,138023,0.156097,13262,0.014999,33757,0.038177,...,209153,0.236541,386350,0.436942,NaN,0.0,0.0,0.000000,884213,5709
2,AP,Amapá,13741,0.066771,21589,0.104906,4908,0.023849,9069,0.044068,...,66719,0.324203,89768,0.436203,NaN,0.0,0.0,0.000000,205794,5711
9,MA,Maranhão,122432,0.069048,241147,0.136001,48530,0.027370,135878,0.076632,...,427787,0.241261,797359,0.449689,0.0,0.0,0.0,0.000000,1773133,5717
13,PB,Paraiba,130561,0.131276,211843,0.213003,18475,0.018576,37568,0.037774,...,219844,0.221048,376261,0.378322,NaN,0.0,0.0,0.000000,994552,5722
17,PI,Piauí,78173,0.090499,127662,0.147791,21371,0.024741,41047,0.047519,...,237885,0.275393,357663,0.414057,NaN,0.0,NaN,0.000000,863801,5724
18,RN,Rio Grande do Norte,157262,0.170560,251635,0.272912,12336,0.013379,31449,0.034108,...,157263,0.170561,312091,0.338480,NaN,0.0,NaN,0.000000,922036,5727
22,RR,Roraima,14190,0.103409,15753,0.114799,5018,0.036568,5882,0.042865,...,37029,0.269847,55717,0.406035,0.0,0.0,3633.0,0.026475,137222,5729
23,SC,Santa Catarina,486356,0.305053,836023,0.524372,13180,0.008267,36079,0.022630,...,62431,0.039158,160264,0.100521,0.0,0.0,NaN,0.000000,1594333,5731
24,SE,Sergipe,45078,0.075552,85330,0.143015,20986,0.035173,41290,0.069203,...,150369,0.252022,253598,0.425036,NaN,0.0,0.0,0.000000,596651,5732

In [26]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2012 = dataset2012.fillna(0)

In [27]:
year_id = "13"      #Ano: 2012
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5159249  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2012

print('Ano: 2012')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\n')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2012

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159250,'22559','5708','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159251,'103668','5709','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159252,'13741','5711','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159253,'90947','5710','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159254,'281645','5712','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159255,'277880','5713','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159256,'119569','5714','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159257,'131096','5715','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159258,'237545','5716','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159259,'122432','5717','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159260,'109804','5720','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159261,'120825','5719','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159262,'778914','5718','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159263,'130561','5722','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159264,'661802','5725','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159265,'158586','5721','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159266,'264082','5723','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159267,'78173','5724','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159268,'157262','5727','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159269,'769522','5730','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159270,'640588','5726','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159271,'50477','5728','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159272,'14190','5729','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159273,'486356','5731','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159274,'45078','5732','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159275,'2179800','5733','474','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159276,'31526','5734','474','13');

Conferir valor atual do id_banco:  5159276

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159277,'10.2','5708','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159278,'11.7','5709','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159279,'6.7','5711','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159280,'9.0','5710','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159281,'7.4','5712','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159282,'11.9','5713','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159283,'16.4','5714','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159284,'14.4','5715','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159285,'14.8','5716','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159286,'6.9','5717','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159287,'13.7','5720','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159288,'18.0','5719','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159289,'15.7','5718','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159290,'13.1','5722','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159291,'25.3','5725','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159292,'7.3','5721','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159293,'11.7','5723','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159294,'9.0','5724','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159295,'17.1','5727','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159296,'30.1','5730','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159297,'17.7','5726','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159298,'10.8','5728','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159299,'10.3','5729','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159300,'30.5','5731','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159301,'7.6','5732','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159302,'21.1','5733','475','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159303,'8.5','5734','475','13');

Conferir valor atual do id_banco:  5159303

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159304,'30754','5708','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159305,'138023','5709','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159306,'21589','5711','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159307,'117501','5710','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159308,'434942','5712','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159309,'448710','5713','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159310,'159334','5714','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159311,'209787','5715','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159312,'366218','5716','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159313,'241147','5717','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159314,'187938','5720','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159315,'204728','5719','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159316,'1279468','5718','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159317,'211843','5722','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159318,'1117446','5725','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159319,'255359','5721','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159320,'500522','5723','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159321,'127662','5724','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159322,'251635','5727','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159323,'1233668','5730','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159324,'959923','5726','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159325,'99966','5728','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159326,'15753','5729','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159327,'836023','5731','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159328,'85330','5732','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159329,'4044105','5733','476','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159330,'44362','5734','476','13');

Conferir valor atual do id_banco:  5159330

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159331,'14.0','5708','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159332,'15.6','5709','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159333,'10.5','5711','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159334,'11.6','5710','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159335,'11.5','5712','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159336,'19.2','5713','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159337,'21.9','5714','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159338,'23.1','5715','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159339,'22.8','5716','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159340,'13.6','5717','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159341,'23.5','5720','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159342,'30.5','5719','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159343,'25.7','5718','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159344,'21.3','5722','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159345,'42.7','5725','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159346,'11.8','5721','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159347,'22.1','5723','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159348,'14.8','5724','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159349,'27.3','5727','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159350,'48.2','5730','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159351,'26.5','5726','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159352,'21.4','5728','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159353,'11.5','5729','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159354,'52.4','5731','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159355,'14.3','5732','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159356,'39.2','5733','477','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159357,'12.0','5734','477','13');

Conferir valor atual do id_banco:  5159357

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159358,'4657','5708','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159359,'13262','5709','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159360,'4908','5711','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159361,'12600','5710','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159362,'243118','5712','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159363,'26989','5713','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159364,'24844','5714','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159365,'17478','5715','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159366,'33104','5716','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159367,'48530','5717','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159368,'22211','5720','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159369,'11327','5719','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159370,'156329','5718','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159371,'18475','5722','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159372,'20181','5725','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159373,'49612','5721','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159374,'44778','5723','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159375,'21371','5724','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159376,'12336','5727','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159377,'53563','5730','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159378,'168413','5726','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159379,'7881','5728','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159380,'5018','5729','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159381,'13180','5731','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159382,'20986','5732','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159383,'140461','5733','478','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159384,'12852','5734','478','13');

Conferir valor atual do id_banco:  5159384

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159385,'2.1','5708','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159386,'1.5','5709','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159387,'2.4','5711','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159388,'1.2','5710','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159389,'6.4','5712','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159390,'1.2','5713','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159391,'3.4','5714','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159392,'1.9','5715','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159393,'2.1','5716','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159394,'2.7','5717','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159395,'2.8','5720','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159396,'1.7','5719','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159397,'3.1','5718','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159398,'1.9','5722','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159399,'0.8','5725','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159400,'2.3','5721','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159401,'2.0','5723','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159402,'2.5','5724','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159403,'1.3','5727','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159404,'2.1','5730','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159405,'4.6','5726','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159406,'1.7','5728','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159407,'3.7','5729','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159408,'0.8','5731','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159409,'3.5','5732','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159410,'1.4','5733','479','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159411,'3.5','5734','479','13');

Conferir valor atual do id_banco:  5159411

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159412,'8760','5708','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159413,'33757','5709','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159414,'9069','5711','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159415,'29283','5710','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159416,'463333','5712','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159417,'57402','5713','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159418,'44131','5714','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159419,'68300','5715','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159420,'70775','5716','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159421,'135878','5717','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159422,'56753','5720','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159423,'30627','5719','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159424,'354320','5718','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159425,'37568','5722','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159426,'64846','5725','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159427,'103034','5721','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159428,'95947','5723','480','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159429,'41047','5724','480','13');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159624,'3.9','5731','487','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159625,'25.2','5732','487','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159626,'9.6','5733','487','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159627,'26.7','5734','487','13');

Conferir valor atual do id_banco:  5159627

PardaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159628,'91508','5708','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159629,'386350','5709','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159630,'89768','5711','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159631,'445197','5710','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159632,'1504091','5712','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159633,'1003875','5713','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159634,'238239','5714','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159635,'330534','5715','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159636,'595507','5716','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159637,'797359','5717','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159638,'282131','5720','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159639,'203902','5719','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159640,'1586286','5718','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159641,'376261','5722','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159642,'513826','5725','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159643,'1012586','5721','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159644,'904501','5723','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159645,'357663','5724','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159646,'312091','5727','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159647,'264027','5730','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159648,'915412','5726','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159649,'188366','5728','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159650,'55717','5729','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159651,'160264','5731','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159652,'253598','5732','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159653,'2352915','5733','488','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159654,'166554','5734','488','13');

Conferir valor atual do id_banco:  5159654

PardaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159655,'41.6','5708','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159656,'43.7','5709','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159657,'43.6','5711','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159658,'43.8','5710','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159659,'39.7','5712','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159660,'43.0','5713','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159661,'32.7','5714','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159662,'36.4','5715','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159663,'37.0','5716','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159664,'45.0','5717','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159665,'35.2','5720','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159666,'30.4','5719','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159667,'31.9','5718','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159668,'37.8','5722','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159669,'19.6','5725','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159670,'46.8','5721','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159671,'40.0','5723','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159672,'41.4','5724','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159673,'33.8','5727','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159674,'10.3','5730','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159675,'25.3','5726','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159676,'40.3','5728','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159677,'40.6','5729','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159678,'10.1','5731','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159679,'42.5','5732','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159680,'22.8','5733','489','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159681,'45.1','5734','489','13');

Conferir valor atual do id_banco:  5159681

IndigenaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159682,'4843.0','5708','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159683,'0.0','5709','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159684,'0.0','5711','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159685,'12600.0','5710','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159686,'0.0','5712','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159687,'0.0','5713','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159688,'0.0','5714','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159689,'0.0','5715','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159690,'0.0','5716','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159691,'0.0','5717','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159692,'0.0','5720','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159693,'0.0','5719','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159694,'0.0','5718','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159695,'0.0','5722','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159696,'0.0','5725','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159697,'6119.0','5721','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159698,'7466.0','5723','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159699,'0.0','5724','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159700,'0.0','5727','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159701,'0.0','5730','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159702,'0.0','5726','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159703,'0.0','5728','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159704,'0.0','5729','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159705,'0.0','5731','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159706,'0.0','5732','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159707,'0.0','5733','490','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159708,'0.0','5734','490','13');

Conferir valor atual do id_banco:  5159708

IndigenaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159709,'2.2','5708','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159710,'0.0','5709','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159711,'0.0','5711','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159712,'1.2','5710','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159713,'0.0','5712','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159714,'0.0','5713','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159715,'0.0','5714','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159716,'0.0','5715','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159717,'0.0','5716','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159718,'0.0','5717','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159719,'0.0','5720','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159720,'0.0','5719','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159721,'0.0','5718','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159722,'0.0','5722','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159723,'0.0','5725','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159724,'0.3','5721','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159725,'0.3','5723','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159726,'0.0','5724','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159727,'0.0','5727','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159728,'0.0','5730','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159729,'0.0','5726','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159730,'0.0','5728','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159731,'0.0','5729','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159732,'0.0','5731','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159733,'0.0','5732','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159734,'0.0','5733','491','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159735,'0.0','5734','491','13');

Conferir valor atual do id_banco:  5159735

IndigenaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159736,'3727.0','5708','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159737,'0.0','5709','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159738,'0.0','5711','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159739,'16689.0','5710','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159740,'6437.0','5712','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159741,'0.0','5713','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159742,'0.0','5714','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159743,'0.0','5715','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159744,'0.0','5716','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159745,'0.0','5717','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159746,'0.0','5720','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159747,'0.0','5719','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159748,'10243.0','5718','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159749,'0.0','5722','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159750,'0.0','5725','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159751,'4854.0','5721','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159752,'6180.0','5723','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159753,'0.0','5724','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159754,'0.0','5727','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159755,'4148.0','5730','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159756,'0.0','5726','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159757,'0.0','5728','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159758,'3633.0','5729','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159759,'0.0','5731','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159760,'0.0','5732','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159761,'0.0','5733','492','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159762,'0.0','5734','492','13');

Conferir valor atual do id_banco:  5159762

IndigenaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159763,'1.7','5708','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159764,'0.0','5709','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159765,'0.0','5711','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159766,'1.6','5710','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159767,'0.2','5712','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159768,'0.0','5713','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159769,'0.0','5714','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159770,'0.0','5715','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159771,'0.0','5716','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159772,'0.0','5717','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159773,'0.0','5720','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159774,'0.0','5719','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159775,'0.2','5718','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159776,'0.0','5722','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159777,'0.0','5725','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159778,'0.2','5721','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159779,'0.3','5723','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159780,'0.0','5724','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159781,'0.0','5727','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159782,'0.2','5730','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159783,'0.0','5726','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159784,'0.0','5728','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159785,'2.6','5729','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159786,'0.0','5731','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159787,'0.0','5732','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159788,'0.0','5733','493','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159789,'0.0','5734','493','13');

Conferir valor atual do id_banco:  5159789

Total

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159790,'220118','5708','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159791,'884213','5709','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159792,'205794','5711','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159793,'1015704','5710','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159794,'3793203','5712','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159795,'2334913','5713','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159796,'728768','5714','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159797,'907437','5715','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159798,'1609386','5716','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159799,'1773133','5717','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159800,'800728','5720','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159801,'670834','5719','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159802,'4975785','5718','494','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159803,'994552','5722','494','13');

In [28]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2013                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [29]:
dataset2013 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2013")
dataset2013.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,19331,0.088768,26833,0.123217,5053,0.023203,10626,0.048795,...,0.000000,57499,0.264035,92854,0.426386,5574.0,0.025596,0.0,0.000000,217770
1,AL,Alagoas,95037,0.112622,128932,0.152789,19980,0.023677,47226,0.055964,...,0.000000,184628,0.218790,368056,0.436158,NaN,0.000000,0.0,0.000000,843859
2,AP,Amapá,20981,0.097644,29927,0.139278,9209,0.042858,11257,0.052389,...,0.000000,54475,0.253523,89023,0.414307,NaN,0.000000,NaN,0.000000,214872
3,AM,Amazonas,100999,0.096740,124467,0.119218,12913,0.012368,27010,0.025871,...,0.000000,289782,0.277562,456263,0.437023,19677.0,0.018847,12914.0,0.012369,1044025
4,BA,Bahia,259945,0.070772,417131,0.113567,229390,0.062453,450823,0.122740,...,0.001161,838695,0.228342,1457442,0.396801,0.0,0.000000,10506.0,0.002860,3672980

In [30]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2013.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2013 = dataset2013.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2013['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [31]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2013['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2013.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,19331,0.088768,26833,0.123217,5053,0.023203,10626,0.048795,...,57499,0.264035,92854,0.426386,5574.0,0.025596,0.0,0.000000,217770,5708
1,AL,Alagoas,95037,0.112622,128932,0.152789,19980,0.023677,47226,0.055964,...,184628,0.218790,368056,0.436158,NaN,0.000000,0.0,0.000000,843859,5709
2,AP,Amapá,20981,0.097644,29927,0.139278,9209,0.042858,11257,0.052389,...,54475,0.253523,89023,0.414307,NaN,0.000000,NaN,0.000000,214872,5711
3,AM,Amazonas,100999,0.096740,124467,0.119218,12913,0.012368,27010,0.025871,...,289782,0.277562,456263,0.437023,19677.0,0.018847,12914.0,0.012369,1044025,5710
4,BA,Bahia,259945,0.070772,417131,0.113567,229390,0.062453,450823,0.122740,...,838695,0.228342,1457442,0.396801,0.0,0.000000,10506.0,0.002860,3672980,5712

In [32]:
dataset2013[dataset2013.isna().any(axis=1)]

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
1,AL,Alagoas,95037,0.112622,128932,0.152789,19980,0.023677,47226,0.055964,...,184628,0.218790,368056,0.436158,NaN,0.0,0.0,0.00000,843859,5709
2,AP,Amapá,20981,0.097644,29927,0.139278,9209,0.042858,11257,0.052389,...,54475,0.253523,89023,0.414307,NaN,0.0,NaN,0.00000,214872,5711
7,ES,Espírito Santo,133695,0.141481,213109,0.225519,17707,0.018738,77701,0.082226,...,162261,0.171710,340498,0.360326,NaN,0.0,0.0,0.00000,944971,5715
13,PB,Paraiba,129219,0.131446,213462,0.217142,19001,0.019329,31036,0.031571,...,205850,0.209398,375619,0.382094,0.0,0.0,8867.0,0.00902,983054,5722
17,PI,Piauí,79215,0.100293,112825,0.142847,19375,0.024531,28493,0.036075,...,223388,0.282830,326536,0.413425,0.0,0.0,NaN,0.00000,789832,5724
18,RN,Rio Grande do Norte,126803,0.148205,206229,0.241037,14681,0.017159,26691,0.031196,...,156843,0.183316,324343,0.379087,0.0,0.0,NaN,0.00000,855590,5727
21,RO,Rondônia,59397,0.130538,93722,0.205975,8033,0.017654,19476,0.042803,...,93483,0.205449,180906,0.397581,NaN,0.0,0.0,0.00000,455017,5728

In [33]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2013 = dataset2013.fillna(0)

In [34]:
year_id = "14"      #Ano: 2013
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5159816  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2013

print('Ano: 2013')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\n')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2013

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159817,'19331','5708','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159818,'95037','5709','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159819,'20981','5711','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159820,'100999','5710','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159821,'259945','5712','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159822,'264935','5713','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159823,'138235','5714','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159824,'133695','5715','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159825,'248703','5716','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159826,'130617','5717','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159827,'100457','5720','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159828,'97628','5719','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159829,'795713','5718','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159830,'129219','5722','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159831,'638459','5725','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159832,'176518','5721','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159833,'275920','5723','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159834,'79215','5724','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159835,'126803','5727','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159836,'729530','5730','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159837,'678022','5726','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159838,'59397','5728','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159839,'9415','5729','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159840,'490229','5731','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159841,'60011','5732','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159842,'2094008','5733','474','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159843,'38581','5734','474','14');

Conferir valor atual do id_banco:  5159843

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159844,'8.9','5708','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159845,'11.3','5709','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159846,'9.8','5711','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159847,'9.7','5710','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159848,'7.1','5712','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159849,'11.3','5713','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159850,'19.8','5714','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159851,'14.1','5715','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159852,'15.4','5716','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159853,'7.3','5717','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159854,'12.1','5720','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159855,'15.6','5719','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159856,'16.0','5718','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159857,'13.1','5722','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159858,'24.0','5725','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159859,'8.2','5721','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159860,'12.1','5723','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159861,'10.0','5724','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159862,'14.8','5727','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159863,'30.0','5730','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159864,'18.5','5726','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159865,'13.1','5728','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159866,'7.2','5729','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159867,'32.0','5731','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159868,'10.5','5732','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159869,'20.5','5733','475','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159870,'10.1','5734','475','14');

Conferir valor atual do id_banco:  5159870

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159871,'26833','5708','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159872,'128932','5709','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159873,'29927','5711','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159874,'124467','5710','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159875,'417131','5712','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159876,'434266','5713','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159877,'161272','5714','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159878,'213109','5715','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159879,'367840','5716','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159880,'203259','5717','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159881,'163403','5720','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159882,'179663','5719','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159883,'1155829','5718','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159884,'213462','5722','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159885,'1133612','5725','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159886,'242717','5721','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159887,'476367','5723','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159888,'112825','5724','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159889,'206229','5727','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159890,'1193437','5730','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159891,'956834','5726','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159892,'93722','5728','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159893,'17045','5729','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159894,'788551','5731','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159895,'81719','5732','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159896,'3983328','5733','476','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159897,'54180','5734','476','14');

Conferir valor atual do id_banco:  5159897

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159898,'12.3','5708','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159899,'15.3','5709','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159900,'13.9','5711','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159901,'11.9','5710','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159902,'11.4','5712','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159903,'18.5','5713','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159904,'23.0','5714','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159905,'22.6','5715','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159906,'22.8','5716','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159907,'11.4','5717','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159908,'19.6','5720','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159909,'28.6','5719','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159910,'23.3','5718','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159911,'21.7','5722','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159912,'42.7','5725','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159913,'11.3','5721','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159914,'20.9','5723','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159915,'14.3','5724','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159916,'24.1','5727','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159917,'49.0','5730','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159918,'26.1','5726','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159919,'20.6','5728','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159920,'13.0','5729','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159921,'51.5','5731','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159922,'14.3','5732','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159923,'39.0','5733','477','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159924,'14.2','5734','477','14');

Conferir valor atual do id_banco:  5159924

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159925,'5053','5708','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159926,'19980','5709','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159927,'9209','5711','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159928,'12913','5710','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159929,'229390','5712','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159930,'29611','5713','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159931,'22144','5714','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159932,'17707','5715','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159933,'24610','5716','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159934,'72643','5717','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159935,'21431','5720','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159936,'6153','5719','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159937,'121780','5718','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159938,'19001','5722','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159939,'19809','5725','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159940,'57930','5721','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159941,'42060','5723','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159942,'19375','5724','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159943,'14681','5727','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159944,'52464','5730','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159945,'172122','5726','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159946,'8033','5728','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159947,'5680','5729','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159948,'8756','5731','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159949,'17355','5732','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159950,'192789','5733','478','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159951,'12858','5734','478','14');

Conferir valor atual do id_banco:  5159951

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159952,'2.3','5708','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159953,'2.4','5709','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159954,'4.3','5711','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159955,'1.2','5710','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159956,'6.2','5712','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159957,'1.3','5713','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159958,'3.2','5714','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159959,'1.9','5715','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159960,'1.5','5716','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159961,'4.1','5717','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159962,'2.6','5720','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159963,'1.0','5719','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159964,'2.5','5718','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159965,'1.9','5722','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159966,'0.7','5725','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159967,'2.7','5721','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159968,'1.8','5723','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159969,'2.5','5724','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159970,'1.7','5727','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159971,'2.2','5730','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159972,'4.7','5726','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159973,'1.8','5728','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159974,'4.3','5729','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159975,'0.6','5731','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159976,'3.0','5732','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159977,'1.9','5733','479','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159978,'3.4','5734','479','14');

Conferir valor atual do id_banco:  5159978

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159979,'10626','5708','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159980,'47226','5709','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159981,'11257','5711','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159982,'27010','5710','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159983,'450823','5712','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159984,'54370','5713','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159985,'35001','5714','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159986,'77701','5715','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159987,'72945','5716','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159988,'134289','5717','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159989,'41970','5720','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159990,'33221','5719','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159991,'335787','5718','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159992,'31036','5722','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159993,'59216','5725','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159994,'138031','5721','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159995,'91821','5723','480','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5159996,'28493','5724','480','14');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160141,'57499','5708','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160142,'184628','5709','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160143,'54475','5711','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160144,'289782','5710','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160145,'838695','5712','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160146,'517520','5713','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160147,'139416','5714','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160148,'162261','5715','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160149,'323409','5716','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160150,'472528','5717','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160151,'185288','5720','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160152,'97218','5719','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160153,'848417','5718','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160154,'205850','5722','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160155,'246303','5725','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160156,'551718','5721','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160157,'461589','5723','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160158,'223388','5724','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160159,'156843','5727','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160160,'130207','5730','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160161,'524314','5726','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160162,'93483','5728','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160163,'32504','5729','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160164,'55889','5731','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160165,'145358','5732','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160166,'1016259','5733','486','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160167,'105386','5734','486','14');

Conferir valor atual do id_banco:  5160167

PardaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160168,'26.4','5708','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160169,'21.9','5709','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160170,'25.4','5711','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160171,'27.8','5710','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160172,'22.8','5712','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160173,'22.1','5713','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160174,'19.9','5714','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160175,'17.2','5715','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160176,'20.1','5716','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160177,'26.5','5717','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160178,'22.3','5720','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160179,'15.5','5719','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160180,'17.1','5718','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160181,'20.9','5722','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160182,'9.3','5725','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160183,'25.8','5721','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160184,'20.2','5723','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160185,'28.3','5724','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160186,'18.3','5727','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160187,'5.3','5730','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160188,'14.3','5726','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160189,'20.5','5728','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160190,'24.8','5729','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160191,'3.7','5731','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160192,'25.4','5732','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160193,'10.0','5733','487','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160194,'27.6','5734','487','14');

Conferir valor atual do id_banco:  5160194

PardaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160195,'92854','5708','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160196,'368056','5709','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160197,'89023','5711','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160198,'456263','5710','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160199,'1457442','5712','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160200,'1036256','5713','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160201,'203756','5714','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160202,'340498','5715','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160203,'564641','5716','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160204,'770438','5717','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160205,'320119','5720','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160206,'213704','5719','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160207,'1688360','5718','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160208,'375619','5722','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160209,'534898','5725','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160210,'957102','5721','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160211,'915985','5723','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160212,'326536','5724','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160213,'324343','5727','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160214,'235532','5730','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160215,'965908','5726','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160216,'180906','5728','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160217,'52722','5729','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160218,'152863','5731','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160219,'232127','5732','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160220,'2347268','5733','488','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160221,'153398','5734','488','14');

Conferir valor atual do id_banco:  5160221

PardaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160222,'42.6','5708','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160223,'43.6','5709','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160224,'41.4','5711','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160225,'43.7','5710','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160226,'39.7','5712','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160227,'44.3','5713','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160228,'29.1','5714','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160229,'36.0','5715','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160230,'35.0','5716','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160231,'43.2','5717','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160232,'38.4','5720','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160233,'34.1','5719','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160234,'34.0','5718','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160235,'38.2','5722','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160236,'20.1','5725','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160237,'44.7','5721','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160238,'40.1','5723','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160239,'41.3','5724','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160240,'37.9','5727','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160241,'9.7','5730','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160242,'26.3','5726','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160243,'39.8','5728','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160244,'40.3','5729','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160245,'10.0','5731','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160246,'40.6','5732','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160247,'23.0','5733','489','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160248,'40.2','5734','489','14');

Conferir valor atual do id_banco:  5160248

IndigenaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160249,'5574.0','5708','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160250,'0.0','5709','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160251,'0.0','5711','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160252,'19677.0','5710','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160253,'0.0','5712','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160254,'0.0','5713','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160255,'0.0','5714','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160256,'0.0','5715','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160257,'0.0','5716','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160258,'0.0','5717','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160259,'0.0','5720','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160260,'0.0','5719','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160261,'0.0','5718','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160262,'0.0','5722','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160263,'0.0','5725','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160264,'7083.0','5721','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160265,'8004.0','5723','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160266,'0.0','5724','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160267,'0.0','5727','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160268,'0.0','5730','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160269,'0.0','5726','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160270,'0.0','5728','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160271,'0.0','5729','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160272,'0.0','5731','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160273,'0.0','5732','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160274,'0.0','5733','490','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160275,'0.0','5734','490','14');

Conferir valor atual do id_banco:  5160275

IndigenaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160276,'2.6','5708','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160277,'0.0','5709','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160278,'0.0','5711','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160279,'1.9','5710','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160280,'0.0','5712','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160281,'0.0','5713','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160282,'0.0','5714','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160283,'0.0','5715','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160284,'0.0','5716','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160285,'0.0','5717','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160286,'0.0','5720','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160287,'0.0','5719','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160288,'0.0','5718','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160289,'0.0','5722','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160290,'0.0','5725','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160291,'0.3','5721','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160292,'0.4','5723','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160293,'0.0','5724','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160294,'0.0','5727','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160295,'0.0','5730','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160296,'0.0','5726','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160297,'0.0','5728','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160298,'0.0','5729','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160299,'0.0','5731','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160300,'0.0','5732','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160301,'0.0','5733','491','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160302,'0.0','5734','491','14');

Conferir valor atual do id_banco:  5160302

IndigenaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160303,'0.0','5708','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160304,'0.0','5709','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160305,'0.0','5711','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160306,'12914.0','5710','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160307,'10506.0','5712','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160308,'4155.0','5713','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160309,'0.0','5714','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160310,'0.0','5715','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160311,'0.0','5716','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160312,'0.0','5717','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160313,'0.0','5720','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160314,'0.0','5719','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160315,'12334.0','5718','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160316,'8867.0','5722','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160317,'0.0','5725','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160318,'6390.0','5721','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160319,'11337.0','5723','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160320,'0.0','5724','492','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160321,'0.0','5727','492','14');

In [35]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2014                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [36]:
dataset2014 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2014")
dataset2014.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,22510,0.104930,26207,0.122163,3864,0.018012,11088,0.051687,...,0.0,54932,0.256065,91555,0.426782,0.0,0.000000,4368.0,0.020361,214524
1,AL,Alagoas,91534,0.101318,155565,0.172193,15559,0.017222,47269,0.052322,...,0.0,211189,0.233763,382316,0.423182,NaN,0.000000,0.0,0.000000,903432
2,AP,Amapá,27355,0.127079,32260,0.149866,6973,0.032394,10067,0.046767,...,0.0,52655,0.244612,85949,0.399282,0.0,0.000000,0.0,0.000000,215259
3,AM,Amazonas,99700,0.092963,127894,0.119252,15995,0.014914,29481,0.027489,...,0.0,301250,0.280894,472451,0.440526,10966.0,0.010225,14733.0,0.013737,1072470
4,BA,Bahia,274753,0.074078,426550,0.115006,294540,0.079413,496900,0.133973,...,0.0,821289,0.221434,1383833,0.373107,0.0,0.000000,11083.0,0.002988,3708948

In [37]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2014.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2014 = dataset2014.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2014['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [38]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2014['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2014.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,22510,0.104930,26207,0.122163,3864,0.018012,11088,0.051687,...,54932,0.256065,91555,0.426782,0.0,0.000000,4368.0,0.020361,214524,5708
1,AL,Alagoas,91534,0.101318,155565,0.172193,15559,0.017222,47269,0.052322,...,211189,0.233763,382316,0.423182,NaN,0.000000,0.0,0.000000,903432,5709
2,AP,Amapá,27355,0.127079,32260,0.149866,6973,0.032394,10067,0.046767,...,52655,0.244612,85949,0.399282,0.0,0.000000,0.0,0.000000,215259,5711
3,AM,Amazonas,99700,0.092963,127894,0.119252,15995,0.014914,29481,0.027489,...,301250,0.280894,472451,0.440526,10966.0,0.010225,14733.0,0.013737,1072470,5710
4,BA,Bahia,274753,0.074078,426550,0.115006,294540,0.079413,496900,0.133973,...,821289,0.221434,1383833,0.373107,0.0,0.000000,11083.0,0.002988,3708948,5712

In [39]:
dataset2014[dataset2014.isna().any(axis=1)]

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
1,AL,Alagoas,91534,0.101318,155565,0.172193,15559,0.017222,47269,0.052322,...,211189,0.233763,382316,0.423182,NaN,0.000000,0.0,0.000000,903432,5709
2,AP,Amapá,27355,0.127079,32260,0.149866,6973,0.032394,10067,0.046767,...,52655,0.244612,85949,0.399282,0.0,0.000000,0.0,0.000000,215259,5711
7,ES,Espírito Santo,118722,0.131342,210995,0.233424,38200,0.042261,69942,0.077377,...,166918,0.184662,299136,0.330935,0.0,0.000000,NaN,0.000000,903913,5715
8,GO,Goiás,239719,0.149897,336860,0.210639,40991,0.025632,81548,0.050992,...,294091,0.183895,600227,0.375323,NaN,0.000000,0.0,0.000000,1599229,5716
9,MA,Maranhão,133391,0.074516,206993,0.115632,80497,0.044968,128802,0.071952,...,436224,0.243686,804199,0.449247,0.0,0.000000,0.0,0.000000,1790106,5717
13,PB,Paraiba,131420,0.135005,204272,0.209844,18682,0.019192,51694,0.053104,...,184974,0.190020,382404,0.392835,0.0,0.000000,0.0,0.000000,973446,5722
17,PI,Piauí,82403,0.100414,105380,0.128413,21301,0.025957,45401,0.055324,...,215249,0.262296,350899,0.427596,0.0,0.000000,0.0,0.000000,820633,5724
18,RN,Rio Grande do Norte,140334,0.153952,238172,0.261285,12821,0.014065,36431,0.039966,...,155180,0.170239,328604,0.360492,0.0,0.000000,0.0,0.000000,911542,5727
22,RR,Roraima,12926,0.091144,19197,0.135363,3041,0.021443,6465,0.045586,...,34415,0.242668,58554,0.412878,3040.0,0.021436,4181.0,0.029481,141819,5729
23,SC,Santa Catarina,456960,0.299730,787314,0.516416,13215,0.008668,25041,0.016425,...,75812,0.049727,166232,0.109035,NaN,0.000000,0.0,0.000000,1524574,5731
24,SE,Sergipe,55668,0.097849,76619,0.134675,16984,0.029853,35410,0.062241,...,137719,0.242071,246519,0.433311,NaN,0.000000,0.0,0.000000,568919,5732

In [40]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2014 = dataset2014.fillna(0)

In [82]:
year_id = "15"      #Ano: 2014
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5160383  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2014

print('Ano: 2014')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2014

BrancaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160384,'22510','5708','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160385,'91534','5709','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160386,'27355','5711','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160387,'99700','5710','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160388,'274753','5712','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160389,'259213','5713','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160390,'120158','5714','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160391,'118722','5715','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160392,'239719','5716','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160393,'133391','5717','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160394,'85252','5720','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160395,'97345','5719','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160396,'763902','5718','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160397,'131420','5722','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160398,'618782','5725','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160399,'171203','5721','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160400,'263321','5723','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160401,'82403','5724','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160402,'140334','5727','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160403,'735036','5730','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160404,'666873','5726','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160405,'46594','5728','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160406,'12926','5729','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160407,'456960','5731','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160408,'55668','5732','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160409,'2258110','5733','474','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160410,'28567','5734','474','15');

Conferir valor atual do id_banco:  5160410

BrancaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160411,'10.5','5708','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160412,'10.1','5709','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160413,'12.7','5711','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160414,'9.3','5710','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160415,'7.4','5712','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160416,'11.3','5713','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160417,'17.0','5714','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160418,'13.1','5715','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160419,'15.0','5716','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160420,'7.5','5717','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160421,'10.9','5720','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160422,'15.8','5719','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160423,'15.4','5718','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160424,'13.5','5722','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160425,'23.8','5725','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160426,'8.0','5721','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160427,'11.6','5723','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160428,'10.0','5724','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160429,'15.4','5727','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160430,'29.9','5730','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160431,'18.3','5726','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160432,'10.4','5728','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160433,'9.1','5729','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160434,'30.0','5731','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160435,'9.8','5732','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160436,'22.1','5733','475','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160437,'7.7','5734','475','15');

Conferir valor atual do id_banco:  5160437

BrancaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160438,'26207','5708','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160439,'155565','5709','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160440,'32260','5711','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160441,'127894','5710','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160442,'426550','5712','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160443,'422052','5713','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160444,'144240','5714','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160445,'210995','5715','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160446,'336860','5716','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160447,'206993','5717','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160448,'161082','5720','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160449,'174896','5719','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160450,'1236830','5718','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160451,'204272','5722','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160452,'1066331','5725','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160453,'246932','5721','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160454,'472665','5723','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160455,'105380','5724','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160456,'238172','5727','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160457,'1160373','5730','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160458,'937481','5726','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160459,'85388','5728','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160460,'19197','5729','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160461,'787314','5731','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160462,'76619','5732','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160463,'3656687','5733','476','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160464,'41589','5734','476','15');

Conferir valor atual do id_banco:  5160464

BrancaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160465,'12.2','5708','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160466,'17.2','5709','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160467,'15.0','5711','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160468,'11.9','5710','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160469,'11.5','5712','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160470,'18.4','5713','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160471,'20.4','5714','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160472,'23.3','5715','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160473,'21.1','5716','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160474,'11.6','5717','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160475,'20.6','5720','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160476,'28.4','5719','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160477,'25.0','5718','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160478,'21.0','5722','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160479,'41.0','5725','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160480,'11.5','5721','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160481,'20.8','5723','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160482,'12.8','5724','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160483,'26.1','5727','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160484,'47.3','5730','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160485,'25.7','5726','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160486,'19.0','5728','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160487,'13.5','5729','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160488,'51.6','5731','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160489,'13.5','5732','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160490,'35.8','5733','477','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160491,'11.3','5734','477','15');

Conferir valor atual do id_banco:  5160491

PretaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160492,'3864','5708','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160493,'15559','5709','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160494,'6973','5711','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160495,'15995','5710','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160496,'294540','5712','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160497,'32985','5713','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160498,'30190','5714','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160499,'38200','5715','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160500,'40991','5716','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160501,'80497','5717','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160502,'18414','5720','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160503,'14747','5719','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160504,'159017','5718','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160505,'18682','5722','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160506,'19636','5725','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160507,'66764','5721','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160508,'51507','5723','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160509,'21301','5724','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160510,'12821','5727','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160511,'64994','5730','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160512,'176810','5726','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160513,'9320','5728','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160514,'3041','5729','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160515,'13215','5731','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160516,'16984','5732','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160517,'206422','5733','478','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160518,'9951','5734','478','15');

Conferir valor atual do id_banco:  5160518

PretaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160519,'1.8','5708','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160520,'1.7','5709','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160521,'3.2','5711','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160522,'1.5','5710','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160523,'7.9','5712','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160524,'1.4','5713','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160525,'4.3','5714','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160526,'4.2','5715','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160527,'2.6','5716','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160528,'4.5','5717','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160529,'2.4','5720','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160530,'2.4','5719','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160531,'3.2','5718','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160532,'1.9','5722','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160533,'0.8','5725','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160534,'3.1','5721','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160535,'2.3','5723','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160536,'2.6','5724','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160537,'1.4','5727','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160538,'2.6','5730','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160539,'4.9','5726','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160540,'2.1','5728','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160541,'2.1','5729','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160542,'0.9','5731','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160543,'3.0','5732','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160544,'2.0','5733','479','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160545,'2.7','5734','479','15');

Conferir valor atual do id_banco:  5160545

PretaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160546,'11088','5708','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160547,'47269','5709','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160548,'10067','5711','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160549,'29481','5710','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160550,'496900','5712','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160551,'59667','5713','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160552,'51232','5714','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160553,'69942','5715','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160554,'81548','5716','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160555,'128802','5717','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160556,'50545','5720','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160557,'27386','5719','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160558,'348627','5718','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160559,'51694','5722','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160560,'67165','5725','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160561,'104310','5721','480','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160562,'109717','5723','480','15');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160928,'3708948','5712','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160929,'2295658','5713','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160930,'706266','5714','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160931,'903913','5715','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160932,'1599229','5716','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160933,'1790106','5717','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160934,'783094','5720','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160935,'614839','5719','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160936,'4952648','5718','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160937,'973446','5722','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160938,'2600014','5725','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160939,'2145636','5721','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160940,'2267924','5723','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160941,'820633','5724','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160942,'911542','5727','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160943,'2455612','5730','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160944,'3641961','5726','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160945,'449599','5728','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160946,'141819','5729','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160947,'1524574','5731','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160948,'568919','5732','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160949,'10208013','5733','494','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160950,'368883','5734','494','15');

Conferir valor atual do id_banco:  5160950

In [42]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2015                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [43]:
dataset2015 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2015")
dataset2015.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,AC,Acre,18395,0.081645,26459,0.117437,6657,0.029547,10335,0.045871,...,0.0,65357,0.290084,88287,0.391857,6483.0,0.028774,3331.0,0.014784,225304
1,AL,Alagoas,81802,0.100466,126477,0.155334,28313,0.034773,57892,0.071101,...,0.0,195681,0.240328,324060,0.397998,NaN,0.000000,0.0,0.000000,814225
2,AP,Amapá,20237,0.096388,30477,0.145160,4988,0.023758,9464,0.045077,...,0.0,57555,0.274131,87233,0.415486,NaN,0.000000,NaN,0.000000,209954
3,AM,Amazonas,90168,0.084105,116849,0.108992,18225,0.017000,24741,0.023077,...,0.0,300731,0.280509,493064,0.459909,15618.0,0.014568,12694.0,0.011840,1072090
4,BA,Bahia,240289,0.066373,396352,0.109481,290240,0.080170,512848,0.141659,...,0.0,835950,0.230907,1325803,0.366215,8509.0,0.002350,10299.0,0.002845,3620290

In [44]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2015.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2015 = dataset2015.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2015['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [45]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2015['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2015.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,18395,0.081645,26459,0.117437,6657,0.029547,10335,0.045871,...,65357,0.290084,88287,0.391857,6483.0,0.028774,3331.0,0.014784,225304,5708
1,AL,Alagoas,81802,0.100466,126477,0.155334,28313,0.034773,57892,0.071101,...,195681,0.240328,324060,0.397998,NaN,0.000000,0.0,0.000000,814225,5709
2,AP,Amapá,20237,0.096388,30477,0.145160,4988,0.023758,9464,0.045077,...,57555,0.274131,87233,0.415486,NaN,0.000000,NaN,0.000000,209954,5711
3,AM,Amazonas,90168,0.084105,116849,0.108992,18225,0.017000,24741,0.023077,...,300731,0.280509,493064,0.459909,15618.0,0.014568,12694.0,0.011840,1072090,5710
4,BA,Bahia,240289,0.066373,396352,0.109481,290240,0.080170,512848,0.141659,...,835950,0.230907,1325803,0.366215,8509.0,0.002350,10299.0,0.002845,3620290,5712

In [46]:
dataset2015[dataset2015.isna().any(axis=1)]

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
1,AL,Alagoas,81802,0.100466,126477,0.155334,28313,0.034773,57892,0.071101,...,195681,0.240328,324060,0.397998,NaN,0.0,0.0,0.000000,814225,5709
2,AP,Amapá,20237,0.096388,30477,0.145160,4988,0.023758,9464,0.045077,...,57555,0.274131,87233,0.415486,NaN,0.0,NaN,0.000000,209954,5711
6,DF,Distrito Federal,141167,0.195156,139216,0.192459,40244,0.055635,44134,0.061013,...,158038,0.218479,200556,0.277258,NaN,0.0,0.0,0.000000,723355,5714
7,ES,Espírito Santo,120534,0.139583,210489,0.243754,32983,0.038195,78549,0.090962,...,157720,0.182645,263257,0.304861,NaN,0.0,0.0,0.000000,863532,5715
9,MA,Maranhão,122511,0.068746,193917,0.108815,69898,0.039223,132295,0.074236,...,433683,0.243357,829780,0.465623,0.0,0.0,0.0,0.000000,1782084,5717
10,MT,Mato Grosso,92392,0.118271,154136,0.197310,18829,0.024103,45097,0.057729,...,149322,0.191148,321411,0.411439,NaN,0.0,0.0,0.000000,781187,5720
13,PB,Paraiba,135112,0.140275,202332,0.210064,12926,0.013420,47183,0.048986,...,202329,0.210061,354905,0.368468,0.0,0.0,8404.0,0.008725,963191,5722
17,PI,Piauí,68109,0.086002,90614,0.114419,27018,0.034116,50094,0.063254,...,211640,0.267240,344473,0.434969,NaN,0.0,NaN,0.000000,791948,5724
18,RN,Rio Grande do Norte,138473,0.156553,223245,0.252394,21196,0.023964,40265,0.045522,...,144126,0.162944,317205,0.358622,NaN,0.0,NaN,0.000000,884510,5727
20,RJ,Rio de Janeiro,652472,0.182142,861806,0.240579,203311,0.056756,381636,0.106536,...,538710,0.150384,936594,0.261456,NaN,0.0,0.0,0.000000,3582220,5726
21,RO,Rondônia,52143,0.115427,83487,0.184812,7835,0.017344,27284,0.060397,...,93747,0.207524,187245,0.414496,0.0,0.0,0.0,0.000000,451741,5728
22,RR,Roraima,12813,0.096124,15500,0.116283,4338,0.032544,5581,0.041869,...,40716,0.305456,50834,0.381362,0.0,0.0,3514.0,0.026362,133296,5729
24,SE,Sergipe,53517,0.091013,86144,0.146499,18335,0.031181,39955,0.067949,...,141141,0.240029,248925,0.423330,0.0,0.0,0.0,0.000000,588017,5732

In [47]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2015 = dataset2015.fillna(0)

In [83]:
year_id = "16"      #Ano: 2015
group_id = "474"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5160950  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2015

print('Ano: 2015')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2015

BrancaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160951,'18395','5708','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160952,'81802','5709','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160953,'20237','5711','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160954,'90168','5710','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160955,'240289','5712','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160956,'232178','5713','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160957,'141167','5714','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160958,'120534','5715','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160959,'235557','5716','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160960,'122511','5717','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160961,'92392','5720','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160962,'107809','5719','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160963,'775840','5718','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160964,'135112','5722','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160965,'637940','5725','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160966,'160137','5721','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160967,'275298','5723','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160968,'68109','5724','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160969,'138473','5727','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160970,'728844','5730','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160971,'652472','5726','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160972,'52143','5728','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160973,'12813','5729','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160974,'482980','5731','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160975,'53517','5732','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160976,'2156087','5733','474','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160977,'35462','5734','474','16');

Conferir valor atual do id_banco:  5160977

BrancaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160978,'8.2','5708','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160979,'10.0','5709','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160980,'9.6','5711','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160981,'8.4','5710','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160982,'6.6','5712','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160983,'10.2','5713','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160984,'19.5','5714','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160985,'14.0','5715','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160986,'15.0','5716','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160987,'6.9','5717','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160988,'11.8','5720','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160989,'17.2','5719','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160990,'16.0','5718','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160991,'14.0','5722','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160992,'24.4','5725','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160993,'7.5','5721','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160994,'12.2','5723','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160995,'8.6','5724','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160996,'15.7','5727','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160997,'30.5','5730','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160998,'18.2','5726','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5160999,'11.5','5728','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161000,'9.6','5729','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161001,'31.9','5731','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161002,'9.1','5732','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161003,'21.3','5733','475','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161004,'9.8','5734','475','16');

Conferir valor atual do id_banco:  5161004

BrancaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161005,'26459','5708','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161006,'126477','5709','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161007,'30477','5711','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161008,'116849','5710','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161009,'396352','5712','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161010,'381382','5713','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161011,'139216','5714','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161012,'210489','5715','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161013,'340009','5716','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161014,'193917','5717','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161015,'154136','5720','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161016,'174970','5719','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161017,'1108402','5718','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161018,'202332','5722','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161019,'1112170','5725','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161020,'229754','5721','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161021,'447109','5723','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161022,'90614','5724','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161023,'223245','5727','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161024,'1114681','5730','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161025,'861806','5726','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161026,'83487','5728','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161027,'15500','5729','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161028,'781021','5731','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161029,'86144','5732','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161030,'3693386','5733','476','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161031,'38750','5734','476','16');

Conferir valor atual do id_banco:  5161031

BrancaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161032,'11.7','5708','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161033,'15.5','5709','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161034,'14.5','5711','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161035,'10.9','5710','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161036,'10.9','5712','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161037,'16.7','5713','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161038,'19.2','5714','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161039,'24.4','5715','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161040,'21.7','5716','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161041,'10.9','5717','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161042,'19.7','5720','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161043,'27.8','5719','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161044,'22.8','5718','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161045,'21.0','5722','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161046,'42.6','5725','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161047,'10.8','5721','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161048,'19.9','5723','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161049,'11.4','5724','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161050,'25.2','5727','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161051,'46.7','5730','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161052,'24.1','5726','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161053,'18.5','5728','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161054,'11.6','5729','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161055,'51.5','5731','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161056,'14.6','5732','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161057,'36.4','5733','477','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161058,'10.7','5734','477','16');

Conferir valor atual do id_banco:  5161058

PretaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161059,'6657','5708','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161060,'28313','5709','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161061,'4988','5711','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161062,'18225','5710','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161063,'290240','5712','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161064,'25610','5713','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161065,'40244','5714','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161066,'32983','5715','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161067,'40236','5716','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161068,'69898','5717','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161069,'18829','5720','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161070,'5746','5719','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161071,'161128','5718','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161072,'12926','5722','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161073,'22755','5725','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161074,'55429','5721','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161075,'56343','5723','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161076,'27018','5724','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161077,'21196','5727','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161078,'46769','5730','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161079,'203311','5726','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161080,'7835','5728','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161081,'4338','5729','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161082,'10032','5731','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161083,'18335','5732','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161084,'234682','5733','478','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161085,'11900','5734','478','16');

Conferir valor atual do id_banco:  5161085

PretaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161086,'3.0','5708','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161087,'3.5','5709','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161088,'2.4','5711','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161089,'1.7','5710','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161090,'8.0','5712','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161091,'1.1','5713','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161092,'5.6','5714','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161093,'3.8','5715','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161094,'2.6','5716','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161095,'3.9','5717','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161096,'2.4','5720','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161097,'0.9','5719','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161098,'3.3','5718','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161099,'1.3','5722','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161100,'0.9','5725','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161101,'2.6','5721','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161102,'2.5','5723','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161103,'3.4','5724','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161104,'2.4','5727','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161105,'2.0','5730','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161106,'5.7','5726','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161107,'1.7','5728','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161108,'3.3','5729','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161109,'0.7','5731','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161110,'3.1','5732','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161111,'2.3','5733','479','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161112,'3.3','5734','479','16');

Conferir valor atual do id_banco:  5161112

PretaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161113,'10335','5708','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161114,'57892','5709','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161115,'9464','5711','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161116,'24741','5710','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161117,'512848','5712','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161118,'70990','5713','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161119,'44134','5714','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161120,'78549','5715','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161121,'82734','5716','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161122,'132295','5717','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161123,'45097','5720','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161124,'25625','5719','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161125,'397953','5718','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161126,'47183','5722','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161127,'66333','5725','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161128,'92407','5721','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161129,'115517','5723','480','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161130,'50094','5724','480','16');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161464,'1.5','5708','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161465,'0.0','5709','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161466,'0.0','5711','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161467,'1.2','5710','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161468,'0.3','5712','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161469,'0.3','5713','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161470,'0.0','5714','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161471,'0.0','5715','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161472,'0.0','5716','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161473,'0.0','5717','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161474,'0.0','5720','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161475,'0.0','5719','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161476,'0.2','5718','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161477,'0.9','5722','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161478,'0.0','5725','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161479,'0.5','5721','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161480,'0.0','5723','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161481,'0.0','5724','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161482,'0.0','5727','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161483,'0.5','5730','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161484,'0.0','5726','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161485,'0.0','5728','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161486,'2.6','5729','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161487,'0.0','5731','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161488,'0.0','5732','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161489,'0.2','5733','493','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161490,'0.0','5734','493','16');

Conferir valor atual do id_banco:  5161490

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161491,'225304','5708','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161492,'814225','5709','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161493,'209954','5711','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161494,'1072090','5710','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161495,'3620290','5712','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161496,'2286802','5713','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161497,'723355','5714','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161498,'863532','5715','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161499,'1566596','5716','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161500,'1782084','5717','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161501,'781187','5720','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161502,'628291','5719','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161503,'4858819','5718','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161504,'963191','5722','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161505,'2610104','5725','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161506,'2136355','5721','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161507,'2247845','5723','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161508,'791948','5724','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161509,'884510','5727','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161510,'2387821','5730','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161511,'3582220','5726','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161512,'451741','5728','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161513,'133296','5729','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161514,'1515515','5731','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161515,'588017','5732','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161516,'10143395','5733','494','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161517,'361152','5734','494','16');

Conferir valor atual do id_banco:  5161517

In [49]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2016                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [50]:
dataset2016 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2016")
dataset2016.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,RO,Rondônia,48544.60,0.110895,67356.7,0.153869,9233.80,0.021094,18409.00,0.042053,...,0.002717,108662.0,0.248227,182130.0,0.416057,324.364,0.000741,1747.420,0.003992,437752.990
1,AC,Acre,18356.70,0.085726,18264.0,0.085293,3971.15,0.018545,6383.30,0.029810,...,0.003209,74731.4,0.348997,90545.2,0.422848,470.247,0.002196,292.689,0.001367,214131.771
2,AM,Amazonas,85032.60,0.082016,85456.4,0.082425,7247.23,0.006990,16304.00,0.015726,...,0.001197,335496.0,0.323593,480390.0,0.463347,9087.960,0.008766,14700.300,0.014179,1036782.970
3,RR,Roraima,9382.26,0.074500,14304.2,0.113583,3916.94,0.031103,6933.81,0.055058,...,0.001285,33797.3,0.268368,51711.5,0.410616,3078.550,0.024445,2649.960,0.021042,125936.300
4,PA,Pará,144380.00,0.067435,186623.0,0.087165,57218.20,0.026725,97762.20,0.045661,...,0.000904,614755.0,0.287130,1030707.0,0.481405,3587.010,0.001675,3219.230,0.001504,2141037.116

In [51]:
#correção para Paraiba
index = dataset2016.loc[dataset2016['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2016.at[index[0],'UF'] = 'Paraiba'

In [52]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2016.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2016 = dataset2016.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2016['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [53]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2016['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2016.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,18356.7,0.085726,18264.0,0.085293,3971.15,0.018545,6383.3,0.029810,...,74731.4,0.348997,90545.2,0.422848,470.247,0.002196,292.689,0.001367,214131.771,5708
1,AL,Alagoas,75881.1,0.092319,104007.0,0.126537,10408.80,0.012664,22742.5,0.027669,...,226241.0,0.275250,376785.0,0.458405,1802.970,0.002194,1983.550,0.002413,821948.475,5709
2,AP,Amapá,15069.5,0.070443,22195.2,0.103753,5767.79,0.026962,8297.1,0.038785,...,65949.7,0.308286,96199.6,0.449691,0.000,0.000000,159.381,0.000745,213923.707,5711
3,AM,Amazonas,85032.6,0.082016,85456.4,0.082425,7247.23,0.006990,16304.0,0.015726,...,335496.0,0.323593,480390.0,0.463347,9087.960,0.008766,14700.300,0.014179,1036782.970,5710
4,BA,Bahia,236211.0,0.067922,327184.0,0.094081,275040.00,0.079087,419261.0,0.120557,...,865287.0,0.248810,1330546.0,0.382594,6444.180,0.001853,10096.800,0.002903,3477699.930,5712

In [54]:
dataset2016[dataset2016.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaEstuda, BrancaEstuda(%), BrancaNaoEstuda, BrancaNaoEstuda(%), PretaEstuda, PretaEstuda(%), PretaNaoEstuda, PretaNaoEstuda(%), AmarelaEstuda, AmarelaEstuda(%), AmarelaNaoEstuda, AmarelaNaoEstuda(%), PardaEstuda, PardaEstuda(%), PardaNaoEstuda, PardaNaoEstuda(%), IndigenaEstuda, IndigenaEstuda(%), IndigenaNaoEstuda, IndigenaNaoEstuda(%), Total, id]
Index: []

[0 rows x 24 columns]

In [84]:
year_id = "17"      #Ano: 2016
group_id = "474"    # é o primeiro: Alfabetizacao
percentual = False

id_banco = 5161517  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2016

print('Ano: 2016')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2016

BrancaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161518,'18356.7','5708','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161519,'75881.1','5709','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161520,'15069.5','5711','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161521,'85032.6','5710','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161522,'236211.0','5712','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161523,'216716.0','5713','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161524,'112866.0','5714','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161525,'117551.0','5715','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161526,'207470.0','5716','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161527,'127914.0','5717','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161528,'97010.7','5720','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161529,'106145.0','5719','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161530,'723085.0','5718','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161531,'128149.0','5722','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161532,'660158.0','5725','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161533,'144380.0','5721','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161534,'259245.0','5723','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161535,'51783.8','5724','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161536,'136607.0','5727','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161537,'791849.0','5730','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161538,'631622.0','5726','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161539,'48544.6','5728','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161540,'9382.26','5729','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161541,'512788.0','5731','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161542,'47509.8','5732','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161543,'2454840.0','5733','474','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161544,'34568.2','5734','474','17');

Conferir valor atual do id_banco:  5161544

BrancaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161545,'8.6','5708','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161546,'9.2','5709','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161547,'7.0','5711','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161548,'8.2','5710','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161549,'6.8','5712','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161550,'10.0','5713','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161551,'16.8','5714','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161552,'13.6','5715','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161553,'13.3','5716','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161554,'7.1','5717','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161555,'12.3','5720','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161556,'17.4','5719','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161557,'15.0','5718','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161558,'13.6','5722','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161559,'26.3','5725','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161560,'6.7','5721','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161561,'11.5','5723','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161562,'6.8','5724','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161563,'16.9','5727','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161564,'32.9','5730','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161565,'17.6','5726','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161566,'11.1','5728','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161567,'7.5','5729','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161568,'33.3','5731','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161569,'8.6','5732','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161570,'24.2','5733','475','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161571,'9.2','5734','475','17');

Conferir valor atual do id_banco:  5161571

BrancaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161572,'18264.0','5708','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161573,'104007.0','5709','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161574,'22195.2','5711','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161575,'85456.4','5710','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161576,'327184.0','5712','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161577,'350115.0','5713','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161578,'109639.0','5714','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161579,'193468.0','5715','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161580,'286415.0','5716','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161581,'184446.0','5717','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161582,'143041.0','5720','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161583,'142314.0','5719','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161584,'1116637.0','5718','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161585,'174398.0','5722','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161586,'981496.0','5725','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161587,'186623.0','5721','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161588,'361212.0','5723','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161589,'70455.1','5724','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161590,'172773.0','5727','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161591,'1140145.0','5730','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161592,'798688.0','5726','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161593,'67356.7','5728','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161594,'14304.2','5729','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161595,'786939.0','5731','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161596,'64662.4','5732','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161597,'3613804.0','5733','476','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161598,'39988.5','5734','476','17');

Conferir valor atual do id_banco:  5161598

BrancaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161599,'8.5','5708','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161600,'12.7','5709','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161601,'10.4','5711','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161602,'8.2','5710','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161603,'9.4','5712','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161604,'16.1','5713','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161605,'16.3','5714','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161606,'22.3','5715','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161607,'18.3','5716','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161608,'10.3','5717','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161609,'18.2','5720','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161610,'23.3','5719','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161611,'23.2','5718','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161612,'18.5','5722','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161613,'39.1','5725','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161614,'8.7','5721','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161615,'16.0','5723','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161616,'9.3','5724','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161617,'21.3','5727','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161618,'47.3','5730','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161619,'22.3','5726','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161620,'15.4','5728','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161621,'11.4','5729','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161622,'51.1','5731','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161623,'11.6','5732','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161624,'35.6','5733','477','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161625,'10.7','5734','477','17');

Conferir valor atual do id_banco:  5161625

PretaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161626,'3971.15','5708','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161627,'10408.8','5709','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161628,'5767.79','5711','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161629,'7247.23','5710','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161630,'275040.0','5712','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161631,'26828.8','5713','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161632,'23294.0','5714','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161633,'31146.0','5715','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161634,'39443.2','5716','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161635,'57667.9','5717','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161636,'19352.4','5720','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161637,'12524.3','5719','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161638,'163622.0','5718','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161639,'12686.3','5722','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161640,'23424.7','5725','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161641,'57218.2','5721','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161642,'39027.7','5723','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161643,'19503.2','5724','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161644,'13344.3','5727','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161645,'46046.4','5730','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161646,'174260.0','5726','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161647,'9233.8','5728','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161648,'3916.94','5729','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161649,'10937.5','5731','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161650,'14307.5','5732','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161651,'233156.0','5733','478','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161652,'11989.8','5734','478','17');

Conferir valor atual do id_banco:  5161652

PretaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161653,'1.9','5708','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161654,'1.3','5709','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161655,'2.7','5711','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161656,'0.7','5710','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161657,'7.9','5712','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161658,'1.2','5713','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161659,'3.5','5714','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161660,'3.6','5715','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161661,'2.5','5716','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161662,'3.2','5717','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161663,'2.5','5720','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161664,'2.1','5719','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161665,'3.4','5718','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161666,'1.3','5722','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161667,'0.9','5725','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161668,'2.7','5721','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161669,'1.7','5723','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161670,'2.6','5724','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161671,'1.6','5727','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161672,'1.9','5730','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161673,'4.9','5726','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161674,'2.1','5728','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161675,'3.1','5729','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161676,'0.7','5731','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161677,'2.6','5732','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161678,'2.3','5733','479','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161679,'3.2','5734','479','17');

Conferir valor atual do id_banco:  5161679

PretaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161680,'6383.3','5708','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161681,'22742.5','5709','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161682,'8297.1','5711','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161683,'16304.0','5710','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161684,'419261.0','5712','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161685,'48919.0','5713','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161686,'23671.6','5714','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161687,'57291.8','5715','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161688,'81630.8','5716','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161689,'118476.0','5717','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161690,'35366.9','5720','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161691,'21914.1','5719','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161692,'344116.0','5718','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161693,'24109.6','5722','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161694,'56524.9','5725','480','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161695,'97762.2','5721','480','17');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161977,'0.2','5708','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161978,'0.2','5709','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161979,'0.0','5711','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161980,'0.9','5710','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161981,'0.2','5712','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161982,'0.0','5713','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161983,'0.1','5714','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161984,'0.1','5715','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161985,'0.0','5716','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161986,'0.1','5717','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161987,'0.1','5720','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161988,'0.2','5719','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161989,'0.0','5718','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161990,'0.0','5722','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161991,'0.0','5725','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161992,'0.2','5721','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161993,'0.1','5723','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161994,'0.0','5724','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161995,'0.1','5727','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161996,'0.3','5730','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161997,'0.0','5726','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161998,'0.1','5728','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5161999,'2.4','5729','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162000,'0.0','5731','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162001,'0.1','5732','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162002,'0.0','5733','491','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162003,'0.2','5734','491','17');

Conferir valor atual do id_banco:  5162003

IndigenaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162004,'292.689','5708','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162005,'1983.55','5709','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162006,'159.381','5711','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162007,'14700.3','5710','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162008,'10096.8','5712','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162009,'4462.77','5713','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162010,'397.456','5714','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162011,'863.435','5715','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162012,'0.0','5716','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162013,'1555.61','5717','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162014,'1183.03','5720','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162015,'4993.89','5719','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162016,'1102.02','5718','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162017,'2596.79','5722','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162018,'2605.4','5725','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162019,'3219.23','5721','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162020,'2519.25','5723','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162021,'1369.73','5724','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162022,'0.0','5727','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162023,'1380.19','5730','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162024,'3825.37','5726','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162025,'1747.42','5728','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162026,'2649.96','5729','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162027,'252.709','5731','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162028,'590.148','5732','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162029,'8754.99','5733','492','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162030,'899.471','5734','492','17');

Conferir valor atual do id_banco:  5162030

IndigenaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162031,'0.1','5708','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162032,'0.2','5709','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162033,'0.1','5711','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162034,'1.4','5710','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162035,'0.3','5712','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162036,'0.2','5713','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162037,'0.1','5714','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162038,'0.1','5715','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162039,'0.0','5716','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162040,'0.1','5717','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162041,'0.2','5720','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162042,'0.8','5719','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162043,'0.0','5718','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162044,'0.3','5722','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162045,'0.1','5725','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162046,'0.2','5721','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162047,'0.1','5723','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162048,'0.2','5724','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162049,'0.0','5727','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162050,'0.1','5730','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162051,'0.1','5726','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162052,'0.4','5728','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162053,'2.1','5729','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162054,'0.0','5731','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162055,'0.1','5732','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162056,'0.1','5733','493','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162057,'0.2','5734','493','17');

Conferir valor atual do id_banco:  5162057

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162058,'214131.77100000004','5708','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162059,'821948.475','5709','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162060,'213923.707','5711','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162061,'1036782.97','5710','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162062,'3477699.93','5712','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162063,'2168826.624','5713','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162064,'672592.848','5714','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162065,'867097.219','5715','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162066,'1564170.82','5716','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162067,'1794666.9400000002','5717','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162068,'785996.13','5720','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162069,'610739.578','5719','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162070,'4821419.359999999','5718','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162071,'940833.715','5722','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162072,'2509144.4','5725','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162073,'2141037.116','5721','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162074,'2259984.24','5723','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162075,'756021.774','5724','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162076,'809666.102','5727','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162077,'2409981.56','5730','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162078,'3585803.75','5726','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162079,'437752.98999999993','5728','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162080,'125936.3','5729','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162081,'1539877.419','5731','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162082,'555224.165','5732','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162083,'10139932.04','5733','494','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162084,'374416.03200000006','5734','494','17');

Conferir valor atual do id_banco:  5162084

In [56]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2017                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [57]:
dataset2017 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2017")
dataset2017.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,RO,Rondônia,40142.3,0.095839,70517.9,0.168360,8901.71,0.021253,21277.90,0.050801,...,0.003898,100872.0,0.240830,174199,0.415897,756.18,0.001805,552.00,0.001318,418851.57
1,AC,Acre,17238.5,0.073686,20119.3,0.085999,4172.80,0.017837,6357.85,0.027176,...,0.001483,75976.6,0.324760,108967,0.465777,152.00,0.000650,495.82,0.002119,233946.87
2,AM,Amazonas,74852.1,0.072476,89694.1,0.086846,9872.74,0.009559,13790.40,0.013353,...,0.000269,343090.0,0.332197,485096,0.469695,6199.76,0.006003,9828.69,0.009517,1032790.09
3,RR,Roraima,12447.3,0.093576,16895.7,0.127018,4508.00,0.033890,7167.75,0.053886,...,0.002782,34466.3,0.259111,50035,0.376153,3123.78,0.023484,3862.92,0.029041,133017.75
4,PA,Pará,162225.0,0.073358,201240.0,0.091000,80239.00,0.036284,103305.00,0.046714,...,0.003455,643598.0,0.291034,1003281,0.453682,2566.26,0.001160,7144.95,0.003231,2211420.48

In [58]:
#correção para Paraiba
index = dataset2017.loc[dataset2017['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2017.at[index[0],'UF'] = 'Paraiba'

In [59]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2017.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2017 = dataset2017.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2017['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [60]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2017['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2017.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,17238.5,0.073686,20119.3,0.085999,4172.80,0.017837,6357.85,0.027176,...,75976.6,0.324760,108967,0.465777,152.00,0.000650,495.82,0.002119,233946.87,5708
1,AL,Alagoas,66779.4,0.084109,102739.0,0.129400,9348.83,0.011775,20420.00,0.025719,...,215111.0,0.270932,371668,0.468115,1500.32,0.001890,1972.28,0.002484,793967.14,5709
2,AP,Amapá,17241.0,0.071712,17922.1,0.074545,7441.34,0.030951,10776.70,0.044824,...,74604.2,0.310306,110883,0.461203,944.00,0.003926,441.00,0.001834,240421.34,5711
3,AM,Amazonas,74852.1,0.072476,89694.1,0.086846,9872.74,0.009559,13790.40,0.013353,...,343090.0,0.332197,485096,0.469695,6199.76,0.006003,9828.69,0.009517,1032790.09,5710
4,BA,Bahia,222690.0,0.064405,328137.0,0.094902,295012.00,0.085322,440805.00,0.127487,...,850873.0,0.246084,1299064,0.375708,2641.68,0.000764,11942.90,0.003454,3457647.13,5712

In [61]:
dataset2017[dataset2017.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaEstuda, BrancaEstuda(%), BrancaNaoEstuda, BrancaNaoEstuda(%), PretaEstuda, PretaEstuda(%), PretaNaoEstuda, PretaNaoEstuda(%), AmarelaEstuda, AmarelaEstuda(%), AmarelaNaoEstuda, AmarelaNaoEstuda(%), PardaEstuda, PardaEstuda(%), PardaNaoEstuda, PardaNaoEstuda(%), IndigenaEstuda, IndigenaEstuda(%), IndigenaNaoEstuda, IndigenaNaoEstuda(%), Total, id]
Index: []

[0 rows x 24 columns]

In [85]:
year_id = "18"      #Ano: 2017
group_id = "474"    # é o primeiro: Ocupado
percentual = False

id_banco = 5162084  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2017

print('Ano: 2017')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2017

BrancaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162085,'17238.5','5708','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162086,'66779.4','5709','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162087,'17241.0','5711','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162088,'74852.1','5710','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162089,'222690.0','5712','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162090,'216540.0','5713','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162091,'110889.0','5714','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162092,'117746.0','5715','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162093,'218316.0','5716','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162094,'111532.0','5717','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162095,'86737.6','5720','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162096,'100822.0','5719','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162097,'725451.0','5718','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162098,'119086.0','5722','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162099,'662957.0','5725','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162100,'162225.0','5721','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162101,'242149.0','5723','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162102,'68626.5','5724','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162103,'122120.0','5727','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162104,'770324.0','5730','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162105,'658357.0','5726','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162106,'40142.3','5728','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162107,'12447.3','5729','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162108,'475546.0','5731','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162109,'43084.9','5732','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162110,'2136083.0','5733','474','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162111,'26565.8','5734','474','18');

Conferir valor atual do id_banco:  5162111

BrancaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162112,'7.4','5708','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162113,'8.4','5709','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162114,'7.2','5711','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162115,'7.2','5710','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162116,'6.4','5712','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162117,'9.6','5713','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162118,'15.6','5714','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162119,'13.7','5715','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162120,'13.8','5716','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162121,'6.3','5717','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162122,'11.1','5720','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162123,'17.3','5719','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162124,'15.0','5718','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162125,'12.8','5722','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162126,'26.0','5725','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162127,'7.3','5721','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162128,'11.0','5723','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162129,'9.1','5724','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162130,'14.7','5727','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162131,'32.2','5730','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162132,'18.0','5726','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162133,'9.6','5728','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162134,'9.4','5729','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162135,'30.2','5731','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162136,'7.9','5732','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162137,'21.8','5733','475','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162138,'7.1','5734','475','18');

Conferir valor atual do id_banco:  5162138

BrancaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162139,'20119.3','5708','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162140,'102739.0','5709','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162141,'17922.1','5711','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162142,'89694.1','5710','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162143,'328137.0','5712','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162144,'320153.0','5713','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162145,'118762.0','5714','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162146,'178468.0','5715','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162147,'303472.0','5716','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162148,'196266.0','5717','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162149,'138253.0','5720','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162150,'146964.0','5719','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162151,'1034999.0','5718','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162152,'185808.0','5722','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162153,'1016879.0','5725','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162154,'201240.0','5721','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162155,'364790.0','5723','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162156,'84885.9','5724','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162157,'175274.0','5727','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162158,'1077264.0','5730','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162159,'803256.0','5726','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162160,'70517.9','5728','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162161,'16895.7','5729','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162162,'786468.0','5731','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162163,'64156.9','5732','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162164,'3489988.0','5733','476','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162165,'36292.9','5734','476','18');

Conferir valor atual do id_banco:  5162165

BrancaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162166,'8.6','5708','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162167,'12.9','5709','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162168,'7.5','5711','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162169,'8.7','5710','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162170,'9.5','5712','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162171,'14.2','5713','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162172,'16.7','5714','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162173,'20.8','5715','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162174,'19.2','5716','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162175,'11.1','5717','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162176,'17.7','5720','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162177,'25.2','5719','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162178,'21.4','5718','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162179,'19.9','5722','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162180,'39.9','5725','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162181,'9.1','5721','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162182,'16.6','5723','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162183,'11.2','5724','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162184,'21.2','5727','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162185,'45.0','5730','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162186,'22.0','5726','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162187,'16.8','5728','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162188,'12.7','5729','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162189,'50.0','5731','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162190,'11.7','5732','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162191,'35.6','5733','477','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162192,'9.7','5734','477','18');

Conferir valor atual do id_banco:  5162192

PretaEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162193,'4172.8','5708','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162194,'9348.83','5709','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162195,'7441.34','5711','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162196,'9872.74','5710','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162197,'295012.0','5712','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162198,'28782.1','5713','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162199,'22650.5','5714','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162200,'28590.7','5715','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162201,'36996.5','5716','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162202,'63087.5','5717','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162203,'28423.5','5720','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162204,'11402.2','5719','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162205,'182088.0','5718','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162206,'20453.5','5722','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162207,'31523.3','5725','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162208,'80239.0','5721','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162209,'57695.0','5723','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162210,'20218.4','5724','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162211,'19746.0','5727','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162212,'52772.0','5730','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162213,'177997.0','5726','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162214,'8901.71','5728','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162215,'4508.0','5729','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162216,'13536.3','5731','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162217,'15544.7','5732','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162218,'192792.0','5733','478','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162219,'16449.1','5734','478','18');

Conferir valor atual do id_banco:  5162219

PretaEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162220,'1.8','5708','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162221,'1.2','5709','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162222,'3.1','5711','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162223,'1.0','5710','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162224,'8.5','5712','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162225,'1.3','5713','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162226,'3.2','5714','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162227,'3.3','5715','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162228,'2.3','5716','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162229,'3.6','5717','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162230,'3.6','5720','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162231,'2.0','5719','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162232,'3.8','5718','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162233,'2.2','5722','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162234,'1.2','5725','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162235,'3.6','5721','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162236,'2.6','5723','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162237,'2.7','5724','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162238,'2.4','5727','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162239,'2.2','5730','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162240,'4.9','5726','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162241,'2.1','5728','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162242,'3.4','5729','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162243,'0.9','5731','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162244,'2.8','5732','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162245,'2.0','5733','479','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162246,'4.4','5734','479','18');

Conferir valor atual do id_banco:  5162246

PretaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162247,'6357.85','5708','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162248,'20420.0','5709','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162249,'10776.7','5711','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162250,'13790.4','5710','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162251,'440805.0','5712','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162252,'66362.3','5713','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162253,'37048.0','5714','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162254,'67975.9','5715','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162255,'79602.8','5716','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162256,'111096.0','5717','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162257,'43316.6','5720','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162258,'19523.5','5719','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162259,'387972.0','5718','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162260,'30548.1','5722','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162261,'67884.9','5725','480','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162262,'103305.0','5721','480','18');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162564,'0.0','5726','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162565,'0.2','5728','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162566,'2.3','5729','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162567,'0.1','5731','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162568,'0.2','5732','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162569,'0.0','5733','491','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162570,'0.2','5734','491','18');

Conferir valor atual do id_banco:  5162570

IndigenaNaoEstuda
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162571,'495.82','5708','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162572,'1972.28','5709','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162573,'441.0','5711','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162574,'9828.69','5710','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162575,'11942.9','5712','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162576,'8202.99','5713','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162577,'2683.69','5714','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162578,'402.0','5715','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162579,'2993.06','5716','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162580,'532.0','5717','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162581,'787.0','5720','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162582,'479.0','5719','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162583,'2257.48','5718','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162584,'154.0','5722','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162585,'1533.45','5725','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162586,'7144.95','5721','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162587,'3042.76','5723','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162588,'702.0','5724','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162589,'0.0','5727','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162590,'2218.87','5730','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162591,'2214.33','5726','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162592,'552.0','5728','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162593,'3862.92','5729','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162594,'969.0','5731','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162595,'214.0','5732','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162596,'13107.1','5733','492','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162597,'370.0','5734','492','18');

Conferir valor atual do id_banco:  5162597

IndigenaNaoEstuda(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162598,'0.2','5708','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162599,'0.2','5709','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162600,'0.2','5711','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162601,'1.0','5710','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162602,'0.3','5712','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162603,'0.4','5713','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162604,'0.4','5714','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162605,'0.0','5715','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162606,'0.2','5716','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162607,'0.0','5717','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162608,'0.1','5720','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162609,'0.1','5719','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162610,'0.0','5718','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162611,'0.0','5722','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162612,'0.1','5725','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162613,'0.3','5721','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162614,'0.1','5723','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162615,'0.1','5724','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162616,'0.0','5727','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162617,'0.1','5730','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162618,'0.1','5726','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162619,'0.1','5728','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162620,'2.9','5729','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162621,'0.1','5731','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162622,'0.0','5732','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162623,'0.1','5733','493','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162624,'0.1','5734','493','18');

Conferir valor atual do id_banco:  5162624

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162625,'233946.87','5708','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162626,'793967.14','5709','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162627,'240421.34','5711','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162628,'1032790.0899999999','5710','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162629,'3457647.13','5712','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162630,'2249558.16','5713','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162631,'709501.38','5714','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162632,'859208.72','5715','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162633,'1584519.9700000002','5716','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162634,'1768612.1800000002','5717','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162635,'780631.13','5720','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162636,'583363.9','5719','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162637,'4831723.470000001','5718','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162638,'933823.6','5722','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162639,'2549623.65','5725','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162640,'2211420.48','5721','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162641,'2196689.9000000004','5723','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162642,'757206.6','5724','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162643,'828142.6','5727','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162644,'2393774.42','5730','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162645,'3659170.91','5726','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162646,'418851.57','5728','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162647,'133017.75','5729','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162648,'1572598.05','5731','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162649,'546772.4','5732','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162650,'9796338.3','5733','494','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162651,'375615.9','5734','494','18');

Conferir valor atual do id_banco:  5162651

In [63]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2018                                             ###
###                                                                                              ###
####################################################################################################

In [64]:
dataset2018 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2018")
dataset2018.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,RO,Rondônia,48674.8,0.110998,66265.4,0.151112,8607.84,0.019629,20463.20,0.046664,...,0.011339,103808.0,0.236724,180375.0,0.411328,1016.200,0.002317,1209.430,0.002758,438518.340
1,AC,Acre,16463.7,0.071777,20892.4,0.091084,4698.28,0.020483,6136.83,0.026755,...,0.002168,68616.0,0.299145,110286.0,0.480813,736.366,0.003210,529.621,0.002309,229373.974
2,AM,Amazonas,77746.1,0.076946,71883.8,0.071144,7367.76,0.007292,11085.20,0.010971,...,0.003356,345837.0,0.342278,470721.0,0.465876,6762.920,0.006693,12651.600,0.012521,1010398.770
3,RR,Roraima,13582.1,0.096706,15048.4,0.107146,2394.08,0.017046,5316.89,0.037857,...,0.001336,36925.7,0.262915,57362.9,0.408430,4154.390,0.029580,5342.040,0.038036,140447.223
4,PA,Pará,148023.0,0.067284,220977.0,0.100446,65909.30,0.029959,95146.70,0.043249,...,0.002235,656867.0,0.298581,990968.0,0.450448,4999.310,0.002272,6174.170,0.002806,2199960.240

In [65]:
#correção para Paraiba
index = dataset2018.loc[dataset2018['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2018.at[index[0],'UF'] = 'Paraiba'

In [66]:
# não preciso colocar célula de incorporar a coluna de NaoEconomicamenteAtivo em Descocupado 

# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2018.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2018 = dataset2018.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2018['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [67]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2018['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2018.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,16463.7,0.071777,20892.4,0.091084,4698.28,0.020483,6136.83,0.026755,...,68616.0,0.299145,110286.0,0.480813,736.366,0.003210,529.621,0.002309,229373.974,5708
1,AL,Alagoas,67328.3,0.085661,110290.0,0.140321,18324.70,0.023314,25334.10,0.032232,...,202494.0,0.257631,356771.0,0.453915,576.634,0.000734,736.289,0.000937,785985.973,5709
2,AP,Amapá,18249.1,0.075266,17214.5,0.070999,6690.84,0.027596,11212.70,0.046246,...,77232.8,0.318538,108783.0,0.448663,366.812,0.001513,488.675,0.002015,242460.346,5711
3,AM,Amazonas,77746.1,0.076946,71883.8,0.071144,7367.76,0.007292,11085.20,0.010971,...,345837.0,0.342278,470721.0,0.465876,6762.920,0.006693,12651.600,0.012521,1010398.770,5710
4,BA,Bahia,250706.0,0.073824,327084.0,0.096314,262291.00,0.077235,469054.00,0.138120,...,809210.0,0.238283,1259254.0,0.370805,6556.460,0.001931,3847.880,0.001133,3396000.410,5712

In [68]:
dataset2018[dataset2018.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaEstuda, BrancaEstuda(%), BrancaNaoEstuda, BrancaNaoEstuda(%), PretaEstuda, PretaEstuda(%), PretaNaoEstuda, PretaNaoEstuda(%), AmarelaEstuda, AmarelaEstuda(%), AmarelaNaoEstuda, AmarelaNaoEstuda(%), PardaEstuda, PardaEstuda(%), PardaNaoEstuda, PardaNaoEstuda(%), IndigenaEstuda, IndigenaEstuda(%), IndigenaNaoEstuda, IndigenaNaoEstuda(%), Total, id]
Index: []

[0 rows x 24 columns]

In [69]:
year_id = "19"      #Ano: 2018
group_id = "474"    # é o primeiro: Ocupado
percentual = False

id_banco = 5162651  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2018

print('Ano: 2018')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2018

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162652,'16463.7','5708','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162653,'67328.3','5709','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162654,'18249.1','5711','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162655,'77746.1','5710','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162656,'250706.0','5712','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162657,'218193.0','5713','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162658,'113306.0','5714','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162659,'110912.0','5715','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162660,'213129.0','5716','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162661,'112244.0','5717','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162662,'94412.9','5720','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162663,'105947.0','5719','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162664,'711833.0','5718','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162665,'133071.0','5722','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162666,'623235.0','5725','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162667,'148023.0','5721','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162668,'257099.0','5723','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162669,'56869.9','5724','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162670,'114021.0','5727','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162671,'735701.0','5730','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162672,'628249.0','5726','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162673,'48674.8','5728','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162674,'13582.1','5729','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162675,'501687.0','5731','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162676,'44851.2','5732','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162677,'2064201.0','5733','474','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162678,'32650.6','5734','474','19');

Conferir valor atual do id_banco:  5162678

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162679,'7.2','5708','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162680,'8.6','5709','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162681,'7.5','5711','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162682,'7.7','5710','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162683,'7.4','5712','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162684,'9.9','5713','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162685,'15.9','5714','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162686,'12.7','5715','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162687,'13.6','5716','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162688,'6.5','5717','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162689,'12.2','5720','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162690,'17.3','5719','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162691,'14.6','5718','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162692,'14.4','5722','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162693,'24.5','5725','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162694,'6.7','5721','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162695,'11.8','5723','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162696,'7.6','5724','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162697,'13.7','5727','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162698,'32.6','5730','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162699,'17.5','5726','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162700,'11.1','5728','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162701,'9.7','5729','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162702,'32.3','5731','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162703,'8.1','5732','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162704,'20.9','5733','475','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162705,'9.0','5734','475','19');

Conferir valor atual do id_banco:  5162705

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162706,'20892.4','5708','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162707,'110290.0','5709','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162708,'17214.5','5711','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162709,'71883.8','5710','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162710,'327084.0','5712','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162711,'314057.0','5713','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162712,'129668.0','5714','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162713,'182085.0','5715','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162714,'280807.0','5716','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162715,'172662.0','5717','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162716,'129545.0','5720','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162717,'149807.0','5719','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162718,'1016109.0','5718','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162719,'144644.0','5722','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162720,'947244.0','5725','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162721,'220977.0','5721','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162722,'419646.0','5723','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162723,'61690.6','5724','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162724,'165878.0','5727','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162725,'997552.0','5730','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162726,'790843.0','5726','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162727,'66265.4','5728','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162728,'15048.4','5729','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162729,'723997.0','5731','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162730,'59916.9','5732','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162731,'3306199.0','5733','476','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162732,'38662.6','5734','476','19');

Conferir valor atual do id_banco:  5162732

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162733,'9.1','5708','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162734,'14.0','5709','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162735,'7.1','5711','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162736,'7.1','5710','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162737,'9.6','5712','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162738,'14.2','5713','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162739,'18.2','5714','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162740,'20.9','5715','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162741,'17.9','5716','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162742,'10.0','5717','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162743,'16.8','5720','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162744,'24.5','5719','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162745,'20.9','5718','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162746,'15.7','5722','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162747,'37.3','5725','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162748,'10.0','5721','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162749,'19.2','5723','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162750,'8.3','5724','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162751,'20.0','5727','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162752,'44.2','5730','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162753,'22.0','5726','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162754,'15.1','5728','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162755,'10.7','5729','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162756,'46.6','5731','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162757,'10.8','5732','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162758,'33.5','5733','477','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162759,'10.6','5734','477','19');

Conferir valor atual do id_banco:  5162759

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162760,'4698.28','5708','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162761,'18324.7','5709','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162762,'6690.84','5711','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162763,'7367.76','5710','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162764,'262291.0','5712','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162765,'31504.9','5713','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162766,'27529.6','5714','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162767,'34277.5','5715','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162768,'42006.9','5716','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162769,'76581.1','5717','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162770,'22290.2','5720','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162771,'13478.8','5719','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162772,'177578.0','5718','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162773,'22073.5','5722','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162774,'30747.7','5725','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162775,'65909.3','5721','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162776,'56329.7','5723','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162777,'22462.3','5724','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162778,'15538.7','5727','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162779,'60145.2','5730','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162780,'164920.0','5726','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162781,'8607.84','5728','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162782,'2394.08','5729','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162783,'12346.1','5731','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162784,'19658.1','5732','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162785,'216486.0','5733','478','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162786,'12282.7','5734','478','19');

Conferir valor atual do id_banco:  5162786

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162787,'2.0','5708','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162788,'2.3','5709','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162789,'2.8','5711','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162790,'0.7','5710','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162791,'7.7','5712','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162792,'1.4','5713','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162793,'3.9','5714','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162794,'3.9','5715','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162795,'2.7','5716','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162796,'4.4','5717','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162797,'2.9','5720','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162798,'2.2','5719','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162799,'3.6','5718','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162800,'2.4','5722','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162801,'1.2','5725','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162802,'3.0','5721','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162803,'2.6','5723','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162804,'3.0','5724','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162805,'1.9','5727','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162806,'2.7','5730','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162807,'4.6','5726','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162808,'2.0','5728','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162809,'1.7','5729','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162810,'0.8','5731','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162811,'3.5','5732','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162812,'2.2','5733','479','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162813,'3.4','5734','479','19');

Conferir valor atual do id_banco:  5162813

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162814,'6136.83','5708','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162815,'25334.1','5709','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162816,'11212.7','5711','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162817,'11085.2','5710','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162818,'469054.0','5712','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162819,'65469.3','5713','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162820,'41214.6','5714','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162821,'62871.8','5715','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162822,'88091.3','5716','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162823,'125254.0','5717','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162824,'47413.3','5720','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162825,'22361.5','5719','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162826,'416456.0','5718','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162827,'33707.7','5722','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162828,'82040.2','5725','480','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5162829,'95146.7','5721','480','19');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163084,'736.366','5708','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163085,'576.634','5709','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163086,'366.812','5711','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163087,'6762.92','5710','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163088,'6556.46','5712','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163089,'2037.83','5713','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163090,'0.0','5714','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163091,'469.792','5715','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163092,'856.406','5716','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163093,'1161.46','5717','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163094,'891.195','5720','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163095,'1590.02','5719','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163096,'2095.16','5718','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163097,'0.0','5722','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163098,'1167.64','5725','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163099,'4999.31','5721','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163100,'380.761','5723','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163101,'0.0','5724','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163102,'780.157','5727','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163103,'692.785','5730','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163104,'5165.41','5726','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163105,'1016.2','5728','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163106,'4154.39','5729','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163107,'1067.79','5731','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163108,'291.071','5732','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163109,'12774.1','5733','490','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163110,'937.098','5734','490','19');

Conferir valor atual do id_banco:  5163110

IndigenaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163111,'0.3','5708','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163112,'0.1','5709','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163113,'0.2','5711','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163114,'0.7','5710','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163115,'0.2','5712','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163116,'0.1','5713','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163117,'0.0','5714','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163118,'0.1','5715','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163119,'0.1','5716','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163120,'0.1','5717','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163121,'0.1','5720','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163122,'0.3','5719','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163123,'0.0','5718','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163124,'0.0','5722','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163125,'0.0','5725','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163126,'0.2','5721','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163127,'0.0','5723','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163128,'0.0','5724','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163129,'0.1','5727','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163130,'0.0','5730','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163131,'0.1','5726','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163132,'0.2','5728','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163133,'3.0','5729','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163134,'0.1','5731','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163135,'0.1','5732','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163136,'0.1','5733','491','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163137,'0.3','5734','491','19');

Conferir valor atual do id_banco:  5163137

IndigenaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163138,'529.621','5708','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163139,'736.289','5709','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163140,'488.675','5711','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163141,'12651.6','5710','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163142,'3847.88','5712','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163143,'5844.84','5713','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163144,'596.319','5714','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163145,'2415.09','5715','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163146,'2852.81','5716','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163147,'2971.41','5717','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163148,'2234.42','5720','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163149,'3587.91','5719','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163150,'325.93','5718','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163151,'1106.85','5722','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163152,'404.856','5725','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163153,'6174.17','5721','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163154,'3758.36','5723','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163155,'789.348','5724','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163156,'809.405','5727','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163157,'3689.74','5730','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163158,'2913.8','5726','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163159,'1209.43','5728','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163160,'5342.04','5729','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163161,'1794.64','5731','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163162,'452.213','5732','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163163,'23073.2','5733','492','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163164,'955.16','5734','492','19');

Conferir valor atual do id_banco:  5163164

IndigenaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163165,'0.2','5708','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163166,'0.1','5709','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163167,'0.2','5711','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163168,'1.3','5710','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163169,'0.1','5712','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163170,'0.3','5713','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163171,'0.1','5714','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163172,'0.3','5715','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163173,'0.2','5716','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163174,'0.2','5717','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163175,'0.3','5720','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163176,'0.6','5719','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163177,'0.0','5718','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163178,'0.1','5722','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163179,'0.0','5725','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163180,'0.3','5721','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163181,'0.2','5723','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163182,'0.1','5724','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163183,'0.1','5727','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163184,'0.2','5730','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163185,'0.1','5726','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163186,'0.3','5728','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163187,'3.8','5729','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163188,'0.1','5731','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163189,'0.1','5732','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163190,'0.2','5733','493','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163191,'0.3','5734','493','19');

Conferir valor atual do id_banco:  5163191

Total

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163192,'229373.97400000002','5708','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163193,'785985.973','5709','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163194,'242460.34600000002','5711','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163195,'1010398.77','5710','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163196,'3396000.4099999997','5712','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163197,'2211224.341','5713','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163198,'710780.7390000001','5714','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163199,'870534.132','5715','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163200,'1565117.416','5716','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163201,'1724087.3599999999','5717','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163202,'772602.3350000001','5720','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163203,'611604.9269999999','5719','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163204,'4865704.59','5718','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163205,'922018.33','5722','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163206,'2540308.166','5725','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163207,'2199960.24','5721','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163208,'2186514.961','5723','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163209,'744107.9180000001','5724','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163210,'830168.729','5727','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163211,'2258510.965','5730','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163212,'3591270.42','5726','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163213,'438518.34','5728','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163214,'140447.223','5729','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163215,'1553788.81','5731','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163216,'555823.257','5732','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163217,'9867193.0','5733','494','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163218,'364140.0679999999','5734','494','19');

Conferir valor atual do id_banco:  5163218

In [70]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2019                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [71]:
dataset2019 = pd.read_excel('Eixo4_DistribuicaoRacaCorEstuda.xlsx', sheet_name="2019")
dataset2019.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,AmarelaNaoEstuda(%),PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total
0,RO,Rondônia,37221.9,0.088411,60468.3,0.143627,8238.62,0.019569,20458.40,0.048594,...,0.003888,106330.0,0.252560,182121.0,0.432583,689.666,0.001638,2711.490,0.006440,421008.036
1,AC,Acre,16328.0,0.070988,19631.1,0.085349,5218.89,0.022690,6867.18,0.029856,...,0.002262,69039.2,0.300158,111556.0,0.485005,401.936,0.001747,447.202,0.001944,230009.888
2,AM,Amazonas,65750.3,0.061740,81637.0,0.076658,13537.90,0.012712,17242.60,0.016191,...,0.002871,313077.0,0.293983,538505.0,0.505663,12727.400,0.011951,16460.700,0.015457,1064947.880
3,RR,Roraima,10875.4,0.072395,16175.0,0.107673,3649.08,0.024291,7127.97,0.047449,...,0.004217,39565.2,0.263375,62330.4,0.414916,3434.640,0.022863,6053.910,0.040299,150223.991
4,PA,Pará,149050.0,0.070183,187915.0,0.088484,61969.60,0.029180,93291.70,0.043928,...,0.004200,627816.0,0.295620,980005.0,0.461456,5074.730,0.002390,6572.370,0.003095,2123723.120

In [72]:
#correção para Paraiba
index = dataset2019.loc[dataset2019['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2019.at[index[0],'UF'] = 'Paraiba'

In [73]:
# não preciso colocar célula de incorporar a coluna de NaoEconomicamenteAtivo em Descocupado 

# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2019.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2019 = dataset2019.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2019['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [74]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2019['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2019.head()

,Sigla,UF,BrancaEstuda,BrancaEstuda(%),BrancaNaoEstuda,BrancaNaoEstuda(%),PretaEstuda,PretaEstuda(%),PretaNaoEstuda,PretaNaoEstuda(%),...,PardaEstuda,PardaEstuda(%),PardaNaoEstuda,PardaNaoEstuda(%),IndigenaEstuda,IndigenaEstuda(%),IndigenaNaoEstuda,IndigenaNaoEstuda(%),Total,id
0,AC,Acre,16328.0,0.070988,19631.1,0.085349,5218.89,0.022690,6867.18,0.029856,...,69039.2,0.300158,111556.0,0.485005,401.936,0.001747,447.2020,0.001944,2.300099e+05,5708
1,AL,Alagoas,66651.8,0.086744,110560.0,0.143889,12627.10,0.016434,24509.20,0.031898,...,203030.0,0.264235,340853.0,0.443606,2605.400,0.003391,3480.1800,0.004529,7.683696e+05,5709
2,AP,Amapá,17655.6,0.074729,17389.3,0.073602,5986.32,0.025338,12080.00,0.051130,...,82635.7,0.349764,99530.6,0.421273,470.376,0.001991,31.7468,0.000134,2.362614e+05,5711
3,AM,Amazonas,65750.3,0.061740,81637.0,0.076658,13537.90,0.012712,17242.60,0.016191,...,313077.0,0.293983,538505.0,0.505663,12727.400,0.011951,16460.7000,0.015457,1.064948e+06,5710
4,BA,Bahia,196433.0,0.058706,302346.0,0.090359,312939.00,0.093525,456369.00,0.136390,...,849889.0,0.253997,1192939.0,0.356520,8385.920,0.002506,10741.4000,0.003210,3.346063e+06,5712

In [75]:
dataset2019[dataset2019.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaEstuda, BrancaEstuda(%), BrancaNaoEstuda, BrancaNaoEstuda(%), PretaEstuda, PretaEstuda(%), PretaNaoEstuda, PretaNaoEstuda(%), AmarelaEstuda, AmarelaEstuda(%), AmarelaNaoEstuda, AmarelaNaoEstuda(%), PardaEstuda, PardaEstuda(%), PardaNaoEstuda, PardaNaoEstuda(%), IndigenaEstuda, IndigenaEstuda(%), IndigenaNaoEstuda, IndigenaNaoEstuda(%), Total, id]
Index: []

[0 rows x 24 columns]

In [76]:
year_id = "20"      #Ano: 2019
group_id = "474"    # é o primeiro: Ocupado
percentual = False

id_banco = 5163218  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2019

print('Ano: 2019')
print()

for nome in ['BrancaEstuda', 'BrancaEstuda(%)', 'BrancaNaoEstuda',
       'BrancaNaoEstuda(%)', 'PretaEstuda', 'PretaEstuda(%)', 'PretaNaoEstuda',
       'PretaNaoEstuda(%)', 'AmarelaEstuda', 'AmarelaEstuda(%)',
       'AmarelaNaoEstuda', 'AmarelaNaoEstuda(%)', 'PardaEstuda',
       'PardaEstuda(%)', 'PardaNaoEstuda', 'PardaNaoEstuda(%)',
       'IndigenaEstuda', 'IndigenaEstuda(%)', 'IndigenaNaoEstuda',
       'IndigenaNaoEstuda(%)', 'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2019

BrancaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163219,'16328.0','5708','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163220,'66651.8','5709','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163221,'17655.6','5711','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163222,'65750.3','5710','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163223,'196433.0','5712','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163224,'207581.0','5713','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163225,'116379.0','5714','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163226,'107135.0','5715','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163227,'213850.0','5716','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163228,'119644.0','5717','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163229,'87864.3','5720','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163230,'97857.1','5719','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163231,'668384.0','5718','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163232,'117797.0','5722','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163233,'606280.0','5725','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163234,'149050.0','5721','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163235,'232899.0','5723','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163236,'61952.1','5724','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163237,'125214.0','5727','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163238,'722664.0','5730','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163239,'678073.0','5726','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163240,'37221.9','5728','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163241,'10875.4','5729','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163242,'461816.0','5731','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163243,'41655.7','5732','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163244,'2006734.0','5733','474','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163245,'29784.5','5734','474','20');

Conferir valor atual do id_banco:  5163245

BrancaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163246,'7.1','5708','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163247,'8.7','5709','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163248,'7.5','5711','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163249,'6.2','5710','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163250,'5.9','5712','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163251,'9.7','5713','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163252,'16.2','5714','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163253,'12.7','5715','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163254,'14.0','5716','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163255,'6.9','5717','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163256,'11.7','5720','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163257,'16.6','5719','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163258,'14.8','5718','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163259,'13.0','5722','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163260,'25.1','5725','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163261,'7.0','5721','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163262,'10.7','5723','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163263,'8.3','5724','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163264,'16.0','5727','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163265,'30.7','5730','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163266,'19.4','5726','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163267,'8.8','5728','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163268,'7.2','5729','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163269,'31.2','5731','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163270,'7.6','5732','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163271,'20.6','5733','475','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163272,'8.3','5734','475','20');

Conferir valor atual do id_banco:  5163272

BrancaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163273,'19631.1','5708','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163274,'110560.0','5709','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163275,'17389.3','5711','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163276,'81637.0','5710','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163277,'302346.0','5712','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163278,'293770.0','5713','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163279,'131841.0','5714','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163280,'160662.0','5715','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163281,'259934.0','5716','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163282,'170006.0','5717','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163283,'113247.0','5720','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163284,'136539.0','5719','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163285,'929652.0','5718','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163286,'146841.0','5722','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163287,'855591.0','5725','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163288,'187915.0','5721','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163289,'395244.0','5723','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163290,'84841.2','5724','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163291,'158196.0','5727','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163292,'1078316.0','5730','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163293,'801554.0','5726','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163294,'60468.3','5728','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163295,'16175.0','5729','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163296,'701490.0','5731','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163297,'58822.0','5732','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163298,'3309805.0','5733','476','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163299,'36877.0','5734','476','20');

Conferir valor atual do id_banco:  5163299

BrancaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163300,'8.5','5708','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163301,'14.4','5709','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163302,'7.4','5711','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163303,'7.7','5710','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163304,'9.0','5712','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163305,'13.7','5713','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163306,'18.3','5714','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163307,'19.0','5715','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163308,'17.0','5716','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163309,'9.8','5717','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163310,'15.1','5720','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163311,'23.1','5719','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163312,'20.6','5718','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163313,'16.2','5722','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163314,'35.4','5725','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163315,'8.8','5721','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163316,'18.2','5723','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163317,'11.4','5724','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163318,'20.2','5727','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163319,'45.8','5730','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163320,'23.0','5726','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163321,'14.4','5728','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163322,'10.8','5729','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163323,'47.3','5731','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163324,'10.7','5732','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163325,'33.9','5733','477','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163326,'10.2','5734','477','20');

Conferir valor atual do id_banco:  5163326

PretaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163327,'5218.89','5708','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163328,'12627.1','5709','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163329,'5986.32','5711','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163330,'13537.9','5710','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163331,'312939.0','5712','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163332,'35909.1','5713','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163333,'32032.1','5714','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163334,'35460.0','5715','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163335,'44168.4','5716','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163336,'63708.8','5717','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163337,'30609.5','5720','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163338,'10696.0','5719','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163339,'167008.0','5718','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163340,'24828.8','5722','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163341,'25240.7','5725','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163342,'61969.6','5721','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163343,'34709.4','5723','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163344,'27549.5','5724','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163345,'18676.2','5727','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163346,'62973.2','5730','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163347,'171787.0','5726','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163348,'8238.62','5728','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163349,'3649.08','5729','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163350,'17446.4','5731','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163351,'21366.1','5732','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163352,'199843.0','5733','478','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163353,'15193.9','5734','478','20');

Conferir valor atual do id_banco:  5163353

PretaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163354,'2.3','5708','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163355,'1.6','5709','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163356,'2.5','5711','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163357,'1.3','5710','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163358,'9.4','5712','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163359,'1.7','5713','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163360,'4.5','5714','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163361,'4.2','5715','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163362,'2.9','5716','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163363,'3.7','5717','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163364,'4.1','5720','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163365,'1.8','5719','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163366,'3.7','5718','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163367,'2.7','5722','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163368,'1.0','5725','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163369,'2.9','5721','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163370,'1.6','5723','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163371,'3.7','5724','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163372,'2.4','5727','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163373,'2.7','5730','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163374,'4.9','5726','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163375,'2.0','5728','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163376,'2.4','5729','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163377,'1.2','5731','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163378,'3.9','5732','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163379,'2.0','5733','479','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163380,'4.2','5734','479','20');

Conferir valor atual do id_banco:  5163380

PretaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163381,'6867.18','5708','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163382,'24509.2','5709','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163383,'12080.0','5711','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163384,'17242.6','5710','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163385,'456369.0','5712','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163386,'66842.0','5713','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163387,'49794.9','5714','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163388,'70037.3','5715','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163389,'90513.6','5716','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163390,'106911.0','5717','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163391,'51613.2','5720','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163392,'25036.4','5719','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163393,'411080.0','5718','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163394,'31632.6','5722','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163395,'68338.2','5725','480','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163396,'93291.7','5721','480','20');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163462,'0.0','5708','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163463,'0.2','5709','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163464,'0.1','5711','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163465,'0.3','5710','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163466,'0.1','5712','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163467,'0.1','5713','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163468,'0.1','5714','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163469,'0.2','5715','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163470,'0.0','5716','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163471,'0.4','5717','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163472,'0.1','5720','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163473,'0.4','5719','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163474,'0.1','5718','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163475,'0.1','5722','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163476,'0.3','5725','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163477,'0.1','5721','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163478,'0.2','5723','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163479,'0.0','5724','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163480,'0.0','5727','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163481,'0.0','5730','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163482,'0.1','5726','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163483,'0.3','5728','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163484,'0.3','5729','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163485,'0.2','5731','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163486,'0.1','5732','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163487,'0.3','5733','483','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163488,'0.4','5734','483','20');

Conferir valor atual do id_banco:  5163488

AmarelaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163489,'520.38','5708','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163490,'2744.09','5709','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163491,'188.254','5711','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163492,'3056.96','5710','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163493,'11637.8','5712','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163494,'8273.05','5713','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163495,'1721.4','5714','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163496,'1241.26','5715','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163497,'1022.59','5716','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163498,'3516.85','5717','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163499,'2231.69','5720','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163500,'995.342','5719','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163501,'8800.14','5718','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163502,'2173.29','5722','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163503,'9410.25','5725','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163504,'8919.56','5721','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163505,'8226.76','5723','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163506,'298.081','5724','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163507,'1085.9','5727','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163508,'508.086','5730','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163509,'8502.54','5726','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163510,'1636.89','5728','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163511,'633.439','5729','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163512,'4539.57','5731','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163513,'1068.71','5732','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163514,'45130.7','5733','484','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163515,'2089.1','5734','484','20');

Conferir valor atual do id_banco:  5163515

AmarelaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163516,'0.2','5708','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163517,'0.4','5709','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163518,'0.1','5711','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163519,'0.3','5710','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163520,'0.3','5712','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163521,'0.4','5713','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163522,'0.2','5714','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163523,'0.1','5715','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163524,'0.1','5716','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163525,'0.2','5717','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163526,'0.3','5720','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163527,'0.2','5719','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163528,'0.2','5718','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163529,'0.2','5722','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163530,'0.4','5725','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163531,'0.4','5721','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163532,'0.4','5723','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163533,'0.0','5724','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163534,'0.1','5727','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163535,'0.0','5730','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163536,'0.2','5726','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163537,'0.4','5728','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163538,'0.4','5729','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163539,'0.3','5731','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163540,'0.2','5732','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163541,'0.5','5733','485','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163542,'0.6','5734','485','20');

Conferir valor atual do id_banco:  5163542

PardaEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163543,'69039.2','5708','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163544,'203030.0','5709','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163545,'82635.7','5711','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163546,'313077.0','5710','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163547,'849889.0','5712','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163548,'515304.0','5713','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163549,'163026.0','5714','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163550,'172066.0','5715','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163551,'362172.0','5716','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163552,'461950.0','5717','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163553,'178355.0','5720','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163554,'107908.0','5719','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163555,'838537.0','5718','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163556,'233208.0','5722','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163557,'275702.0','5725','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163558,'627816.0','5721','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163559,'484369.0','5723','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163560,'217954.0','5724','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163561,'187828.0','5727','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163562,'118652.0','5730','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163563,'562084.0','5726','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163564,'106330.0','5728','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163565,'39565.2','5729','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163566,'91976.1','5731','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163567,'149824.0','5732','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163568,'1083193.0','5733','486','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163569,'96316.3','5734','486','20');

Conferir valor atual do id_banco:  5163569

PardaEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163570,'30.0','5708','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163571,'26.4','5709','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163572,'35.0','5711','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163573,'29.4','5710','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163574,'25.4','5712','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163575,'24.0','5713','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163576,'22.7','5714','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163577,'20.4','5715','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163578,'23.7','5716','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163579,'26.5','5717','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163580,'23.8','5720','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163581,'18.3','5719','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163582,'18.6','5718','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163583,'25.7','5722','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163584,'11.4','5725','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163585,'29.6','5721','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163586,'22.2','5723','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163587,'29.3','5724','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163588,'23.9','5727','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163589,'5.0','5730','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163590,'16.1','5726','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163591,'25.3','5728','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163592,'26.3','5729','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163593,'6.2','5731','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163594,'27.3','5732','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163595,'11.1','5733','487','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163596,'26.7','5734','487','20');

Conferir valor atual do id_banco:  5163596

PardaNaoEstuda

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163597,'111556.0','5708','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163598,'340853.0','5709','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163599,'99530.6','5711','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163600,'538505.0','5710','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163601,'1192939.0','5712','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163602,'1015219.0','5713','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163603,'220458.0','5714','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163604,'293842.0','5715','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163605,'552906.0','5716','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163606,'804093.0','5717','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163607,'281671.0','5720','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163608,'205559.0','5719','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163609,'1478327.0','5718','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163610,'349616.0','5722','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163611,'565683.0','5725','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163612,'980005.0','5721','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163613,'914886.0','5723','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163614,'314393.0','5724','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163615,'246407.0','5727','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163616,'240648.0','5730','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163617,'956536.0','5726','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163618,'182121.0','5728','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163619,'62330.4','5729','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163620,'161392.0','5731','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163621,'242792.0','5732','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163622,'2512248.0','5733','488','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163623,'148280.0','5734','488','20');

Conferir valor atual do id_banco:  5163623

PardaNaoEstuda(%)

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163624,'48.5','5708','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163625,'44.4','5709','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163626,'42.1','5711','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163627,'50.6','5710','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163628,'35.7','5712','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163629,'47.2','5713','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163630,'30.7','5714','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163631,'34.8','5715','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163632,'36.1','5716','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163633,'46.1','5717','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163634,'37.6','5720','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163635,'34.8','5719','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163636,'32.8','5718','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163637,'38.5','5722','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163638,'23.4','5725','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163639,'46.1','5721','489','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163640,'42.0','5723','489','20');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163749,'0.1','5724','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163750,'0.2','5727','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163751,'0.7','5730','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163752,'0.1','5726','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163753,'0.6','5728','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163754,'4.0','5729','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163755,'0.1','5731','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163756,'0.0','5732','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163757,'0.0','5733','493','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163758,'0.3','5734','493','20');

Conferir valor atual do id_banco:  5163758

Total

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163759,'230009.88799999998','5708','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163760,'768369.6400000001','5709','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163761,'236261.43579999998','5711','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163762,'1064947.88','5710','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163763,'3346062.77','5712','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163764,'2150497.99','5713','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163765,'719098.764','5714','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163766,'844538.712','5715','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163767,'1530524.084','5716','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163768,'1743115.5200000003','5717','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163769,'749840.64','5720','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163770,'590796.838','5719','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163771,'4508936.93','5718','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163772,'907921.423','5722','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163773,'2419871.05','5725','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163774,'2123723.12','5721','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163775,'2177364.21','5723','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163776,'745068.8609999999','5724','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163777,'784864.398','5727','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163778,'2352863.137','5730','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163779,'3488492.18','5726','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163780,'421008.036','5728','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163781,'150223.991','5729','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163782,'1481856.145','5731','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163783,'548508.159','5732','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163784,'9751960.73','5733','494','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163785,'360365.107','5734','494','20');

Conferir valor atual do id_banco:  5163785