In [1]:
# Esse é o Notebook n.12 da nossa "série de notebooks" dos indicadores do Visão
# Aqui refere-se ao Eixo 4 Tabela: Distribuição de jovens por raça/cor

In [2]:
import pandas as pd
import numpy as np

# Banco do Visão

In [3]:
estados_visao = ['Rondônia' , 'Acre' , 'Amazonas','Roraima' , 'Pará' , 'Amapá' , 'Tocantins' , 'Maranhão' , 'Piauí' , 'Ceará' , 'Rio Grande do Norte' , 'Paraíba' , 'Pernambuco' , 'Alagoas' , 'Sergipe' , 'Bahia' , 'Minas Gerais' , 'Espírito Santo' , 'Rio de Janeiro' , 'São Paulo' , 'Paraná' , 'Santa Catarina' , 'Rio Grande do Sul' , 'Mato Grosso do Sul' , 'Mato Grosso' , 'Goiás' , 'Distrito Federal']
# acima eu tenho a listagem de estados do visão ORIGINAL! 
# Mas vou refazer tirando a acento de "Paraíba", pois no dataset que pegamos tá sem acento!
estados_visao = ['Rondônia' , 'Acre' , 'Amazonas','Roraima' , 'Pará' , 'Amapá' , 'Tocantins' , 'Maranhão' , 'Piauí' , 'Ceará' , 'Rio Grande do Norte' , 'Paraiba' , 'Pernambuco' , 'Alagoas' , 'Sergipe' , 'Bahia' , 'Minas Gerais' , 'Espírito Santo' , 'Rio de Janeiro' , 'São Paulo' , 'Paraná' , 'Santa Catarina' , 'Rio Grande do Sul' , 'Mato Grosso do Sul' , 'Mato Grosso' , 'Goiás' , 'Distrito Federal']

# Código do Visão
codigos_visao = [5728,5708,5710,5729,5721,5711,5734,5717,5724,5713,5727,5722,5723,5709,5732,5712,5718,5715,5726,5733,5725,5731,5730,5719,5720,5716,5714]

# vou colocar os estados e os códigos em um dataframe:
df_auxiliar = pd.DataFrame()
df_auxiliar['UF'] = estados_visao
df_auxiliar['id'] = codigos_visao

# e ordeno agora em ordem alfabetica:
df_auxiliar.sort_values(['UF'], inplace=True)    # ordenar por ordem alfabetica dos estados, assim como está no dataset
df_auxiliar = df_auxiliar.reset_index(drop=True) # resetar os índices
df_auxiliar['UF_no_dataset'] = '-'
df_auxiliar.head(5)

         UF    id UF_no_dataset
0      Acre  5708             -
1   Alagoas  5709             -
2     Amapá  5711             -
3  Amazonas  5710             -
4     Bahia  5712             -

# Parâmetros fixos:

IDs dos ANOS

2010: 11
2011: 12
2012: 13
2013: 14
2014: 15
2015: 16 
2016: 17
2017: 18
2018: 19
2019: 20

Backup dos valores de group_id:

Branca - Masculino (frequência) - id: 495
Branca - Masculino (percentual) - id: 496
Branca - Feminino (frequência) - id: 497
Branca - Feminino  (percentual) - id: 498
Preta - Masculino (frequência) - id: 499
Preta - Masculino (percentual) - id: 500
Preta - Feminino (frequência) - id: 501
Preta - Feminino (percentual) - id: 502
Amarela - Masculino (frequência) - id: 503
Amarela - Masculino (percentual) - id: 504
Amarela - Feminino (frequência) - id: 505
Amarela - Feminino (percentual) - id: 506
Parda - Masculino (frequência) - id: 507
Parda - Masculino (percentual) - id: 508
Parda - Feminino (frequência) - id: 509
Parda - Feminino (percentual) - id: 510
Indígena - Masculino (frequência) - id: 511
Indígena - Masculino (percentual) - id: 512
Indígena - Feminino (frequência) - id: 513
Indígena - Feminino (percentual) - id: 514
Total (frequência) - id: 515

# Função pra gerar o SQL

In [4]:
def gerar_SQL_insert(name_column, group_id, year_id, dataset, id_banco,percentual):
    codigo_sql = []
    for index, row in dataset.iterrows():
        id_banco = id_banco + 1
        region_id = dataset.loc[index,'id']   
        jhi_value = dataset.loc[index,name_column] 
        if percentual:
            jhi_value = round(jhi_value*100,1)
        sql = "INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (" + str(id_banco) + ",'" + str(jhi_value) + "','" + str(region_id) + "','" + group_id + "','" + year_id + "');"
        codigo_sql.append(sql)
    return codigo_sql

# Ano a ano:

In [5]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2010                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [6]:
dataset2010 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2010")
dataset2010.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,22707,0.105777,25180,0.117297,7148,0.033298,5195,0.024200,...,0.013309,73198,0.340981,72616,0.338270,2001,0.009321,1870,0.008711,214669
1,AL,Alagoas,124523,0.142301,134655,0.153879,31327,0.035799,26522,0.030308,...,0.008447,265228,0.303094,276735,0.316244,1850,0.002114,2066,0.002361,875069
2,AP,Amapá,23244,0.113101,25528,0.124215,10031,0.048809,8267,0.040226,...,0.006506,66104,0.321650,67580,0.328832,1089,0.005299,1129,0.005494,205515
3,AM,Amazonas,103814,0.101013,112674,0.109634,23633,0.022995,18485,0.017986,...,0.006062,358649,0.348973,354361,0.344801,23414,0.022782,21915,0.021324,1027727
4,BA,Bahia,385678,0.097952,406872,0.103335,357911,0.090900,347034,0.088138,...,0.007397,1184595,0.300857,1190953,0.302471,7510,0.001907,7056,0.001792,3937406

In [7]:
#correção para Paraiba
#index = dataset2010.loc[dataset2010['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
#dataset2010.at[index[0],'UF'] = 'Paraiba'

In [8]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2010.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2010 = dataset2010.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2010['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [9]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2010['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2010.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,22707,0.105777,25180,0.117297,7148,0.033298,5195,0.024200,...,73198,0.340981,72616,0.338270,2001,0.009321,1870,0.008711,214669,5708
1,AL,Alagoas,124523,0.142301,134655,0.153879,31327,0.035799,26522,0.030308,...,265228,0.303094,276735,0.316244,1850,0.002114,2066,0.002361,875069,5709
2,AP,Amapá,23244,0.113101,25528,0.124215,10031,0.048809,8267,0.040226,...,66104,0.321650,67580,0.328832,1089,0.005299,1129,0.005494,205515,5711
3,AM,Amazonas,103814,0.101013,112674,0.109634,23633,0.022995,18485,0.017986,...,358649,0.348973,354361,0.344801,23414,0.022782,21915,0.021324,1027727,5710
4,BA,Bahia,385678,0.097952,406872,0.103335,357911,0.090900,347034,0.088138,...,1184595,0.300857,1190953,0.302471,7510,0.001907,7056,0.001792,3937406,5712

In [10]:
dataset2010[dataset2010.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaMasculino, BrancaMasculino(%), BrancaFeminino, BrancaFeminino(%), PretaMasculino, PretaMasculino(%), PretaFeminino, PretaFeminino(%), AmarelaMasculino, AmarelaMasculino(%), AmarelaFeminino, AmarelaFeminino(%), PardaMasculino, PardaMasculino(%), PardaFeminino, PardaFeminino(%), IndigenaMasculino, IndigenaMasculino(%), IndigenaFeminino, IndigenaFeminino(%), Total, id]
Index: []

[0 rows x 24 columns]

In [11]:
#dataset2010.columns

In [12]:
year_id = "11"      #Ano: 2010
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5163785  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2010

print('Ano: 2010')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2010

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163786,'22707','5708','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163787,'124523','5709','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163788,'23244','5711','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163789,'103814','5710','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163790,'385678','5712','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163791,'354105','5713','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163792,'133220','5714','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163793,'182107','5715','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163794,'314570','5716','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163795,'198251','5717','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163796,'150971','5720','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163797,'148683','5719','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163798,'1077531','5718','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163799,'190795','5722','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163800,'916685','5725','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163801,'223944','5721','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163802,'404629','5723','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163803,'101284','5724','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163804,'173139','5727','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163805,'1074113','5730','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163806,'847149','5726','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163807,'75192','5728','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163808,'12875','5729','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163809,'693393','5731','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163810,'74466','5732','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163811,'3197252','5733','495','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163812,'44137','5734','495','11');

Conferir valor atual do id_banco:  5163812

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163813,'10.6','5708','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163814,'14.2','5709','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163815,'11.3','5711','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163816,'10.1','5710','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163817,'9.8','5712','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163818,'14.7','5713','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163819,'18.2','5714','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163820,'19.2','5715','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163821,'19.1','5716','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163822,'10.3','5717','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163823,'17.7','5720','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163824,'22.4','5719','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163825,'20.9','5718','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163826,'18.6','5722','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163827,'33.8','5725','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163828,'10.0','5721','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163829,'16.8','5723','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163830,'11.5','5724','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163831,'19.4','5727','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163832,'40.7','5730','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163833,'21.5','5726','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163834,'16.6','5728','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163835,'9.7','5729','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163836,'41.3','5731','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163837,'12.6','5732','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163838,'29.8','5733','496','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163839,'11.1','5734','496','11');

Conferir valor atual do id_banco:  5163839

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163840,'25180','5708','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163841,'134655','5709','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163842,'25528','5711','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163843,'112674','5710','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163844,'406872','5712','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163845,'381296','5713','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163846,'150870','5714','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163847,'188705','5715','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163848,'326625','5716','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163849,'213985','5717','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163850,'151775','5720','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163851,'150901','5719','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163852,'1101132','5718','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163853,'201324','5722','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163854,'948455','5725','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163855,'238814','5721','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163856,'437177','5723','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163857,'107381','5724','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163858,'183328','5727','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163859,'1083531','5730','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163860,'903284','5726','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163861,'76985','5728','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163862,'13969','5729','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163863,'689217','5731','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163864,'80051','5732','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163865,'3315390','5733','497','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163866,'45248','5734','497','11');

Conferir valor atual do id_banco:  5163866

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163867,'11.7','5708','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163868,'15.4','5709','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163869,'12.4','5711','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163870,'11.0','5710','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163871,'10.3','5712','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163872,'15.8','5713','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163873,'20.6','5714','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163874,'19.9','5715','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163875,'19.9','5716','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163876,'11.1','5717','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163877,'17.8','5720','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163878,'22.8','5719','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163879,'21.4','5718','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163880,'19.6','5722','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163881,'35.0','5725','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163882,'10.6','5721','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163883,'18.1','5723','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163884,'12.2','5724','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163885,'20.5','5727','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163886,'41.0','5730','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163887,'22.9','5726','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163888,'17.0','5728','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163889,'10.5','5729','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163890,'41.1','5731','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163891,'13.5','5732','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163892,'30.9','5733','498','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163893,'11.4','5734','498','11');

Conferir valor atual do id_banco:  5163893

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163894,'7148','5708','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163895,'31327','5709','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163896,'10031','5711','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163897,'23633','5710','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163898,'357911','5712','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163899,'58136','5713','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163900,'32922','5714','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163901,'45601','5715','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163902,'62897','5716','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163903,'97404','5717','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163904,'36824','5720','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163905,'18518','5719','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163906,'260814','5718','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163907,'30671','5722','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163908,'47710','5725','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163909,'86553','5721','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163910,'82678','5723','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163911,'43186','5724','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163912,'25838','5727','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163913,'83041','5730','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163914,'260133','5726','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163915,'17809','5728','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163916,'4416','5729','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163917,'28889','5731','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163918,'29150','5732','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163919,'332201','5733','499','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163920,'20469','5734','499','11');

Conferir valor atual do id_banco:  5163920

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163921,'3.3','5708','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163922,'3.6','5709','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163923,'4.9','5711','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163924,'2.3','5710','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163925,'9.1','5712','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163926,'2.4','5713','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163927,'4.5','5714','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163928,'4.8','5715','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163929,'3.8','5716','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163930,'5.0','5717','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163931,'4.3','5720','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163932,'2.8','5719','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163933,'5.1','5718','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163934,'3.0','5722','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163935,'1.8','5725','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163936,'3.9','5721','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163937,'3.4','5723','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163938,'4.9','5724','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163939,'2.9','5727','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163940,'3.1','5730','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163941,'6.6','5726','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163942,'3.9','5728','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163943,'3.3','5729','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163944,'1.7','5731','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163945,'4.9','5732','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163946,'3.1','5733','500','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163947,'5.2','5734','500','11');

Conferir valor atual do id_banco:  5163947

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163948,'5195','5708','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163949,'26522','5709','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163950,'8267','5711','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163951,'18485','5710','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163952,'347034','5712','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163953,'47303','5713','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163954,'30596','5714','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163955,'38698','5715','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163956,'50580','5716','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163957,'86796','5717','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163958,'29983','5720','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163959,'15959','5719','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163960,'232867','5718','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163961,'26722','5722','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163962,'38242','5725','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163963,'71384','5721','501','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5163964,'73260','5723','501','11');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164218,'2001','5708','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164219,'1850','5709','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164220,'1089','5711','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164221,'23414','5710','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164222,'7510','5712','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164223,'2816','5713','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164224,'881','5714','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164225,'1442','5715','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164226,'1088','5716','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164227,'4407','5717','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164228,'5837','5720','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164229,'9745','5719','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164230,'4153','5718','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164231,'2889','5722','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164232,'3078','5725','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164233,'5121','5721','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164234,'7525','5723','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164235,'479','5724','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164236,'309','5727','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164237,'4728','5730','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164238,'1795','5726','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164239,'1770','5728','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164240,'6522','5729','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164241,'2494','5731','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164242,'788','5732','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164243,'5796','5733','511','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164244,'1775','5734','511','11');

Conferir valor atual do id_banco:  5164244

IndigenaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164245,'0.9','5708','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164246,'0.2','5709','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164247,'0.5','5711','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164248,'2.3','5710','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164249,'0.2','5712','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164250,'0.1','5713','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164251,'0.1','5714','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164252,'0.2','5715','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164253,'0.1','5716','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164254,'0.2','5717','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164255,'0.7','5720','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164256,'1.5','5719','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164257,'0.1','5718','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164258,'0.3','5722','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164259,'0.1','5725','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164260,'0.2','5721','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164261,'0.3','5723','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164262,'0.1','5724','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164263,'0.0','5727','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164264,'0.2','5730','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164265,'0.0','5726','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164266,'0.4','5728','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164267,'4.9','5729','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164268,'0.1','5731','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164269,'0.1','5732','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164270,'0.1','5733','512','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164271,'0.4','5734','512','11');

Conferir valor atual do id_banco:  5164271

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164272,'1870','5708','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164273,'2066','5709','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164274,'1129','5711','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164275,'21915','5710','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164276,'7056','5712','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164277,'3048','5713','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164278,'963','5714','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164279,'1331','5715','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164280,'1173','5716','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164281,'4220','5717','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164282,'5610','5720','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164283,'10098','5719','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164284,'3896','5718','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164285,'2669','5722','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164286,'3297','5725','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164287,'4997','5721','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164288,'7411','5723','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164289,'367','5724','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164290,'323','5727','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164291,'4381','5730','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164292,'1494','5726','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164293,'1896','5728','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164294,'6145','5729','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164295,'2198','5731','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164296,'738','5732','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164297,'5390','5733','513','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164298,'1774','5734','513','11');

Conferir valor atual do id_banco:  5164298

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164299,'0.9','5708','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164300,'0.2','5709','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164301,'0.5','5711','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164302,'2.1','5710','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164303,'0.2','5712','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164304,'0.1','5713','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164305,'0.1','5714','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164306,'0.1','5715','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164307,'0.1','5716','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164308,'0.2','5717','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164309,'0.7','5720','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164310,'1.5','5719','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164311,'0.1','5718','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164312,'0.3','5722','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164313,'0.1','5725','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164314,'0.2','5721','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164315,'0.3','5723','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164316,'0.0','5724','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164317,'0.0','5727','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164318,'0.2','5730','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164319,'0.0','5726','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164320,'0.4','5728','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164321,'4.6','5729','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164322,'0.1','5731','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164323,'0.1','5732','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164324,'0.1','5733','514','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164325,'0.4','5734','514','11');

Conferir valor atual do id_banco:  5164325

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164326,'214669','5708','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164327,'875069','5709','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164328,'205515','5711','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164329,'1027727','5710','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164330,'3937406','5712','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164331,'2412405','5713','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164332,'733169','5714','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164333,'947480','5715','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164334,'1643999','5716','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164335,'1933485','5717','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164336,'854126','5720','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164337,'663065','5719','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164338,'5155229','5718','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164339,'1026222','5722','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164340,'2709093','5725','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164341,'2243421','5721','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164342,'2410904','5723','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164343,'879491','5724','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164344,'894584','5727','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164345,'2640321','5730','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164346,'3936272','5726','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164347,'452178','5728','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164348,'133259','5729','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164349,'1677575','5731','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164350,'592051','5732','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164351,'10722574','5733','515','11');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164352,'396338','5734','515','11');

Conferir valor atual do id_banco:  5164352

In [13]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2011                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [14]:
dataset2011 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2011")
dataset2011.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,25631,0.127151,25268,0.125350,8125,0.040307,6458,0.032037,...,0.000000,68975,0.342174,67122,0.332981,0.0,0.000000,0.0,0.000000,201579
1,AL,Alagoas,117272,0.134375,131997,0.151248,38888,0.044560,28876,0.033087,...,0.000000,282854,0.324106,272833,0.312624,0.0,0.000000,0.0,0.000000,872720
2,AP,Amapá,22054,0.107025,26191,0.127101,9189,0.044593,8272,0.040143,...,0.000000,69368,0.336633,70990,0.344505,0.0,0.000000,0.0,0.000000,206064
3,AM,Amazonas,98178,0.097309,113515,0.112511,26752,0.026515,16960,0.016810,...,0.004850,355892,0.352743,353920,0.350789,19568.0,0.019395,19249.0,0.019079,1008927
4,BA,Bahia,331364,0.087094,361482,0.095010,391258,0.102836,386943,0.101702,...,0.002525,1151396,0.302627,1146247,0.301273,9294.0,0.002443,12053.0,0.003168,3804673

In [15]:
#correção para Paraiba
#index = dataset2010.loc[dataset2010['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
#dataset2010.at[index[0],'UF'] = 'Paraiba'

In [16]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2011.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2011 = dataset2011.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2011['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [17]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2011['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2011.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,25631,0.127151,25268,0.125350,8125,0.040307,6458,0.032037,...,68975,0.342174,67122,0.332981,0.0,0.000000,0.0,0.000000,201579,5708
1,AL,Alagoas,117272,0.134375,131997,0.151248,38888,0.044560,28876,0.033087,...,282854,0.324106,272833,0.312624,0.0,0.000000,0.0,0.000000,872720,5709
2,AP,Amapá,22054,0.107025,26191,0.127101,9189,0.044593,8272,0.040143,...,69368,0.336633,70990,0.344505,0.0,0.000000,0.0,0.000000,206064,5711
3,AM,Amazonas,98178,0.097309,113515,0.112511,26752,0.026515,16960,0.016810,...,355892,0.352743,353920,0.350789,19568.0,0.019395,19249.0,0.019079,1008927,5710
4,BA,Bahia,331364,0.087094,361482,0.095010,391258,0.102836,386943,0.101702,...,1151396,0.302627,1146247,0.301273,9294.0,0.002443,12053.0,0.003168,3804673,5712

In [18]:
dataset2011[dataset2011.isna().any(axis=1)]

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
13,PB,Paraiba,166965,0.166254,187589,0.186791,30639,0.030509,23762,0.023661,...,296401,0.295140,298918,0.297646,0.0,0.0,0.0,0.0,1004274,5722
17,PI,Piauí,96762,0.121037,105206,0.131599,30941,0.038703,33753,0.042221,...,253170,0.316683,279610,0.349756,0.0,0.0,NaN,0.0,799442,5724
18,RN,Rio Grande do Norte,191527,0.220661,185426,0.213632,24399,0.028110,26839,0.030922,...,212267,0.244555,227513,0.262121,NaN,0.0,NaN,0.0,867971,5727
24,SE,Sergipe,68265,0.116073,66802,0.113586,26653,0.045319,20080,0.034143,...,189469,0.322160,216851,0.368719,0.0,0.0,NaN,0.0,588120,5732

In [19]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2011 = dataset2011.fillna(0)

In [20]:
year_id = "12"      #Ano: 2011
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5164352  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2011

print('Ano: 2011')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2011

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164353,'25631','5708','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164354,'117272','5709','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164355,'22054','5711','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164356,'98178','5710','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164357,'331364','5712','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164358,'363316','5713','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164359,'136771','5714','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164360,'173172','5715','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164361,'320414','5716','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164362,'190187','5717','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164363,'149369','5720','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164364,'156500','5719','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164365,'1057024','5718','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164366,'166965','5722','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164367,'895689','5725','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164368,'214000','5721','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164369,'367525','5723','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164370,'96762','5724','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164371,'191527','5727','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164372,'987219','5730','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164373,'827859','5726','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164374,'82245','5728','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164375,'15457','5729','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164376,'716965','5731','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164377,'68265','5732','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164378,'3215112','5733','495','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164379,'42632','5734','495','12');

Conferir valor atual do id_banco:  5164379

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164380,'12.7','5708','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164381,'13.4','5709','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164382,'10.7','5711','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164383,'9.7','5710','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164384,'8.7','5712','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164385,'15.8','5713','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164386,'19.2','5714','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164387,'17.9','5715','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164388,'20.1','5716','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164389,'10.5','5717','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164390,'17.9','5720','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164391,'24.9','5719','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164392,'21.1','5718','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164393,'16.6','5722','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164394,'32.9','5725','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164395,'9.7','5721','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164396,'15.6','5723','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164397,'12.1','5724','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164398,'22.1','5727','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164399,'38.6','5730','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164400,'22.5','5726','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164401,'18.1','5728','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164402,'11.4','5729','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164403,'43.2','5731','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164404,'11.6','5732','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164405,'30.7','5733','496','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164406,'11.2','5734','496','12');

Conferir valor atual do id_banco:  5164406

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164407,'25268','5708','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164408,'131997','5709','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164409,'26191','5711','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164410,'113515','5710','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164411,'361482','5712','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164412,'402549','5713','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164413,'152408','5714','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164414,'194749','5715','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164415,'329666','5716','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164416,'206213','5717','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164417,'152727','5720','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164418,'165558','5719','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164419,'1094464','5718','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164420,'187589','5722','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164421,'951701','5725','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164422,'244161','5721','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164423,'419679','5723','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164424,'105206','5724','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164425,'185426','5727','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164426,'1068404','5730','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164427,'904126','5726','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164428,'78040','5728','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164429,'16824','5729','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164430,'679720','5731','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164431,'66802','5732','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164432,'3218319','5733','497','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164433,'49252','5734','497','12');

Conferir valor atual do id_banco:  5164433

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164434,'12.5','5708','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164435,'15.1','5709','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164436,'12.7','5711','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164437,'11.3','5710','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164438,'9.5','5712','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164439,'17.5','5713','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164440,'21.3','5714','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164441,'20.1','5715','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164442,'20.7','5716','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164443,'11.4','5717','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164444,'18.3','5720','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164445,'26.3','5719','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164446,'21.8','5718','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164447,'18.7','5722','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164448,'35.0','5725','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164449,'11.1','5721','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164450,'17.8','5723','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164451,'13.2','5724','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164452,'21.4','5727','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164453,'41.7','5730','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164454,'24.5','5726','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164455,'17.1','5728','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164456,'12.4','5729','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164457,'40.9','5731','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164458,'11.4','5732','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164459,'30.7','5733','498','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164460,'13.0','5734','498','12');

Conferir valor atual do id_banco:  5164460

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164461,'8125','5708','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164462,'38888','5709','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164463,'9189','5711','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164464,'26752','5710','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164465,'391258','5712','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164466,'39213','5713','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164467,'25141','5714','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164468,'50529','5715','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164469,'54510','5716','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164470,'147921','5717','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164471,'47546','5720','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164472,'27211','5719','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164473,'268509','5718','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164474,'30639','5722','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164475,'50331','5725','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164476,'80795','5721','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164477,'99553','5723','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164478,'30941','5724','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164479,'24399','5727','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164480,'75246','5730','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164481,'243534','5726','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164482,'22543','5728','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164483,'5672','5729','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164484,'31924','5731','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164485,'26653','5732','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164486,'385265','5733','499','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164487,'16418','5734','499','12');

Conferir valor atual do id_banco:  5164487

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164488,'4.0','5708','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164489,'4.5','5709','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164490,'4.5','5711','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164491,'2.7','5710','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164492,'10.3','5712','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164493,'1.7','5713','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164494,'3.5','5714','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164495,'5.2','5715','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164496,'3.4','5716','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164497,'8.2','5717','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164498,'5.7','5720','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164499,'4.3','5719','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164500,'5.4','5718','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164501,'3.1','5722','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164502,'1.9','5725','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164503,'3.7','5721','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164504,'4.2','5723','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164505,'3.9','5724','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164506,'2.8','5727','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164507,'2.9','5730','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164508,'6.6','5726','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164509,'4.9','5728','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164510,'4.2','5729','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164511,'1.9','5731','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164512,'4.5','5732','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164513,'3.7','5733','500','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164514,'4.3','5734','500','12');

Conferir valor atual do id_banco:  5164514

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164515,'6458','5708','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164516,'28876','5709','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164517,'8272','5711','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164518,'16960','5710','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164519,'386943','5712','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164520,'34255','5713','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164521,'25154','5714','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164522,'50002','5715','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164523,'53267','5716','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164524,'106382','5717','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164525,'35765','5720','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164526,'27989','5719','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164527,'244683','5718','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164528,'23762','5722','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164529,'38109','5725','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164530,'66281','5721','501','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164531,'81936','5723','501','12');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164758,'33.3','5708','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164759,'31.3','5709','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164760,'34.5','5711','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164761,'35.1','5710','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164762,'30.1','5712','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164763,'31.8','5713','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164764,'25.6','5714','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164765,'24.6','5715','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164766,'25.6','5716','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164767,'32.1','5717','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164768,'25.9','5720','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164769,'20.7','5719','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164770,'22.9','5718','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164771,'29.8','5722','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164772,'13.2','5725','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164773,'34.9','5721','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164774,'27.9','5723','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164775,'35.0','5724','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164776,'26.2','5727','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164777,'6.3','5730','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164778,'18.7','5726','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164779,'27.0','5728','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164780,'30.6','5729','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164781,'5.8','5731','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164782,'36.9','5732','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164783,'15.1','5733','510','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164784,'32.3','5734','510','12');

Conferir valor atual do id_banco:  5164784

IndigenaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164785,'0.0','5708','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164786,'0.0','5709','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164787,'0.0','5711','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164788,'19568.0','5710','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164789,'9294.0','5712','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164790,'0.0','5713','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164791,'0.0','5714','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164792,'0.0','5715','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164793,'0.0','5716','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164794,'0.0','5717','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164795,'0.0','5720','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164796,'4731.0','5719','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164797,'10495.0','5718','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164798,'0.0','5722','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164799,'0.0','5725','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164800,'5799.0','5721','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164801,'8162.0','5723','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164802,'0.0','5724','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164803,'0.0','5727','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164804,'0.0','5730','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164805,'0.0','5726','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164806,'0.0','5728','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164807,'2405.0','5729','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164808,'0.0','5731','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164809,'0.0','5732','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164810,'0.0','5733','511','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164811,'0.0','5734','511','12');

Conferir valor atual do id_banco:  5164811

IndigenaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164812,'0.0','5708','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164813,'0.0','5709','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164814,'0.0','5711','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164815,'1.9','5710','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164816,'0.2','5712','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164817,'0.0','5713','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164818,'0.0','5714','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164819,'0.0','5715','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164820,'0.0','5716','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164821,'0.0','5717','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164822,'0.0','5720','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164823,'0.8','5719','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164824,'0.2','5718','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164825,'0.0','5722','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164826,'0.0','5725','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164827,'0.3','5721','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164828,'0.3','5723','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164829,'0.0','5724','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164830,'0.0','5727','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164831,'0.0','5730','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164832,'0.0','5726','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164833,'0.0','5728','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164834,'1.8','5729','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164835,'0.0','5731','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164836,'0.0','5732','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164837,'0.0','5733','512','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164838,'0.0','5734','512','12');

Conferir valor atual do id_banco:  5164838

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164839,'0.0','5708','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164840,'0.0','5709','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164841,'0.0','5711','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164842,'19249.0','5710','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164843,'12053.0','5712','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164844,'0.0','5713','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164845,'0.0','5714','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164846,'0.0','5715','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164847,'0.0','5716','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164848,'0.0','5717','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164849,'0.0','5720','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164850,'0.0','5719','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164851,'8609.0','5718','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164852,'0.0','5722','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164853,'0.0','5725','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164854,'9651.0','5721','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164855,'9338.0','5723','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164856,'0.0','5724','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164857,'0.0','5727','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164858,'0.0','5730','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164859,'0.0','5726','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164860,'0.0','5728','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164861,'3950.0','5729','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164862,'0.0','5731','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164863,'0.0','5732','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164864,'0.0','5733','513','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164865,'0.0','5734','513','12');

Conferir valor atual do id_banco:  5164865

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164866,'0.0','5708','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164867,'0.0','5709','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164868,'0.0','5711','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164869,'1.9','5710','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164870,'0.3','5712','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164871,'0.0','5713','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164872,'0.0','5714','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164873,'0.0','5715','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164874,'0.0','5716','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164875,'0.0','5717','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164876,'0.0','5720','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164877,'0.0','5719','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164878,'0.2','5718','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164879,'0.0','5722','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164880,'0.0','5725','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164881,'0.4','5721','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164882,'0.4','5723','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164883,'0.0','5724','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164884,'0.0','5727','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164885,'0.0','5730','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164886,'0.0','5726','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164887,'0.0','5728','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164888,'2.9','5729','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164889,'0.0','5731','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164890,'0.0','5732','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164891,'0.0','5733','514','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164892,'0.0','5734','514','12');

Conferir valor atual do id_banco:  5164892

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164893,'201579','5708','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164894,'872720','5709','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164895,'206064','5711','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164896,'1008927','5710','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164897,'3804673','5712','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164898,'2297122','5713','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164899,'713898','5714','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164900,'966880','5715','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164901,'1592057','5716','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164902,'1804210','5717','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164903,'832654','5720','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164904,'629179','5719','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164905,'5016123','5718','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164906,'1004274','5722','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164907,'2718843','5725','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164908,'2207867','5721','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164909,'2362698','5723','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164910,'799442','5724','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164911,'867971','5727','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164912,'2560098','5730','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164913,'3685288','5726','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164914,'455562','5728','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164915,'135839','5729','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164916,'1660061','5731','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164917,'588120','5732','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164918,'10480351','5733','515','12');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164919,'379295','5734','515','12');

Conferir valor atual do id_banco:  5164919

In [21]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2012                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [22]:
dataset2012 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2012")
dataset2012.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,26469,0.120453,26844,0.122160,8574,0.039018,4843,0.022039,...,0.009338,71566,0.325677,70827,0.322315,4473.0,0.020355,4097.0,0.018644,219745
1,AL,Alagoas,121752,0.137695,119939,0.135645,26521,0.029994,20498,0.023182,...,0.000000,295334,0.334008,300169,0.339476,NaN,0.000000,0.0,0.000000,884213
2,AP,Amapá,13741,0.066771,21589,0.104906,7846,0.038126,6131,0.029792,...,0.000000,80203,0.389725,76284,0.370681,0.0,0.000000,NaN,0.000000,205794
3,AM,Amazonas,97744,0.095879,110704,0.108592,22473,0.022044,19410,0.019040,...,0.003675,374015,0.366879,362069,0.355161,15326.0,0.015034,13963.0,0.013697,1019450
4,BA,Bahia,349535,0.092472,367052,0.097107,362983,0.096030,343468,0.090867,...,0.000000,1155493,0.305696,1201351,0.317828,0.0,0.000000,0.0,0.000000,3779882

In [23]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2012.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2012 = dataset2012.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2012['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [24]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2012['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2012.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,26469,0.120453,26844,0.122160,8574,0.039018,4843,0.022039,...,71566,0.325677,70827,0.322315,4473.0,0.020355,4097.0,0.018644,219745,5708
1,AL,Alagoas,121752,0.137695,119939,0.135645,26521,0.029994,20498,0.023182,...,295334,0.334008,300169,0.339476,NaN,0.000000,0.0,0.000000,884213,5709
2,AP,Amapá,13741,0.066771,21589,0.104906,7846,0.038126,6131,0.029792,...,80203,0.389725,76284,0.370681,0.0,0.000000,NaN,0.000000,205794,5711
3,AM,Amazonas,97744,0.095879,110704,0.108592,22473,0.022044,19410,0.019040,...,374015,0.366879,362069,0.355161,15326.0,0.015034,13963.0,0.013697,1019450,5710
4,BA,Bahia,349535,0.092472,367052,0.097107,362983,0.096030,343468,0.090867,...,1155493,0.305696,1201351,0.317828,0.0,0.000000,0.0,0.000000,3779882,5712

In [25]:
dataset2012[dataset2012.isna().any(axis=1)]

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
1,AL,Alagoas,121752,0.137695,119939,0.135645,26521,0.029994,20498,0.023182,...,295334,0.334008,300169,0.339476,NaN,0.000000,0.0,0.000000,884213,5709
2,AP,Amapá,13741,0.066771,21589,0.104906,7846,0.038126,6131,0.029792,...,80203,0.389725,76284,0.370681,0.0,0.000000,NaN,0.000000,205794,5711
7,ES,Espírito Santo,163883,0.180600,177000,0.195055,40430,0.044554,45348,0.049974,...,251864,0.277555,228912,0.252262,NaN,0.000000,0.0,0.000000,907437,5715
8,GO,Goiás,303332,0.188477,300431,0.186674,52151,0.032404,51728,0.032141,...,470954,0.292630,430790,0.267674,0.0,0.000000,NaN,0.000000,1609386,5716
9,MA,Maranhão,178421,0.100625,185158,0.104424,94821,0.053477,89587,0.050525,...,610707,0.344423,614439,0.346527,0.0,0.000000,0.0,0.000000,1773133,5717
14,PR,Paraná,879004,0.335914,900244,0.344031,45948,0.017559,39079,0.014934,...,389517,0.148855,343888,0.131418,NaN,0.000000,0.0,0.000000,2616752,5725
17,PI,Piauí,91663,0.106116,114172,0.132174,31491,0.036456,30927,0.035803,...,301984,0.349599,293564,0.339851,NaN,0.000000,NaN,0.000000,863801,5724
18,RN,Rio Grande do Norte,207230,0.224753,201667,0.218719,24050,0.026084,19735,0.021404,...,232515,0.252176,236839,0.256865,NaN,0.000000,NaN,0.000000,922036,5727
21,RO,Rondônia,75589,0.161830,74854,0.160257,17725,0.037948,15511,0.033208,...,148963,0.318918,134446,0.287839,0.0,0.000000,NaN,0.000000,467088,5728
22,RR,Roraima,13672,0.098763,16271,0.117537,3979,0.028743,6921,0.049995,...,47237,0.341226,45509,0.328744,2422.0,0.017496,2422.0,0.017496,138433,5729
24,SE,Sergipe,61245,0.102648,69163,0.115919,30276,0.050743,32000,0.053633,...,197858,0.331614,206109,0.345443,NaN,0.000000,0.0,0.000000,596651,5732

In [26]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2012 = dataset2012.fillna(0)

In [27]:
year_id = "13"      #Ano: 2012
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5164919  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2012

print('Ano: 2012')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2012

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164920,'26469','5708','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164921,'121752','5709','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164922,'13741','5711','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164923,'97744','5710','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164924,'349535','5712','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164925,'347511','5713','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164926,'137701','5714','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164927,'163883','5715','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164928,'303332','5716','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164929,'178421','5717','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164930,'144343','5720','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164931,'160268','5719','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164932,'1041146','5718','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164933,'157035','5722','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164934,'879004','5725','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164935,'196113','5721','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164936,'368397','5723','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164937,'91663','5724','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164938,'207230','5727','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164939,'1011158','5730','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164940,'781702','5726','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164941,'75589','5728','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164942,'13672','5729','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164943,'636208','5731','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164944,'61245','5732','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164945,'3004007','5733','495','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164946,'36120','5734','495','13');

Conferir valor atual do id_banco:  5164946

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164947,'12.0','5708','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164948,'13.8','5709','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164949,'6.7','5711','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164950,'9.6','5710','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164951,'9.2','5712','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164952,'14.9','5713','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164953,'18.9','5714','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164954,'18.1','5715','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164955,'18.8','5716','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164956,'10.1','5717','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164957,'18.0','5720','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164958,'23.9','5719','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164959,'20.9','5718','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164960,'15.8','5722','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164961,'33.6','5725','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164962,'9.1','5721','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164963,'16.3','5723','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164964,'10.6','5724','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164965,'22.5','5727','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164966,'39.6','5730','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164967,'21.6','5726','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164968,'16.2','5728','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164969,'9.9','5729','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164970,'39.9','5731','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164971,'10.3','5732','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164972,'29.1','5733','496','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164973,'9.8','5734','496','13');

Conferir valor atual do id_banco:  5164973

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164974,'26844','5708','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164975,'119939','5709','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164976,'21589','5711','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164977,'110704','5710','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164978,'367052','5712','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164979,'379079','5713','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164980,'141202','5714','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164981,'177000','5715','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164982,'300431','5716','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164983,'185158','5717','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164984,'153399','5720','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164985,'165285','5719','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164986,'1017236','5718','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164987,'185369','5722','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164988,'900244','5725','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164989,'217832','5721','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164990,'396207','5723','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164991,'114172','5724','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164992,'201667','5727','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164993,'992032','5730','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164994,'818809','5726','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164995,'74854','5728','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164996,'16271','5729','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164997,'686171','5731','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164998,'69163','5732','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5164999,'3219898','5733','497','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165000,'39768','5734','497','13');

Conferir valor atual do id_banco:  5165000

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165001,'12.2','5708','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165002,'13.6','5709','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165003,'10.5','5711','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165004,'10.9','5710','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165005,'9.7','5712','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165006,'16.2','5713','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165007,'19.4','5714','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165008,'19.5','5715','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165009,'18.7','5716','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165010,'10.4','5717','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165011,'19.2','5720','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165012,'24.6','5719','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165013,'20.4','5718','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165014,'18.6','5722','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165015,'34.4','5725','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165016,'10.1','5721','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165017,'17.5','5723','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165018,'13.2','5724','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165019,'21.9','5727','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165020,'38.8','5730','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165021,'22.6','5726','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165022,'16.0','5728','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165023,'11.8','5729','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165024,'43.0','5731','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165025,'11.6','5732','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165026,'31.2','5733','498','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165027,'10.8','5734','498','13');

Conferir valor atual do id_banco:  5165027

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165028,'8574','5708','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165029,'26521','5709','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165030,'7846','5711','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165031,'22473','5710','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165032,'362983','5712','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165033,'53400','5713','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165034,'34782','5714','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165035,'40430','5715','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165036,'52151','5716','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165037,'94821','5717','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165038,'44416','5720','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165039,'19718','5719','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165040,'262527','5718','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165041,'25865','5722','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165042,'45948','5725','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165043,'88858','5721','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165044,'74210','5723','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165045,'31491','5724','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165046,'24050','5727','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165047,'85053','5730','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165048,'281927','5726','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165049,'17725','5728','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165050,'3979','5729','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165051,'30526','5731','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165052,'30276','5732','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165053,'348607','5733','499','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165054,'15035','5734','499','13');

Conferir valor atual do id_banco:  5165054

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165055,'3.9','5708','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165056,'3.0','5709','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165057,'3.8','5711','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165058,'2.2','5710','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165059,'9.6','5712','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165060,'2.3','5713','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165061,'4.8','5714','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165062,'4.5','5715','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165063,'3.2','5716','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165064,'5.3','5717','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165065,'5.5','5720','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165066,'2.9','5719','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165067,'5.3','5718','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165068,'2.6','5722','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165069,'1.8','5725','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165070,'4.1','5721','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165071,'3.3','5723','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165072,'3.6','5724','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165073,'2.6','5727','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165074,'3.3','5730','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165075,'7.8','5726','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165076,'3.8','5728','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165077,'2.9','5729','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165078,'1.9','5731','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165079,'5.1','5732','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165080,'3.4','5733','500','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165081,'4.1','5734','500','13');

Conferir valor atual do id_banco:  5165081

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165082,'4843','5708','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165083,'20498','5709','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165084,'6131','5711','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165085,'19410','5710','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165086,'343468','5712','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165087,'30991','5713','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165088,'34193','5714','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165089,'45348','5715','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165090,'51728','5716','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165091,'89587','5717','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165092,'34548','5720','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165093,'22236','5719','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165094,'248122','5718','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165095,'30178','5722','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165096,'39079','5725','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165097,'63788','5721','501','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165098,'66515','5723','501','13');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165379,'2.0','5708','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165380,'0.0','5709','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165381,'0.0','5711','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165382,'1.5','5710','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165383,'0.0','5712','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165384,'0.0','5713','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165385,'0.0','5714','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165386,'0.0','5715','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165387,'0.0','5716','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165388,'0.0','5717','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165389,'0.0','5720','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165390,'0.0','5719','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165391,'0.2','5718','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165392,'0.0','5722','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165393,'0.0','5725','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165394,'0.3','5721','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165395,'0.4','5723','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165396,'0.0','5724','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165397,'0.0','5727','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165398,'0.0','5730','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165399,'0.0','5726','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165400,'0.0','5728','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165401,'1.7','5729','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165402,'0.0','5731','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165403,'0.0','5732','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165404,'0.0','5733','512','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165405,'0.0','5734','512','13');

Conferir valor atual do id_banco:  5165405

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165406,'4097.0','5708','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165407,'0.0','5709','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165408,'0.0','5711','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165409,'13963.0','5710','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165410,'0.0','5712','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165411,'0.0','5713','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165412,'0.0','5714','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165413,'0.0','5715','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165414,'0.0','5716','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165415,'0.0','5717','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165416,'0.0','5720','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165417,'0.0','5719','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165418,'0.0','5718','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165419,'0.0','5722','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165420,'0.0','5725','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165421,'4853.0','5721','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165422,'0.0','5723','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165423,'0.0','5724','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165424,'0.0','5727','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165425,'0.0','5730','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165426,'0.0','5726','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165427,'0.0','5728','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165428,'2422.0','5729','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165429,'0.0','5731','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165430,'0.0','5732','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165431,'0.0','5733','513','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165432,'0.0','5734','513','13');

Conferir valor atual do id_banco:  5165432

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165433,'1.9','5708','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165434,'0.0','5709','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165435,'0.0','5711','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165436,'1.4','5710','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165437,'0.0','5712','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165438,'0.0','5713','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165439,'0.0','5714','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165440,'0.0','5715','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165441,'0.0','5716','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165442,'0.0','5717','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165443,'0.0','5720','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165444,'0.0','5719','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165445,'0.0','5718','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165446,'0.0','5722','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165447,'0.0','5725','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165448,'0.2','5721','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165449,'0.0','5723','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165450,'0.0','5724','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165451,'0.0','5727','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165452,'0.0','5730','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165453,'0.0','5726','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165454,'0.0','5728','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165455,'1.7','5729','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165456,'0.0','5731','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165457,'0.0','5732','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165458,'0.0','5733','514','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165459,'0.0','5734','514','13');

Conferir valor atual do id_banco:  5165459

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165460,'219745','5708','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165461,'884213','5709','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165462,'205794','5711','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165463,'1019450','5710','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165464,'3779882','5712','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165465,'2334913','5713','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165466,'728768','5714','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165467,'907437','5715','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165468,'1609386','5716','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165469,'1773133','5717','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165470,'800728','5720','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165471,'670834','5719','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165472,'4974547','5718','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165473,'994552','5722','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165474,'2616752','5725','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165475,'2162534','5721','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165476,'2260219','5723','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165477,'863801','5724','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165478,'922036','5727','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165479,'2555525','5730','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165480,'3615621','5726','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165481,'467088','5728','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165482,'138433','5729','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165483,'1594333','5731','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165484,'596651','5732','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165485,'10318780','5733','515','13');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165486,'369246','5734','515','13');

Conferir valor atual do id_banco:  5165486

In [28]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2013                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [29]:
dataset2013 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2013")
dataset2013.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,22995,0.104838,23169,0.105631,8365,0.038137,7314,0.033346,...,0.00000,74564,0.339949,75789,0.345534,3134.0,0.014288,4009.0,0.018278,219339
1,AL,Alagoas,104723,0.124100,119246,0.141310,38141,0.045198,29065,0.034443,...,0.00000,283320,0.335743,269364,0.319205,0.0,0.000000,0.0,0.000000,843859
2,AP,Amapá,22509,0.104755,28399,0.132167,9466,0.044054,11000,0.051193,...,0.00000,72394,0.336917,71104,0.330913,NaN,0.000000,NaN,0.000000,214872
3,AM,Amazonas,108331,0.103763,117135,0.112196,21430,0.020526,18493,0.017713,...,0.00000,391063,0.374572,354982,0.340013,15560.0,0.014904,17031.0,0.016313,1044025
4,BA,Bahia,344986,0.093915,332090,0.090404,342253,0.093171,337960,0.092002,...,0.00145,1121547,0.305316,1174590,0.319756,6902.0,0.001879,7744.0,0.002108,3673397

In [30]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2013.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2013 = dataset2013.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2013['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [31]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2013['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2013.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,22995,0.104838,23169,0.105631,8365,0.038137,7314,0.033346,...,74564,0.339949,75789,0.345534,3134.0,0.014288,4009.0,0.018278,219339,5708
1,AL,Alagoas,104723,0.124100,119246,0.141310,38141,0.045198,29065,0.034443,...,283320,0.335743,269364,0.319205,0.0,0.000000,0.0,0.000000,843859,5709
2,AP,Amapá,22509,0.104755,28399,0.132167,9466,0.044054,11000,0.051193,...,72394,0.336917,71104,0.330913,NaN,0.000000,NaN,0.000000,214872,5711
3,AM,Amazonas,108331,0.103763,117135,0.112196,21430,0.020526,18493,0.017713,...,391063,0.374572,354982,0.340013,15560.0,0.014904,17031.0,0.016313,1044025,5710
4,BA,Bahia,344986,0.093915,332090,0.090404,342253,0.093171,337960,0.092002,...,1121547,0.305316,1174590,0.319756,6902.0,0.001879,7744.0,0.002108,3673397,5712

In [32]:
dataset2013[dataset2013.isna().any(axis=1)]

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
2,AP,Amapá,22509,0.104755,28399,0.132167,9466,0.044054,11000,0.051193,...,72394,0.336917,71104,0.330913,NaN,0.000000,NaN,0.000000,214872,5711
7,ES,Espírito Santo,162258,0.171707,184546,0.195293,52566,0.055627,42842,0.045337,...,253669,0.268441,249090,0.263595,NaN,0.000000,0.0,0.000000,944971,5715
8,GO,Goiás,301919,0.187214,314624,0.195092,56689,0.035152,40866,0.025340,...,461389,0.286098,426661,0.264564,NaN,0.000000,0.0,0.000000,1612697,5716
10,MT,Mato Grosso,123213,0.147974,140647,0.168911,29016,0.034847,34385,0.041295,...,263427,0.316365,241980,0.290608,0.0,0.000000,NaN,0.000000,832668,5720
17,PI,Piauí,90609,0.114719,101431,0.128421,22795,0.028861,25073,0.031745,...,269544,0.341268,280380,0.354987,0.0,0.000000,NaN,0.000000,789832,5724
18,RN,Rio Grande do Norte,176859,0.206710,156173,0.182533,25357,0.029637,16015,0.018718,...,248268,0.290172,232918,0.272231,0.0,0.000000,NaN,0.000000,855590,5727
22,RR,Roraima,13673,0.103506,12787,0.096799,9585,0.072560,5676,0.042968,...,39955,0.302465,45271,0.342708,1953.0,0.014784,3198.0,0.024209,132098,5729

In [33]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2013 = dataset2013.fillna(0)

In [34]:
year_id = "14"      #Ano: 2013
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5165486  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2013

print('Ano: 2013')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2013

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165487,'22995','5708','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165488,'104723','5709','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165489,'22509','5711','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165490,'108331','5710','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165491,'344986','5712','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165492,'335526','5713','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165493,'145705','5714','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165494,'162258','5715','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165495,'301919','5716','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165496,'150418','5717','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165497,'123213','5720','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165498,'132486','5719','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165499,'957372','5718','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165500,'146322','5722','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165501,'867216','5725','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165502,'204809','5721','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165503,'358288','5723','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165504,'90609','5724','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165505,'176859','5727','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165506,'945335','5730','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165507,'768431','5726','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165508,'76685','5728','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165509,'13673','5729','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165510,'644435','5731','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165511,'67243','5732','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165512,'2958227','5733','495','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165513,'44782','5734','495','14');

Conferir valor atual do id_banco:  5165513

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165514,'10.5','5708','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165515,'12.4','5709','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165516,'10.5','5711','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165517,'10.4','5710','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165518,'9.4','5712','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165519,'14.3','5713','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165520,'20.8','5714','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165521,'17.2','5715','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165522,'18.7','5716','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165523,'8.4','5717','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165524,'14.8','5720','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165525,'21.1','5719','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165526,'19.2','5718','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165527,'15.0','5722','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165528,'32.7','5725','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165529,'9.6','5721','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165530,'15.7','5723','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165531,'11.5','5724','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165532,'20.7','5727','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165533,'38.8','5730','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165534,'20.9','5726','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165535,'16.9','5728','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165536,'10.4','5729','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165537,'42.1','5731','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165538,'11.8','5732','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165539,'29.0','5733','496','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165540,'11.7','5734','496','14');

Conferir valor atual do id_banco:  5165540

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165541,'23169','5708','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165542,'119246','5709','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165543,'28399','5711','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165544,'117135','5710','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165545,'332090','5712','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165546,'363675','5713','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165547,'153802','5714','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165548,'184546','5715','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165549,'314624','5716','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165550,'183458','5717','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165551,'140647','5720','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165552,'144805','5719','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165553,'994170','5718','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165554,'196359','5722','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165555,'904855','5725','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165556,'214426','5721','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165557,'393999','5723','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165558,'101431','5724','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165559,'156173','5727','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165560,'977632','5730','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165561,'866425','5726','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165562,'76434','5728','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165563,'12787','5729','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165564,'634345','5731','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165565,'74487','5732','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165566,'3119109','5733','497','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165567,'47979','5734','497','14');

Conferir valor atual do id_banco:  5165567

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165568,'10.6','5708','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165569,'14.1','5709','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165570,'13.2','5711','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165571,'11.2','5710','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165572,'9.0','5712','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165573,'15.5','5713','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165574,'22.0','5714','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165575,'19.5','5715','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165576,'19.5','5716','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165577,'10.3','5717','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165578,'16.9','5720','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165579,'23.1','5719','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165580,'20.0','5718','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165581,'20.2','5722','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165582,'34.1','5725','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165583,'10.0','5721','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165584,'17.3','5723','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165585,'12.8','5724','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165586,'18.3','5727','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165587,'40.2','5730','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165588,'23.6','5726','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165589,'16.8','5728','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165590,'9.7','5729','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165591,'41.5','5731','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165592,'13.0','5732','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165593,'30.6','5733','498','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165594,'12.6','5734','498','14');

Conferir valor atual do id_banco:  5165594

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165595,'8365','5708','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165596,'38141','5709','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165597,'9466','5711','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165598,'21430','5710','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165599,'342253','5712','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165600,'50390','5713','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165601,'29020','5714','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165602,'52566','5715','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165603,'56689','5716','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165604,'120343','5717','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165605,'29016','5720','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165606,'20918','5719','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165607,'232290','5718','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165608,'29770','5722','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165609,'46295','5725','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165610,'106685','5721','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165611,'71517','5723','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165612,'22795','5724','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165613,'25357','5727','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165614,'72458','5730','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165615,'266160','5726','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165616,'14120','5728','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165617,'9585','5729','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165618,'26269','5731','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165619,'24228','5732','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165620,'347569','5733','499','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165621,'14930','5734','499','14');

Conferir valor atual do id_banco:  5165621

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165622,'3.8','5708','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165623,'4.5','5709','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165624,'4.4','5711','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165625,'2.1','5710','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165626,'9.3','5712','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165627,'2.2','5713','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165628,'4.1','5714','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165629,'5.6','5715','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165630,'3.5','5716','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165631,'6.7','5717','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165632,'3.5','5720','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165633,'3.3','5719','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165634,'4.7','5718','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165635,'3.1','5722','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165636,'1.7','5725','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165637,'5.0','5721','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165638,'3.1','5723','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165639,'2.9','5724','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165640,'3.0','5727','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165641,'3.0','5730','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165642,'7.3','5726','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165643,'3.1','5728','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165644,'7.3','5729','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165645,'1.7','5731','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165646,'4.2','5732','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165647,'3.4','5733','500','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165648,'3.9','5734','500','14');

Conferir valor atual do id_banco:  5165648

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165649,'7314','5708','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165650,'29065','5709','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165651,'11000','5711','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165652,'18493','5710','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165653,'337960','5712','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165654,'33591','5713','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165655,'28125','5714','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165656,'42842','5715','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165657,'40866','5716','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165658,'86589','5717','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165659,'34385','5720','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165660,'18456','5719','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165661,'225277','5718','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165662,'20267','5722','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165663,'32730','5725','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165664,'89276','5721','501','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165665,'62364','5723','501','14');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165811,'74564','5708','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165812,'283320','5709','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165813,'72394','5711','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165814,'391063','5710','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165815,'1121547','5712','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165816,'788801','5713','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165817,'169641','5714','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165818,'253669','5715','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165819,'461389','5716','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165820,'622211','5717','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165821,'263427','5720','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165822,'162445','5719','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165823,'1288815','5718','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165824,'299599','5722','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165825,'399049','5725','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165826,'751333','5721','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165827,'690706','5723','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165828,'269544','5724','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165829,'248268','5727','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165830,'207560','5730','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165831,'755515','5726','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165832,'136092','5728','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165833,'39955','5729','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165834,'106402','5731','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165835,'186207','5732','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165836,'1733971','5733','507','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165837,'129735','5734','507','14');

Conferir valor atual do id_banco:  5165837

PardaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165838,'34.0','5708','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165839,'33.6','5709','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165840,'33.7','5711','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165841,'37.5','5710','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165842,'30.5','5712','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165843,'33.7','5713','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165844,'24.2','5714','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165845,'26.8','5715','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165846,'28.6','5716','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165847,'34.9','5717','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165848,'31.6','5720','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165849,'25.9','5719','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165850,'25.9','5718','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165851,'30.8','5722','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165852,'15.0','5725','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165853,'35.1','5721','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165854,'30.3','5723','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165855,'34.1','5724','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165856,'29.0','5727','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165857,'8.5','5730','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165858,'20.6','5726','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165859,'29.9','5728','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165860,'30.2','5729','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165861,'7.0','5731','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165862,'32.6','5732','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165863,'17.0','5733','508','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165864,'34.0','5734','508','14');

Conferir valor atual do id_banco:  5165864

PardaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165865,'75789','5708','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165866,'269364','5709','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165867,'71104','5711','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165868,'354982','5710','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165869,'1174590','5712','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165870,'764975','5713','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165871,'173531','5714','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165872,'249090','5715','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165873,'426661','5716','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165874,'620755','5717','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165875,'241980','5720','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165876,'148477','5719','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165877,'1247962','5718','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165878,'281870','5722','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165879,'382152','5725','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165880,'757487','5721','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165881,'686868','5723','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165882,'280380','5724','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165883,'232918','5727','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165884,'158179','5730','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165885,'734707','5726','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165886,'138297','5728','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165887,'45271','5729','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165888,'102350','5731','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165889,'191278','5732','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165890,'1629556','5733','509','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165891,'129049','5734','509','14');

Conferir valor atual do id_banco:  5165891

PardaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165892,'34.6','5708','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165893,'31.9','5709','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165894,'33.1','5711','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165895,'34.0','5710','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165896,'32.0','5712','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165897,'32.7','5713','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165898,'24.8','5714','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165899,'26.4','5715','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165900,'26.5','5716','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165901,'34.8','5717','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165902,'29.1','5720','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165903,'23.7','5719','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165904,'25.1','5718','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165905,'28.9','5722','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165906,'14.4','5725','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165907,'35.4','5721','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165908,'30.1','5723','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165909,'35.5','5724','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165910,'27.2','5727','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165911,'6.5','5730','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165912,'20.0','5726','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165913,'30.4','5728','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165914,'34.3','5729','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165915,'6.7','5731','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165916,'33.5','5732','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165917,'16.0','5733','510','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165918,'33.9','5734','510','14');

Conferir valor atual do id_banco:  5165918

IndigenaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165919,'3134.0','5708','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165920,'0.0','5709','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165921,'0.0','5711','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165922,'15560.0','5710','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165923,'6902.0','5712','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165924,'0.0','5713','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165925,'0.0','5714','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165926,'0.0','5715','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165927,'0.0','5716','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165928,'0.0','5717','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165929,'0.0','5720','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165930,'0.0','5719','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165931,'7713.0','5718','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165932,'0.0','5722','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165933,'0.0','5725','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165934,'7306.0','5721','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165935,'9888.0','5723','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165936,'0.0','5724','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165937,'0.0','5727','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165938,'0.0','5730','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165939,'0.0','5726','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165940,'0.0','5728','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165941,'1953.0','5729','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165942,'0.0','5731','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165943,'0.0','5732','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165944,'0.0','5733','511','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165945,'0.0','5734','511','14');

Conferir valor atual do id_banco:  5165945

IndigenaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165946,'1.4','5708','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165947,'0.0','5709','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165948,'0.0','5711','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165949,'1.5','5710','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165950,'0.2','5712','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165951,'0.0','5713','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165952,'0.0','5714','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165953,'0.0','5715','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165954,'0.0','5716','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165955,'0.0','5717','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165956,'0.0','5720','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165957,'0.0','5719','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165958,'0.2','5718','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165959,'0.0','5722','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165960,'0.0','5725','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165961,'0.3','5721','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165962,'0.4','5723','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165963,'0.0','5724','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165964,'0.0','5727','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165965,'0.0','5730','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165966,'0.0','5726','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165967,'0.0','5728','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165968,'1.5','5729','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165969,'0.0','5731','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165970,'0.0','5732','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165971,'0.0','5733','512','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165972,'0.0','5734','512','14');

Conferir valor atual do id_banco:  5165972

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165973,'4009.0','5708','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165974,'0.0','5709','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165975,'0.0','5711','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165976,'17031.0','5710','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165977,'7744.0','5712','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165978,'3512.0','5713','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165979,'0.0','5714','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165980,'0.0','5715','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165981,'0.0','5716','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165982,'0.0','5717','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165983,'0.0','5720','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165984,'0.0','5719','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165985,'8476.0','5718','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165986,'0.0','5722','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165987,'0.0','5725','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165988,'6167.0','5721','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165989,'9453.0','5723','513','14');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5165990,'0.0','5724','513','14');

In [35]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2014                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [36]:
dataset2014 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2014")
dataset2014.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,23351,0.108004,25366,0.117324,8400,0.038852,6552,0.030305,...,0.0,73241,0.338759,73246,0.338782,3528.0,0.016318,2520,0.011656,216204
1,AL,Alagoas,111879,0.123838,135220,0.149674,35303,0.039077,27525,0.030467,...,0.0,296166,0.327823,297339,0.329122,0.0,0.000000,0,0.000000,903432
2,AP,Amapá,32779,0.152277,26836,0.124668,7229,0.033583,9811,0.045578,...,0.0,66330,0.308140,72274,0.335754,0.0,0.000000,0,0.000000,215259
3,AM,Amazonas,103131,0.096162,124463,0.116053,23523,0.021933,21953,0.020470,...,0.0,396581,0.369783,377120,0.351637,12532.0,0.011685,13167,0.012277,1072470
4,BA,Bahia,334873,0.090156,366430,0.098652,391653,0.105443,399787,0.107632,...,0.0,1073829,0.289101,1131293,0.304572,7390.0,0.001990,9118,0.002455,3714373

In [37]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2014.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2014 = dataset2014.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2014['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [38]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2014['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2014.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,23351,0.108004,25366,0.117324,8400,0.038852,6552,0.030305,...,73241,0.338759,73246,0.338782,3528.0,0.016318,2520,0.011656,216204,5708
1,AL,Alagoas,111879,0.123838,135220,0.149674,35303,0.039077,27525,0.030467,...,296166,0.327823,297339,0.329122,0.0,0.000000,0,0.000000,903432,5709
2,AP,Amapá,32779,0.152277,26836,0.124668,7229,0.033583,9811,0.045578,...,66330,0.308140,72274,0.335754,0.0,0.000000,0,0.000000,215259,5711
3,AM,Amazonas,103131,0.096162,124463,0.116053,23523,0.021933,21953,0.020470,...,396581,0.369783,377120,0.351637,12532.0,0.011685,13167,0.012277,1072470,5710
4,BA,Bahia,334873,0.090156,366430,0.098652,391653,0.105443,399787,0.107632,...,1073829,0.289101,1131293,0.304572,7390.0,0.001990,9118,0.002455,3714373,5712

In [39]:
dataset2014[dataset2014.isna().any(axis=1)]

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
1,AL,Alagoas,111879,0.123838,135220,0.149674,35303,0.039077,27525,0.030467,...,296166,0.327823,297339,0.329122,0.0,0.000000,0,0.000000,903432,5709
2,AP,Amapá,32779,0.152277,26836,0.124668,7229,0.033583,9811,0.045578,...,66330,0.308140,72274,0.335754,0.0,0.000000,0,0.000000,215259,5711
7,ES,Espírito Santo,165152,0.182708,164565,0.182058,55834,0.061769,52308,0.057868,...,240378,0.265930,225676,0.249666,0.0,0.000000,0,0.000000,903913,5715
9,MA,Maranhão,159463,0.089080,180921,0.101067,119597,0.066810,89702,0.050110,...,591080,0.330193,649343,0.362740,0.0,0.000000,0,0.000000,1790106,5717
10,MT,Mato Grosso,120376,0.153718,125958,0.160847,37270,0.047593,31689,0.040466,...,252735,0.322739,215066,0.274636,NaN,0.000000,0,0.000000,783094,5720
13,PB,Paraiba,170649,0.175304,165043,0.169545,39235,0.040305,31141,0.031990,...,269053,0.276392,298325,0.306463,0.0,0.000000,0,0.000000,973446,5722
17,PI,Piauí,86331,0.105200,101452,0.123627,35872,0.043713,30830,0.037569,...,293727,0.357927,272421,0.331964,0.0,0.000000,0,0.000000,820633,5724
18,RN,Rio Grande do Norte,180814,0.198361,197692,0.216876,24291,0.026648,24961,0.027383,...,251680,0.276104,232104,0.254628,0.0,0.000000,0,0.000000,911542,5727
22,RR,Roraima,17108,0.120633,15015,0.105874,4373,0.030835,5133,0.036194,...,48290,0.340504,44679,0.315042,3801.0,0.026802,3420,0.024115,141819,5729
23,SC,Santa Catarina,612753,0.401918,631521,0.414228,16695,0.010951,21561,0.014142,...,138412,0.090787,103632,0.067974,NaN,0.000000,0,0.000000,1524574,5731

In [40]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2014 = dataset2014.fillna(0)

In [41]:
year_id = "15"      #Ano: 2014
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5166053  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2014

print('Ano: 2014')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2014

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166054,'23351','5708','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166055,'111879','5709','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166056,'32779','5711','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166057,'103131','5710','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166058,'334873','5712','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166059,'331843','5713','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166060,'131434','5714','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166061,'165152','5715','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166062,'289619','5716','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166063,'159463','5717','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166064,'120376','5720','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166065,'142858','5719','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166066,'967944','5718','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166067,'170649','5722','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166068,'840741','5725','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166069,'202406','5721','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166070,'347127','5723','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166071,'86331','5724','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166072,'180814','5727','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166073,'925385','5730','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166074,'772962','5726','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166075,'65231','5728','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166076,'17108','5729','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166077,'612753','5731','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166078,'63256','5732','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166079,'2894448','5733','495','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166080,'34695','5734','495','15');

Conferir valor atual do id_banco:  5166080

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166081,'10.8','5708','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166082,'12.4','5709','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166083,'15.2','5711','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166084,'9.6','5710','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166085,'9.0','5712','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166086,'14.5','5713','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166087,'18.6','5714','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166088,'18.3','5715','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166089,'18.1','5716','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166090,'8.9','5717','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166091,'15.4','5720','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166092,'23.4','5719','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166093,'19.5','5718','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166094,'17.5','5722','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166095,'32.4','5725','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166096,'9.4','5721','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166097,'15.3','5723','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166098,'10.5','5724','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166099,'19.8','5727','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166100,'37.7','5730','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166101,'21.2','5726','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166102,'14.5','5728','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166103,'12.1','5729','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166104,'40.2','5731','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166105,'11.1','5732','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166106,'28.3','5733','496','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166107,'9.4','5734','496','15');

Conferir valor atual do id_banco:  5166107

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166108,'25366','5708','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166109,'135220','5709','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166110,'26836','5711','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166111,'124463','5710','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166112,'366430','5712','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166113,'349422','5713','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166114,'132964','5714','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166115,'164565','5715','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166116,'286960','5716','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166117,'180921','5717','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166118,'125958','5720','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166119,'129383','5719','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166120,'1032788','5718','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166121,'165043','5722','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166122,'844372','5725','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166123,'215729','5721','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166124,'388859','5723','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166125,'101452','5724','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166126,'197692','5727','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166127,'970024','5730','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166128,'831392','5726','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166129,'66751','5728','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166130,'15015','5729','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166131,'631521','5731','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166132,'69031','5732','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166133,'3020349','5733','497','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166134,'35461','5734','497','15');

Conferir valor atual do id_banco:  5166134

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166135,'11.7','5708','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166136,'15.0','5709','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166137,'12.5','5711','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166138,'11.6','5710','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166139,'9.9','5712','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166140,'15.2','5713','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166141,'18.8','5714','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166142,'18.2','5715','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166143,'18.0','5716','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166144,'10.1','5717','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166145,'16.1','5720','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166146,'21.2','5719','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166147,'20.8','5718','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166148,'17.0','5722','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166149,'32.6','5725','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166150,'10.1','5721','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166151,'17.1','5723','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166152,'12.4','5724','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166153,'21.7','5727','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166154,'39.5','5730','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166155,'22.8','5726','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166156,'14.8','5728','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166157,'10.6','5729','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166158,'41.4','5731','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166159,'12.1','5732','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166160,'29.6','5733','498','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166161,'9.6','5734','498','15');

Conferir valor atual do id_banco:  5166161

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166162,'8400','5708','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166163,'35303','5709','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166164,'7229','5711','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166165,'23523','5710','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166166,'391653','5712','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166167,'51824','5713','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166168,'43912','5714','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166169,'55834','5715','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166170,'64162','5716','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166171,'119597','5717','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166172,'37270','5720','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166173,'24861','5719','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166174,'253213','5718','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166175,'39235','5722','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166176,'51614','5725','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166177,'93888','5721','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166178,'84464','5723','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166179,'35872','5724','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166180,'24291','5727','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166181,'95389','5730','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166182,'262905','5726','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166183,'18138','5728','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166184,'4373','5729','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166185,'16695','5731','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166186,'27102','5732','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166187,'364196','5733','499','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166188,'17605','5734','499','15');

Conferir valor atual do id_banco:  5166188

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166189,'3.9','5708','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166190,'3.9','5709','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166191,'3.4','5711','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166192,'2.2','5710','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166193,'10.5','5712','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166194,'2.3','5713','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166195,'6.2','5714','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166196,'6.2','5715','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166197,'4.0','5716','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166198,'6.7','5717','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166199,'4.8','5720','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166200,'4.1','5719','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166201,'5.1','5718','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166202,'4.0','5722','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166203,'2.0','5725','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166204,'4.4','5721','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166205,'3.7','5723','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166206,'4.4','5724','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166207,'2.7','5727','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166208,'3.9','5730','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166209,'7.2','5726','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166210,'4.0','5728','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166211,'3.1','5729','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166212,'1.1','5731','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166213,'4.8','5732','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166214,'3.6','5733','500','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166215,'4.8','5734','500','15');

Conferir valor atual do id_banco:  5166215

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166216,'6552','5708','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166217,'27525','5709','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166218,'9811','5711','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166219,'21953','5710','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166220,'399787','5712','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166221,'40828','5713','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166222,'37510','5714','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166223,'52308','5715','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166224,'58377','5716','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166225,'89702','5717','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166226,'31689','5720','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166227,'17272','5719','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166228,'254431','5718','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166229,'31141','5722','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166230,'35187','5725','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166231,'77186','5721','501','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166232,'76760','5723','501','15');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166540,'2520','5708','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166541,'0','5709','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166542,'0','5711','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166543,'13167','5710','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166544,'9118','5712','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166545,'0','5713','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166546,'0','5714','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166547,'0','5715','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166548,'0','5716','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166549,'0','5717','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166550,'0','5720','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166551,'0','5719','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166552,'13317','5718','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166553,'0','5722','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166554,'0','5725','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166555,'11258','5721','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166556,'6322','5723','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166557,'0','5724','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166558,'0','5727','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166559,'0','5730','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166560,'0','5726','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166561,'0','5728','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166562,'3420','5729','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166563,'0','5731','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166564,'0','5732','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166565,'12894','5733','513','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166566,'0','5734','513','15');

Conferir valor atual do id_banco:  5166566

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166567,'1.2','5708','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166568,'0.0','5709','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166569,'0.0','5711','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166570,'1.2','5710','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166571,'0.2','5712','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166572,'0.0','5713','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166573,'0.0','5714','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166574,'0.0','5715','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166575,'0.0','5716','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166576,'0.0','5717','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166577,'0.0','5720','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166578,'0.0','5719','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166579,'0.3','5718','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166580,'0.0','5722','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166581,'0.0','5725','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166582,'0.5','5721','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166583,'0.3','5723','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166584,'0.0','5724','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166585,'0.0','5727','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166586,'0.0','5730','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166587,'0.0','5726','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166588,'0.0','5728','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166589,'2.4','5729','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166590,'0.0','5731','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166591,'0.0','5732','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166592,'0.1','5733','514','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166593,'0.0','5734','514','15');

Conferir valor atual do id_banco:  5166593

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166594,'216204','5708','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166595,'903432','5709','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166596,'215259','5711','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166597,'1072470','5710','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166598,'3714373','5712','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166599,'2295658','5713','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166600,'706266','5714','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166601,'903913','5715','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166602,'1598338','5716','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166603,'1790106','5717','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166604,'783094','5720','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166605,'609782','5719','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166606,'4957534','5718','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166607,'973446','5722','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166608,'2593385','5725','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166609,'2145684','5721','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166610,'2272748','5723','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166611,'820633','5724','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166612,'911542','5727','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166613,'2454158','5730','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166614,'3642605','5726','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166615,'449599','5728','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166616,'141819','5729','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166617,'1524574','5731','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166618,'568919','5732','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166619,'10218686','5733','515','15');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166620,'368883','5734','515','15');

Conferir valor atual do id_banco:  5166620

In [42]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2015                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [43]:
dataset2015 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2015")
dataset2015.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,AC,Acre,21552,0.095657,23302,0.103425,8758,0.038872,8234,0.036546,...,0.0,74277,0.329675,79367,0.352266,4730.0,0.020994,5084.0,0.022565,225304
1,AL,Alagoas,100047,0.122874,108232,0.132926,52860,0.064921,33345,0.040953,...,0.0,259239,0.318387,260502,0.319939,0.0,0.000000,NaN,0.000000,814225
2,AP,Amapá,23129,0.110162,27585,0.131386,7617,0.036279,6835,0.032555,...,0.0,70683,0.336659,74105,0.352958,NaN,0.000000,NaN,0.000000,209954
3,AM,Amazonas,97319,0.090775,109698,0.102322,24087,0.022467,18879,0.017610,...,0.0,399667,0.372792,394128,0.367626,16270.0,0.015176,12042.0,0.011232,1072090
4,BA,Bahia,321005,0.088668,315636,0.087185,390455,0.107852,412633,0.113978,...,0.0,1053280,0.290938,1108473,0.306183,8508.0,0.002350,10300.0,0.002845,3620290

In [44]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2015.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2015 = dataset2015.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2015['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id         UF_no_dataset
0                  Acre  5708                  Acre
1               Alagoas  5709               Alagoas
2                 Amapá  5711                 Amapá
3              Amazonas  5710              Amazonas
4                 Bahia  5712                 Bahia
5                 Ceará  5713                 Ceará
6      Distrito Federal  5714      Distrito Federal
7        Espírito Santo  5715        Espírito Santo
8                 Goiás  5716                 Goiás
9              Maranhão  5717              Maranhão
10          Mato Grosso  5720           Mato Grosso
11   Mato Grosso do Sul  5719    Mato Grosso do Sul
12         Minas Gerais  5718          Minas Gerais
13              Paraiba  5722               Paraiba
14               Paraná  5725                Paraná
15                 Pará  5721                  Pará
16           Pernambuco  5723            Pernambuco
17                Piauí  5724                 Piauí
18  Rio Grande do Norte  5727   Rio Grande do Norte
19    Rio Grande do Sul  5730     Rio Grande do Sul
20       Rio de Janeiro  5726        Rio de Janeiro
21             Rondônia  5728              Rondônia
22              Roraima  5729               Roraima
23       Santa Catarina  5731        Santa Catarina
24              Sergipe  5732               Sergipe
25            São Paulo  5733             São Paulo
26            Tocantins  5734             Tocantins

In [45]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2015['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2015.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,21552,0.095657,23302,0.103425,8758,0.038872,8234,0.036546,...,74277,0.329675,79367,0.352266,4730.0,0.020994,5084.0,0.022565,225304,5708
1,AL,Alagoas,100047,0.122874,108232,0.132926,52860,0.064921,33345,0.040953,...,259239,0.318387,260502,0.319939,0.0,0.000000,NaN,0.000000,814225,5709
2,AP,Amapá,23129,0.110162,27585,0.131386,7617,0.036279,6835,0.032555,...,70683,0.336659,74105,0.352958,NaN,0.000000,NaN,0.000000,209954,5711
3,AM,Amazonas,97319,0.090775,109698,0.102322,24087,0.022467,18879,0.017610,...,399667,0.372792,394128,0.367626,16270.0,0.015176,12042.0,0.011232,1072090,5710
4,BA,Bahia,321005,0.088668,315636,0.087185,390455,0.107852,412633,0.113978,...,1053280,0.290938,1108473,0.306183,8508.0,0.002350,10300.0,0.002845,3620290,5712

In [46]:
dataset2015[dataset2015.isna().any(axis=1)]

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
1,AL,Alagoas,100047,0.122874,108232,0.132926,52860,0.064921,33345,0.040953,...,259239,0.318387,260502,0.319939,0.0,0.0,NaN,0.000000,814225,5709
2,AP,Amapá,23129,0.110162,27585,0.131386,7617,0.036279,6835,0.032555,...,70683,0.336659,74105,0.352958,NaN,0.0,NaN,0.000000,209954,5711
6,DF,Distrito Federal,131748,0.182135,148635,0.205480,46738,0.064613,37640,0.052035,...,182382,0.252133,176212,0.243604,NaN,0.0,0.0,0.000000,723355,5714
7,ES,Espírito Santo,167911,0.194447,163112,0.188889,59959,0.069435,51573,0.059723,...,198497,0.229866,222480,0.257640,0.0,0.0,0.0,0.000000,863532,5715
9,MA,Maranhão,151075,0.084774,165353,0.092786,102231,0.057366,99962,0.056093,...,638870,0.358496,624593,0.350485,0.0,0.0,0.0,0.000000,1782084,5717
13,PB,Paraiba,172611,0.180785,164833,0.172639,31669,0.033169,28440,0.029787,...,265036,0.277587,292198,0.306035,0.0,0.0,0.0,0.000000,954787,5722
17,PI,Piauí,73733,0.093103,84990,0.107318,38835,0.049037,38277,0.048333,...,288749,0.364606,267364,0.337603,NaN,0.0,NaN,0.000000,791948,5724
18,RN,Rio Grande do Norte,170269,0.192501,191449,0.216446,31087,0.035146,30374,0.034340,...,238783,0.269961,222548,0.251606,NaN,0.0,NaN,0.000000,884510,5727
22,RR,Roraima,14878,0.112139,13435,0.101262,4961,0.037392,4958,0.037370,...,48345,0.364387,43205,0.325645,0.0,0.0,2893.0,0.021805,132675,5729
24,SE,Sergipe,71109,0.120930,68552,0.116582,30428,0.051747,27862,0.047383,...,193202,0.328565,196864,0.334793,0.0,0.0,0.0,0.000000,588017,5732

In [47]:
#valores nulos são zero, então transforma todos os vazios em zero
dataset2015 = dataset2015.fillna(0)

In [48]:
year_id = "16"      #Ano: 2015
group_id = "495"    # é o primeiro: Branca - Estuda (frequência)
percentual = False

id_banco = 5166620  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2015

print('Ano: 2015')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2015

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166621,'21552','5708','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166622,'100047','5709','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166623,'23129','5711','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166624,'97319','5710','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166625,'321005','5712','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166626,'284053','5713','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166627,'131748','5714','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166628,'167911','5715','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166629,'285302','5716','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166630,'151075','5717','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166631,'116473','5720','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166632,'137853','5719','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166633,'949700','5718','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166634,'172611','5722','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166635,'854039','5725','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166636,'201279','5721','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166637,'361543','5723','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166638,'73733','5724','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166639,'170269','5727','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166640,'922017','5730','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166641,'733702','5726','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166642,'64849','5728','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166643,'14878','5729','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166644,'652765','5731','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166645,'71109','5732','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166646,'2862295','5733','495','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166647,'39515','5734','495','16');

Conferir valor atual do id_banco:  5166647

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166648,'9.6','5708','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166649,'12.3','5709','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166650,'11.0','5711','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166651,'9.1','5710','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166652,'8.9','5712','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166653,'12.4','5713','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166654,'18.2','5714','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166655,'19.4','5715','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166656,'18.3','5716','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166657,'8.5','5717','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166658,'14.9','5720','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166659,'21.9','5719','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166660,'19.5','5718','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166661,'18.1','5722','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166662,'32.7','5725','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166663,'9.4','5721','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166664,'16.1','5723','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166665,'9.3','5724','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166666,'19.3','5727','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166667,'38.7','5730','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166668,'20.5','5726','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166669,'14.4','5728','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166670,'11.2','5729','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166671,'43.1','5731','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166672,'12.1','5732','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166673,'28.2','5733','496','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166674,'10.9','5734','496','16');

Conferir valor atual do id_banco:  5166674

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166675,'23302','5708','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166676,'108232','5709','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166677,'27585','5711','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166678,'109698','5710','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166679,'315636','5712','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166680,'329507','5713','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166681,'148635','5714','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166682,'163112','5715','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166683,'290264','5716','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166684,'165353','5717','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166685,'130055','5720','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166686,'144926','5719','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166687,'934542','5718','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166688,'164833','5722','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166689,'896071','5725','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166690,'188612','5721','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166691,'360864','5723','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166692,'84990','5724','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166693,'191449','5727','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166694,'921508','5730','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166695,'780576','5726','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166696,'70781','5728','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166697,'13435','5729','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166698,'611236','5731','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166699,'68552','5732','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166700,'2987178','5733','497','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166701,'34697','5734','497','16');

Conferir valor atual do id_banco:  5166701

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166702,'10.3','5708','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166703,'13.3','5709','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166704,'13.1','5711','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166705,'10.2','5710','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166706,'8.7','5712','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166707,'14.4','5713','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166708,'20.5','5714','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166709,'18.9','5715','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166710,'18.6','5716','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166711,'9.3','5717','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166712,'16.6','5720','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166713,'23.1','5719','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166714,'19.2','5718','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166715,'17.3','5722','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166716,'34.3','5725','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166717,'8.8','5721','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166718,'16.1','5723','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166719,'10.7','5724','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166720,'21.6','5727','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166721,'38.7','5730','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166722,'21.8','5726','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166723,'15.7','5728','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166724,'10.1','5729','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166725,'40.3','5731','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166726,'11.7','5732','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166727,'29.5','5733','498','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166728,'9.6','5734','498','16');

Conferir valor atual do id_banco:  5166728

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166729,'8758','5708','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166730,'52860','5709','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166731,'7617','5711','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166732,'24087','5710','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166733,'390455','5712','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166734,'50130','5713','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166735,'46738','5714','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166736,'59959','5715','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166737,'62391','5716','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166738,'102231','5717','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166739,'35030','5720','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166740,'17233','5719','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166741,'290041','5718','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166742,'31669','5722','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166743,'52701','5725','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166744,'78966','5721','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166745,'90433','5723','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166746,'38835','5724','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166747,'31087','5727','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166748,'87193','5730','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166749,'301651','5726','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166750,'21066','5728','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166751,'4961','5729','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166752,'21503','5731','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166753,'30428','5732','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166754,'440665','5733','499','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166755,'18988','5734','499','16');

Conferir valor atual do id_banco:  5166755

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166756,'3.9','5708','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166757,'6.5','5709','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166758,'3.6','5711','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166759,'2.2','5710','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166760,'10.8','5712','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166761,'2.2','5713','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166762,'6.5','5714','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166763,'6.9','5715','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166764,'4.0','5716','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166765,'5.7','5717','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166766,'4.5','5720','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166767,'2.7','5719','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166768,'6.0','5718','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166769,'3.3','5722','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166770,'2.0','5725','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166771,'3.7','5721','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166772,'4.0','5723','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166773,'4.9','5724','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166774,'3.5','5727','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166775,'3.7','5730','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166776,'8.4','5726','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166777,'4.7','5728','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166778,'3.7','5729','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166779,'1.4','5731','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166780,'5.2','5732','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166781,'4.3','5733','500','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166782,'5.3','5734','500','16');

Conferir valor atual do id_banco:  5166782

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166783,'8234','5708','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166784,'33345','5709','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166785,'6835','5711','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166786,'18879','5710','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166787,'412633','5712','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166788,'46470','5713','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166789,'37640','5714','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166790,'51573','5715','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166791,'60579','5716','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166792,'99962','5717','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166793,'28896','5720','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166794,'14138','5719','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166795,'269040','5718','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166796,'28440','5722','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166797,'36387','5725','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166798,'68870','5721','501','16');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5166799,'81427','5723','501','16');

In [49]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2016                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [50]:
dataset2016 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2016")
dataset2016.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,RO,Rondônia,56609.0,0.129317,59292.3,0.135447,12055.50,0.027540,15587.30,0.035608,...,0.001150,148769.0,0.339847,142023.0,0.324436,1044.830,0.002387,1026.950,0.002346,437752.989
1,AC,Acre,17807.1,0.083160,18813.6,0.087860,5329.94,0.024891,5024.50,0.023465,...,0.002459,85541.0,0.399478,79735.7,0.372367,419.745,0.001960,343.191,0.001603,214131.862
2,AM,Amazonas,81102.6,0.078225,89386.4,0.086215,13846.00,0.013355,9705.23,0.009361,...,0.000757,432946.0,0.417586,382940.0,0.369354,12389.500,0.011950,11398.800,0.010994,1036783.007
3,RR,Roraima,11676.8,0.092720,12009.6,0.095362,5536.62,0.043964,5314.13,0.042197,...,0.001285,42955.9,0.341092,42553.0,0.337893,2453.820,0.019485,3274.690,0.026003,125936.340
4,PA,Pará,147813.0,0.069038,183190.0,0.085561,87857.40,0.041035,67123.00,0.031351,...,0.001301,807641.0,0.377220,837821.0,0.391315,3555.420,0.001661,3250.820,0.001518,2141037.110

In [51]:
#correção para Paraiba
index = dataset2016.loc[dataset2016['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2016.at[index[0],'UF'] = 'Paraiba'

In [52]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2016.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2016 = dataset2016.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2016['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [53]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2016['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2016.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,17807.1,0.083160,18813.6,0.087860,5329.94,0.024891,5024.50,0.023465,...,85541.0,0.399478,79735.7,0.372367,419.745,0.001960,343.191,0.001603,214131.862,5708
1,AL,Alagoas,84813.9,0.103186,95073.8,0.115669,17302.90,0.021051,15848.40,0.019282,...,302115.0,0.367560,300911.0,0.366095,2358.630,0.002870,1427.890,0.001737,821948.075,5709
2,AP,Amapá,15744.4,0.073598,21520.3,0.100598,9486.03,0.044343,4578.86,0.021404,...,82967.6,0.387837,79181.7,0.370140,0.000,0.000000,159.381,0.000745,213923.707,5711
3,AM,Amazonas,81102.6,0.078225,89386.4,0.086215,13846.00,0.013355,9705.23,0.009361,...,432946.0,0.417586,382940.0,0.369354,12389.500,0.011950,11398.800,0.010994,1036783.007,5710
4,BA,Bahia,284686.0,0.081860,278709.0,0.080142,338074.00,0.097212,356226.00,0.102432,...,1085586.0,0.312156,1110247.0,0.319248,5729.930,0.001648,10811.000,0.003109,3477698.870,5712

In [54]:
dataset2016[dataset2016.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaMasculino, BrancaMasculino(%), BrancaFeminino, BrancaFeminino(%), PretaMasculino, PretaMasculino(%), PretaFeminino, PretaFeminino(%), AmarelaMasculino, AmarelaMasculino(%), AmarelaFeminino, AmarelaFeminino(%), PardaMasculino, PardaMasculino(%), PardaFeminino, PardaFeminino(%), IndigenaMasculino, IndigenaMasculino(%), IndigenaFeminino, IndigenaFeminino(%), Total, id]
Index: []

[0 rows x 24 columns]

In [55]:
year_id = "17"      #Ano: 2016
group_id = "495"    # é o primeiro: Alfabetizacao
percentual = False

id_banco = 5167187  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2016

print('Ano: 2016')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2016

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167188,'17807.1','5708','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167189,'84813.9','5709','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167190,'15744.4','5711','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167191,'81102.6','5710','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167192,'284686.0','5712','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167193,'278241.0','5713','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167194,'112573.0','5714','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167195,'149394.0','5715','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167196,'245328.0','5716','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167197,'151562.0','5717','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167198,'121547.0','5720','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167199,'121972.0','5719','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167200,'891940.0','5718','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167201,'148845.0','5722','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167202,'818702.0','5725','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167203,'147813.0','5721','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167204,'294151.0','5723','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167205,'57762.1','5724','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167206,'143411.0','5727','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167207,'965187.0','5730','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167208,'681499.0','5726','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167209,'56609.0','5728','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167210,'11676.8','5729','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167211,'654778.0','5731','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167212,'59989.6','5732','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167213,'2977991.0','5733','495','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167214,'38020.4','5734','495','17');

Conferir valor atual do id_banco:  5167214

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167215,'8.3','5708','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167216,'10.3','5709','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167217,'7.4','5711','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167218,'7.8','5710','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167219,'8.2','5712','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167220,'12.8','5713','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167221,'16.7','5714','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167222,'17.2','5715','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167223,'15.7','5716','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167224,'8.4','5717','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167225,'15.5','5720','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167226,'20.0','5719','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167227,'18.5','5718','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167228,'15.8','5722','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167229,'32.6','5725','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167230,'6.9','5721','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167231,'13.0','5723','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167232,'7.6','5724','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167233,'17.7','5727','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167234,'40.0','5730','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167235,'19.0','5726','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167236,'12.9','5728','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167237,'9.3','5729','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167238,'42.5','5731','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167239,'10.8','5732','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167240,'29.4','5733','496','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167241,'10.2','5734','496','17');

Conferir valor atual do id_banco:  5167241

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167242,'18813.6','5708','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167243,'95073.8','5709','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167244,'21520.3','5711','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167245,'89386.4','5710','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167246,'278709.0','5712','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167247,'288590.0','5713','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167248,'109932.0','5714','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167249,'161625.0','5715','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167250,'248557.0','5716','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167251,'160797.0','5717','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167252,'118505.0','5720','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167253,'126487.0','5719','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167254,'947781.0','5718','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167255,'153702.0','5722','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167256,'822952.0','5725','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167257,'183190.0','5721','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167258,'326306.0','5723','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167259,'64476.9','5724','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167260,'165969.0','5727','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167261,'966807.0','5730','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167262,'748812.0','5726','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167263,'59292.3','5728','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167264,'12009.6','5729','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167265,'644950.0','5731','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167266,'52182.6','5732','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167267,'3090653.0','5733','497','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167268,'36536.4','5734','497','17');

Conferir valor atual do id_banco:  5167268

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167269,'8.8','5708','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167270,'11.6','5709','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167271,'10.1','5711','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167272,'8.6','5710','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167273,'8.0','5712','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167274,'13.3','5713','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167275,'16.3','5714','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167276,'18.6','5715','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167277,'15.9','5716','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167278,'9.0','5717','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167279,'15.1','5720','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167280,'20.7','5719','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167281,'19.7','5718','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167282,'16.3','5722','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167283,'32.8','5725','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167284,'8.6','5721','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167285,'14.4','5723','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167286,'8.5','5724','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167287,'20.5','5727','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167288,'40.1','5730','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167289,'20.9','5726','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167290,'13.5','5728','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167291,'9.5','5729','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167292,'41.9','5731','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167293,'9.4','5732','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167294,'30.5','5733','498','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167295,'9.8','5734','498','17');

Conferir valor atual do id_banco:  5167295

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167296,'5329.94','5708','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167297,'17302.9','5709','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167298,'9486.03','5711','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167299,'13846.0','5710','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167300,'338074.0','5712','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167301,'40706.9','5713','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167302,'24795.6','5714','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167303,'46522.0','5715','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167304,'63703.6','5716','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167305,'89381.3','5717','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167306,'30934.4','5720','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167307,'15308.2','5719','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167308,'260448.0','5718','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167309,'17136.4','5722','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167310,'45308.4','5725','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167311,'87857.4','5721','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167312,'56308.3','5723','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167313,'29350.6','5724','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167314,'18455.9','5727','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167315,'60332.7','5730','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167316,'252039.0','5726','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167317,'12055.5','5728','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167318,'5536.62','5729','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167319,'17288.9','5731','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167320,'20275.0','5732','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167321,'369537.0','5733','499','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167322,'23823.5','5734','499','17');

Conferir valor atual do id_banco:  5167322

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167323,'2.5','5708','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167324,'2.1','5709','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167325,'4.4','5711','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167326,'1.3','5710','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167327,'9.7','5712','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167328,'1.9','5713','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167329,'3.7','5714','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167330,'5.4','5715','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167331,'4.1','5716','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167332,'5.0','5717','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167333,'3.9','5720','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167334,'2.5','5719','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167335,'5.4','5718','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167336,'1.8','5722','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167337,'1.8','5725','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167338,'4.1','5721','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167339,'2.5','5723','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167340,'3.9','5724','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167341,'2.3','5727','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167342,'2.5','5730','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167343,'7.0','5726','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167344,'2.8','5728','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167345,'4.4','5729','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167346,'1.1','5731','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167347,'3.7','5732','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167348,'3.6','5733','500','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167349,'6.4','5734','500','17');

Conferir valor atual do id_banco:  5167349

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167350,'5024.5','5708','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167351,'15848.4','5709','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167352,'4578.86','5711','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167353,'9705.23','5710','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167354,'356226.0','5712','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167355,'35041.0','5713','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167356,'22170.1','5714','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167357,'41915.7','5715','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167358,'57370.4','5716','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167359,'86762.5','5717','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167360,'23784.9','5720','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167361,'19130.2','5719','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167362,'247291.0','5718','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167363,'19659.5','5722','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167364,'34641.3','5725','501','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167365,'67123.0','5721','501','17');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167620,'419.745','5708','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167621,'2358.63','5709','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167622,'0.0','5711','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167623,'12389.5','5710','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167624,'5729.93','5712','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167625,'2322.36','5713','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167626,'397.456','5714','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167627,'995.204','5715','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167628,'0.0','5716','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167629,'1084.0','5717','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167630,'636.006','5720','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167631,'3844.21','5719','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167632,'160.549','5718','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167633,'2354.15','5722','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167634,'1878.33','5725','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167635,'3555.42','5721','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167636,'1679.67','5723','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167637,'844.486','5724','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167638,'498.008','5727','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167639,'4617.73','5730','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167640,'612.408','5726','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167641,'1044.83','5728','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167642,'2453.82','5729','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167643,'252.709','5731','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167644,'464.677','5732','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167645,'5236.71','5733','511','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167646,'697.914','5734','511','17');

Conferir valor atual do id_banco:  5167646

IndigenaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167647,'0.2','5708','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167648,'0.3','5709','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167649,'0.0','5711','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167650,'1.2','5710','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167651,'0.2','5712','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167652,'0.1','5713','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167653,'0.1','5714','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167654,'0.1','5715','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167655,'0.0','5716','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167656,'0.1','5717','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167657,'0.1','5720','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167658,'0.6','5719','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167659,'0.0','5718','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167660,'0.3','5722','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167661,'0.1','5725','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167662,'0.2','5721','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167663,'0.1','5723','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167664,'0.1','5724','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167665,'0.1','5727','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167666,'0.2','5730','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167667,'0.0','5726','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167668,'0.2','5728','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167669,'1.9','5729','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167670,'0.0','5731','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167671,'0.1','5732','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167672,'0.1','5733','512','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167673,'0.2','5734','512','17');

Conferir valor atual do id_banco:  5167673

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167674,'343.191','5708','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167675,'1427.89','5709','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167676,'159.381','5711','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167677,'11398.8','5710','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167678,'10811.0','5712','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167679,'2914.0','5713','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167680,'651.64','5714','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167681,'507.575','5715','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167682,'0.0','5716','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167683,'1969.56','5717','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167684,'1208.66','5720','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167685,'2334.61','5719','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167686,'941.469','5718','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167687,'498.22','5722','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167688,'1859.01','5725','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167689,'3250.82','5721','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167690,'2731.95','5723','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167691,'704.491','5724','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167692,'0.0','5727','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167693,'2980.53','5730','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167694,'3212.96','5726','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167695,'1026.95','5728','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167696,'3274.69','5729','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167697,'0.0','5731','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167698,'590.148','5732','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167699,'7946.33','5733','513','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167700,'938.067','5734','513','17');

Conferir valor atual do id_banco:  5167700

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167701,'0.2','5708','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167702,'0.2','5709','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167703,'0.1','5711','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167704,'1.1','5710','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167705,'0.3','5712','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167706,'0.1','5713','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167707,'0.1','5714','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167708,'0.1','5715','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167709,'0.0','5716','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167710,'0.1','5717','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167711,'0.2','5720','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167712,'0.4','5719','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167713,'0.0','5718','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167714,'0.1','5722','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167715,'0.1','5725','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167716,'0.2','5721','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167717,'0.1','5723','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167718,'0.1','5724','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167719,'0.0','5727','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167720,'0.1','5730','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167721,'0.1','5726','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167722,'0.2','5728','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167723,'2.6','5729','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167724,'0.0','5731','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167725,'0.1','5732','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167726,'0.1','5733','514','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167727,'0.3','5734','514','17');

Conferir valor atual do id_banco:  5167727

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167728,'214131.862','5708','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167729,'821948.0750000001','5709','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167730,'213923.70699999997','5711','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167731,'1036783.007','5710','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167732,'3477698.87','5712','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167733,'2168826.7300000004','5713','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167734,'672592.946','5714','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167735,'867097.1279999999','5715','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167736,'1564170.82','5716','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167737,'1794664.83','5717','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167738,'785996.4330000001','5720','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167739,'610740.5700000001','5719','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167740,'4821419.358','5718','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167741,'940834.725','5722','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167742,'2509145.49','5725','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167743,'2141037.1100000003','5721','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167744,'2259984.24','5723','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167745,'756021.8770000001','5724','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167746,'809666.102','5727','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167747,'2409981.5640000002','5730','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167748,'3585804.7479999997','5726','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167749,'437752.989','5728','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167750,'125936.34000000001','5729','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167751,'1539878.119','5731','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167752,'555224.165','5732','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167753,'10139931.94','5733','515','17');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167754,'374415.929','5734','515','17');

Conferir valor atual do id_banco:  5167754

In [56]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2017                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [57]:
dataset2017 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2017")
dataset2017.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,RO,Rondônia,55789.0,0.133195,54871.2,0.131004,16390.60,0.039132,13789.00,0.032921,...,0.000986,136201,0.325177,138870.0,0.331549,807.747,0.001928,500.731,0.001195,4.188519e+05
1,AC,Acre,19420.0,0.083011,17937.8,0.076675,6352.27,0.027153,4178.38,0.017860,...,0.001638,96938,0.414360,88005.4,0.376178,359.866,0.001538,287.692,0.001230,2.339461e+05
2,AM,Amazonas,72822.3,0.070510,91723.9,0.088812,12271.90,0.011882,11391.20,0.011030,...,0.000270,423654,0.410203,404532.0,0.391688,7343.430,0.007110,8685.010,0.008409,1.032791e+06
3,RR,Roraima,13516.2,0.101612,15826.8,0.118983,6216.13,0.046732,5459.62,0.041044,...,0.002831,41870,0.314771,42631.3,0.320495,3354.140,0.025216,3632.560,0.027309,1.330172e+05
4,PA,Pará,170769.0,0.077221,192696.0,0.087137,101566.00,0.045928,81978.60,0.037071,...,0.001899,823172,0.372237,823706.0,0.372478,3481.970,0.001575,6229.230,0.002817,2.211420e+06

In [58]:
#correção para Paraiba
index = dataset2017.loc[dataset2017['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2017.at[index[0],'UF'] = 'Paraiba'

In [59]:
# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2017.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2017 = dataset2017.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2017['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [60]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2017['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2017.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,19420.0,0.083011,17937.8,0.076675,6352.27,0.027153,4178.38,0.017860,...,96938,0.414360,88005.4,0.376178,359.866,0.001538,287.692,0.001230,2.339461e+05,5708
1,AL,Alagoas,83480.4,0.105143,86038.2,0.108365,16653.20,0.020975,13115.70,0.016519,...,297504,0.374705,289276.0,0.364342,2002.570,0.002522,1470.030,0.001851,7.939684e+05,5709
2,AP,Amapá,15071.8,0.062689,20091.3,0.083567,8552.12,0.035571,9665.93,0.040204,...,90109,0.374795,95378.7,0.396714,405.857,0.001688,979.439,0.004074,2.404219e+05,5711
3,AM,Amazonas,72822.3,0.070510,91723.9,0.088812,12271.90,0.011882,11391.20,0.011030,...,423654,0.410203,404532.0,0.391688,7343.430,0.007110,8685.010,0.008409,1.032791e+06,5710
4,BA,Bahia,261877.0,0.075739,288949.0,0.083568,351382.00,0.101625,384434.00,0.111184,...,1062621,0.307325,1087317.0,0.314467,6411.010,0.001854,8173.600,0.002364,3.457646e+06,5712

In [61]:
dataset2017[dataset2017.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaMasculino, BrancaMasculino(%), BrancaFeminino, BrancaFeminino(%), PretaMasculino, PretaMasculino(%), PretaFeminino, PretaFeminino(%), AmarelaMasculino, AmarelaMasculino(%), AmarelaFeminino, AmarelaFeminino(%), PardaMasculino, PardaMasculino(%), PardaFeminino, PardaFeminino(%), IndigenaMasculino, IndigenaMasculino(%), IndigenaFeminino, IndigenaFeminino(%), Total, id]
Index: []

[0 rows x 24 columns]

In [62]:
year_id = "18"      #Ano: 2017
group_id = "495"    # é o primeiro: Ocupado
percentual = False

id_banco = 5167754  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2017

print('Ano: 2017')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2017

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167755,'19420.0','5708','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167756,'83480.4','5709','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167757,'15071.8','5711','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167758,'72822.3','5710','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167759,'261877.0','5712','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167760,'261873.0','5713','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167761,'111172.0','5714','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167762,'145238.0','5715','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167763,'253802.0','5716','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167764,'150343.0','5717','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167765,'113748.0','5720','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167766,'124983.0','5719','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167767,'890651.0','5718','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167768,'142094.0','5722','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167769,'844036.0','5725','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167770,'170769.0','5721','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167771,'309243.0','5723','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167772,'70347.6','5724','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167773,'137086.0','5727','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167774,'920515.0','5730','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167775,'736336.0','5726','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167776,'55789.0','5728','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167777,'13516.2','5729','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167778,'638459.0','5731','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167779,'52351.6','5732','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167780,'2876236.0','5733','495','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167781,'29981.6','5734','495','18');

Conferir valor atual do id_banco:  5167781

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167782,'8.3','5708','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167783,'10.5','5709','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167784,'6.3','5711','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167785,'7.1','5710','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167786,'7.6','5712','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167787,'11.6','5713','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167788,'15.7','5714','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167789,'16.9','5715','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167790,'16.0','5716','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167791,'8.5','5717','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167792,'14.6','5720','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167793,'21.4','5719','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167794,'18.4','5718','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167795,'15.2','5722','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167796,'33.1','5725','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167797,'7.7','5721','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167798,'14.1','5723','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167799,'9.3','5724','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167800,'16.6','5727','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167801,'38.5','5730','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167802,'20.1','5726','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167803,'13.3','5728','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167804,'10.2','5729','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167805,'40.6','5731','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167806,'9.6','5732','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167807,'29.4','5733','496','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167808,'8.0','5734','496','18');

Conferir valor atual do id_banco:  5167808

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167809,'17937.8','5708','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167810,'86038.2','5709','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167811,'20091.3','5711','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167812,'91723.9','5710','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167813,'288949.0','5712','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167814,'274820.0','5713','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167815,'118479.0','5714','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167816,'150976.0','5715','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167817,'267985.0','5716','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167818,'157455.0','5717','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167819,'111243.0','5720','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167820,'122803.0','5719','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167821,'869800.0','5718','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167822,'162800.0','5722','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167823,'835800.0','5725','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167824,'192696.0','5721','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167825,'297696.0','5723','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167826,'83164.8','5724','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167827,'160308.0','5727','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167828,'927073.0','5730','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167829,'725277.0','5726','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167830,'54871.2','5728','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167831,'15826.8','5729','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167832,'623555.0','5731','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167833,'54890.3','5732','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167834,'2749835.0','5733','497','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167835,'32877.1','5734','497','18');

Conferir valor atual do id_banco:  5167835

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167836,'7.7','5708','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167837,'10.8','5709','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167838,'8.4','5711','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167839,'8.9','5710','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167840,'8.4','5712','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167841,'12.2','5713','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167842,'16.7','5714','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167843,'17.6','5715','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167844,'16.9','5716','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167845,'8.9','5717','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167846,'14.3','5720','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167847,'21.1','5719','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167848,'18.0','5718','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167849,'17.4','5722','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167850,'32.8','5725','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167851,'8.7','5721','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167852,'13.6','5723','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167853,'11.0','5724','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167854,'19.4','5727','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167855,'38.7','5730','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167856,'19.8','5726','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167857,'13.1','5728','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167858,'11.9','5729','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167859,'39.7','5731','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167860,'10.0','5732','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167861,'28.1','5733','498','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167862,'8.8','5734','498','18');

Conferir valor atual do id_banco:  5167862

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167863,'6352.27','5708','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167864,'16653.2','5709','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167865,'8552.12','5711','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167866,'12271.9','5710','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167867,'351382.0','5712','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167868,'52896.6','5713','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167869,'28441.3','5714','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167870,'45112.6','5715','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167871,'68055.3','5716','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167872,'99537.3','5717','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167873,'36002.8','5720','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167874,'16810.1','5719','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167875,'295519.0','5718','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167876,'24921.3','5722','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167877,'46817.2','5725','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167878,'101566.0','5721','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167879,'58578.3','5723','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167880,'23823.8','5724','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167881,'28037.8','5727','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167882,'77023.7','5730','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167883,'269607.0','5726','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167884,'16390.6','5728','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167885,'6216.13','5729','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167886,'26731.0','5731','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167887,'20241.6','5732','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167888,'389862.0','5733','499','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167889,'24622.0','5734','499','18');

Conferir valor atual do id_banco:  5167889

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167890,'2.7','5708','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167891,'2.1','5709','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167892,'3.6','5711','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167893,'1.2','5710','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167894,'10.2','5712','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167895,'2.4','5713','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167896,'4.0','5714','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167897,'5.3','5715','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167898,'4.3','5716','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167899,'5.6','5717','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167900,'4.6','5720','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167901,'2.9','5719','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167902,'6.1','5718','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167903,'2.7','5722','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167904,'1.8','5725','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167905,'4.6','5721','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167906,'2.7','5723','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167907,'3.1','5724','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167908,'3.4','5727','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167909,'3.2','5730','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167910,'7.4','5726','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167911,'3.9','5728','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167912,'4.7','5729','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167913,'1.7','5731','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167914,'3.7','5732','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167915,'4.0','5733','500','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167916,'6.6','5734','500','18');

Conferir valor atual do id_banco:  5167916

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167917,'4178.38','5708','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167918,'13115.7','5709','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167919,'9665.93','5711','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167920,'11391.2','5710','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167921,'384434.0','5712','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167922,'42247.7','5713','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167923,'31257.2','5714','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167924,'51454.0','5715','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167925,'48544.0','5716','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167926,'74645.9','5717','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167927,'35737.3','5720','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167928,'14115.6','5719','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167929,'274541.0','5718','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167930,'26080.4','5722','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167931,'52591.0','5725','501','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5167932,'81978.6','5721','501','18');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168214,'0.2','5708','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168215,'0.3','5709','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168216,'0.2','5711','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168217,'0.7','5710','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168218,'0.2','5712','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168219,'0.3','5713','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168220,'0.3','5714','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168221,'0.0','5715','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168222,'0.2','5716','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168223,'0.0','5717','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168224,'0.0','5720','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168225,'0.2','5719','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168226,'0.0','5718','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168227,'0.1','5722','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168228,'0.1','5725','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168229,'0.2','5721','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168230,'0.1','5723','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168231,'0.0','5724','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168232,'0.1','5727','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168233,'0.1','5730','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168234,'0.0','5726','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168235,'0.2','5728','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168236,'2.5','5729','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168237,'0.1','5731','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168238,'0.1','5732','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168239,'0.1','5733','512','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168240,'0.2','5734','512','18');

Conferir valor atual do id_banco:  5168240

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168241,'287.692','5708','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168242,'1470.03','5709','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168243,'979.439','5711','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168244,'8685.01','5710','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168245,'8173.6','5712','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168246,'4132.2','5713','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168247,'1450.77','5714','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168248,'412.54','5715','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168249,'618.392','5716','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168250,'450.617','5717','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168251,'787.016','5720','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168252,'371.996','5719','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168253,'3956.67','5718','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168254,'275.957','5722','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168255,'651.032','5725','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168256,'6229.23','5721','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168257,'1770.51','5723','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168258,'702.239','5724','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168259,'0.0','5727','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168260,'3165.55','5730','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168261,'1830.57','5726','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168262,'500.731','5728','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168263,'3632.56','5729','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168264,'605.743','5731','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168265,'738.071','5732','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168266,'3019.27','5733','513','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168267,'387.919','5734','513','18');

Conferir valor atual do id_banco:  5168267

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168268,'0.1','5708','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168269,'0.2','5709','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168270,'0.4','5711','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168271,'0.8','5710','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168272,'0.2','5712','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168273,'0.2','5713','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168274,'0.2','5714','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168275,'0.0','5715','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168276,'0.0','5716','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168277,'0.0','5717','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168278,'0.1','5720','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168279,'0.1','5719','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168280,'0.1','5718','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168281,'0.0','5722','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168282,'0.0','5725','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168283,'0.3','5721','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168284,'0.1','5723','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168285,'0.1','5724','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168286,'0.0','5727','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168287,'0.1','5730','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168288,'0.1','5726','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168289,'0.1','5728','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168290,'2.7','5729','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168291,'0.0','5731','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168292,'0.1','5732','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168293,'0.0','5733','514','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168294,'0.1','5734','514','18');

Conferir valor atual do id_banco:  5168294

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168295,'233946.1299','5708','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168296,'793968.4099999999','5709','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168297,'240421.90299999996','5711','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168298,'1032790.5127000001','5710','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168299,'3457646.31','5712','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168300,'2249557.42','5713','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168301,'709501.0800000001','5714','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168302,'859207.7600000001','5715','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168303,'1584520.002','5716','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168304,'1768611.897','5717','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168305,'780632.5389999999','5720','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168306,'583362.22','5719','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168307,'4831724.470000001','5718','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168308,'933823.6510000001','5722','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168309,'2549623.742','5725','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168310,'2211419.8899999997','5721','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168311,'2196690.9000000004','5723','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168312,'757207.502','5724','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168313,'828142.865','5727','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168314,'2393774.3200000003','5730','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168315,'3659170.9','5726','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168316,'418851.853','5728','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168317,'133017.187','5729','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168318,'1572597.6030000001','5731','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168319,'546772.909','5732','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168320,'9796337.57','5733','515','18');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168321,'375615.9039999999','5734','515','18');

Conferir valor atual do id_banco:  5168321

In [63]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2018                                             ###
###                                                                                              ###
####################################################################################################

In [64]:
dataset2018 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2018")
dataset2018.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,RO,Rondônia,56976.6,0.129930,57963.6,0.132181,15201.50,0.034666,13869.60,0.031628,...,0.015888,144332.0,0.329136,139850.0,0.318916,638.528,0.001456,1587.110,0.003619,4.385174e+05
1,AC,Acre,17555.9,0.076538,19800.1,0.086322,5494.39,0.023954,5340.72,0.023284,...,0.001905,90297.6,0.393670,88604.2,0.386288,796.220,0.003471,469.767,0.002048,2.293737e+05
2,AM,Amazonas,72796.2,0.072047,76833.6,0.076043,9259.94,0.009165,9193.00,0.009098,...,0.002967,435765.0,0.431280,380794.0,0.376875,9918.620,0.009817,9495.870,0.009398,1.010400e+06
3,RR,Roraima,14603.4,0.103978,14027.1,0.099875,4844.86,0.034496,2866.11,0.020407,...,0.001695,49487.5,0.352357,44801.1,0.318989,4633.240,0.032989,4863.190,0.034626,1.404472e+05
4,PA,Pará,189089.0,0.085951,179911.0,0.081779,89138.20,0.040518,71917.80,0.032691,...,0.002036,804136.0,0.365523,843698.0,0.383506,4830.560,0.002196,6342.920,0.002883,2.199959e+06

In [65]:
#correção para Paraiba
index = dataset2018.loc[dataset2018['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2018.at[index[0],'UF'] = 'Paraiba'

In [66]:
# não preciso colocar célula de incorporar a coluna de NaoEconomicamenteAtivo em Descocupado 

# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2018.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2018 = dataset2018.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2018['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [67]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2018['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2018.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,17555.9,0.076538,19800.1,0.086322,5494.39,0.023954,5340.72,0.023284,...,90297.6,0.393670,88604.2,0.386288,796.220,0.003471,469.767,0.002048,229373.675,5708
1,AL,Alagoas,84048.7,0.106934,93569.8,0.119048,23531.80,0.029939,20126.90,0.025607,...,275520.0,0.350541,283745.0,0.361005,508.017,0.000646,804.906,0.001024,785986.063,5709
2,AP,Amapá,17233.4,0.071077,18230.2,0.075188,11645.50,0.048031,6258.10,0.025811,...,92688.9,0.382285,93326.8,0.384916,488.675,0.002015,366.812,0.001513,242460.310,5711
3,AM,Amazonas,72796.2,0.072047,76833.6,0.076043,9259.94,0.009165,9193.00,0.009098,...,435765.0,0.431280,380794.0,0.376875,9918.620,0.009817,9495.870,0.009398,1010399.620,5710
4,BA,Bahia,293939.0,0.086554,283851.0,0.083584,369392.00,0.108773,361953.00,0.106582,...,1028365.0,0.302817,1040098.0,0.306272,4991.070,0.001470,5413.270,0.001594,3395999.420,5712

In [68]:
dataset2018[dataset2018.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaMasculino, BrancaMasculino(%), BrancaFeminino, BrancaFeminino(%), PretaMasculino, PretaMasculino(%), PretaFeminino, PretaFeminino(%), AmarelaMasculino, AmarelaMasculino(%), AmarelaFeminino, AmarelaFeminino(%), PardaMasculino, PardaMasculino(%), PardaFeminino, PardaFeminino(%), IndigenaMasculino, IndigenaMasculino(%), IndigenaFeminino, IndigenaFeminino(%), Total, id]
Index: []

[0 rows x 24 columns]

In [69]:
year_id = "19"      #Ano: 2018
group_id = "495"    # é o primeiro: Ocupado
percentual = False

id_banco = 5168321  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2018

print('Ano: 2018')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2018

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168322,'17555.9','5708','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168323,'84048.7','5709','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168324,'17233.4','5711','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168325,'72796.2','5710','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168326,'293939.0','5712','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168327,'267625.0','5713','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168328,'110922.0','5714','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168329,'157094.0','5715','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168330,'241477.0','5716','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168331,'139205.0','5717','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168332,'108443.0','5720','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168333,'131043.0','5719','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168334,'856477.0','5718','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168335,'127343.0','5722','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168336,'807083.0','5725','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168337,'189089.0','5721','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168338,'337720.0','5723','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168339,'60875.4','5724','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168340,'134923.0','5727','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168341,'844097.0','5730','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168342,'703903.0','5726','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168343,'56976.6','5728','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168344,'14603.4','5729','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168345,'630297.0','5731','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168346,'51091.0','5732','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168347,'2651910.0','5733','495','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168348,'34080.1','5734','495','19');

Conferir valor atual do id_banco:  5168348

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168349,'7.7','5708','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168350,'10.7','5709','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168351,'7.1','5711','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168352,'7.2','5710','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168353,'8.7','5712','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168354,'12.1','5713','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168355,'15.6','5714','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168356,'18.0','5715','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168357,'15.4','5716','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168358,'8.1','5717','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168359,'14.0','5720','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168360,'21.4','5719','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168361,'17.6','5718','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168362,'13.8','5722','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168363,'31.8','5725','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168364,'8.6','5721','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168365,'15.4','5723','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168366,'8.2','5724','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168367,'16.3','5727','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168368,'37.4','5730','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168369,'19.6','5726','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168370,'13.0','5728','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168371,'10.4','5729','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168372,'40.6','5731','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168373,'9.2','5732','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168374,'26.9','5733','496','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168375,'9.4','5734','496','19');

Conferir valor atual do id_banco:  5168375

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168376,'19800.1','5708','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168377,'93569.8','5709','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168378,'18230.2','5711','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168379,'76833.6','5710','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168380,'283851.0','5712','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168381,'264625.0','5713','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168382,'132053.0','5714','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168383,'135903.0','5715','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168384,'252459.0','5716','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168385,'145702.0','5717','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168386,'115515.0','5720','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168387,'124711.0','5719','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168388,'871464.0','5718','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168389,'150372.0','5722','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168390,'763397.0','5725','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168391,'179911.0','5721','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168392,'339025.0','5723','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168393,'57685.1','5724','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168394,'144977.0','5727','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168395,'889156.0','5730','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168396,'715189.0','5726','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168397,'57963.6','5728','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168398,'14027.1','5729','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168399,'595386.0','5731','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168400,'53677.1','5732','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168401,'2718490.0','5733','497','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168402,'37233.1','5734','497','19');

Conferir valor atual do id_banco:  5168402

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168403,'8.6','5708','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168404,'11.9','5709','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168405,'7.5','5711','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168406,'7.6','5710','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168407,'8.4','5712','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168408,'12.0','5713','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168409,'18.6','5714','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168410,'15.6','5715','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168411,'16.1','5716','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168412,'8.5','5717','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168413,'15.0','5720','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168414,'20.4','5719','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168415,'17.9','5718','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168416,'16.3','5722','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168417,'30.1','5725','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168418,'8.2','5721','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168419,'15.5','5723','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168420,'7.8','5724','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168421,'17.5','5727','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168422,'39.4','5730','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168423,'19.9','5726','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168424,'13.2','5728','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168425,'10.0','5729','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168426,'38.3','5731','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168427,'9.7','5732','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168428,'27.6','5733','498','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168429,'10.2','5734','498','19');

Conferir valor atual do id_banco:  5168429

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168430,'5494.39','5708','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168431,'23531.8','5709','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168432,'11645.5','5711','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168433,'9259.94','5710','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168434,'369392.0','5712','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168435,'55849.0','5713','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168436,'32209.4','5714','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168437,'49002.1','5715','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168438,'67363.1','5716','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168439,'108638.0','5717','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168440,'37649.7','5720','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168441,'17563.8','5719','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168442,'318908.0','5718','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168443,'31207.9','5722','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168444,'62568.5','5725','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168445,'89138.2','5721','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168446,'79548.5','5723','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168447,'24654.0','5724','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168448,'22610.9','5727','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168449,'73946.4','5730','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168450,'245394.0','5726','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168451,'15201.5','5728','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168452,'4844.86','5729','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168453,'27435.9','5731','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168454,'25315.8','5732','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168455,'364550.0','5733','499','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168456,'19417.6','5734','499','19');

Conferir valor atual do id_banco:  5168456

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168457,'2.4','5708','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168458,'3.0','5709','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168459,'4.8','5711','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168460,'0.9','5710','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168461,'10.9','5712','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168462,'2.5','5713','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168463,'4.5','5714','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168464,'5.6','5715','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168465,'4.3','5716','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168466,'6.3','5717','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168467,'4.9','5720','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168468,'2.9','5719','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168469,'6.6','5718','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168470,'3.4','5722','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168471,'2.5','5725','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168472,'4.1','5721','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168473,'3.6','5723','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168474,'3.3','5724','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168475,'2.7','5727','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168476,'3.3','5730','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168477,'6.8','5726','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168478,'3.5','5728','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168479,'3.4','5729','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168480,'1.8','5731','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168481,'4.6','5732','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168482,'3.7','5733','500','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168483,'5.3','5734','500','19');

Conferir valor atual do id_banco:  5168483

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168484,'5340.72','5708','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168485,'20126.9','5709','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168486,'6258.1','5711','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168487,'9193.0','5710','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168488,'361953.0','5712','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168489,'41125.1','5713','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168490,'36534.8','5714','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168491,'48147.2','5715','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168492,'62735.2','5716','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168493,'93197.0','5717','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168494,'32053.8','5720','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168495,'18276.5','5719','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168496,'275126.0','5718','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168497,'24573.3','5722','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168498,'50219.4','5725','501','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168499,'71917.8','5721','501','19');

INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168754,'796.22','5708','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168755,'508.017','5709','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168756,'488.675','5711','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168757,'9918.62','5710','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168758,'4991.07','5712','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168759,'3638.51','5713','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168760,'0.0','5714','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168761,'1228.91','5715','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168762,'723.252','5716','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168763,'1168.64','5717','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168764,'1526.38','5720','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168765,'3658.92','5719','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168766,'727.734','5718','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168767,'805.705','5722','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168768,'1329.71','5725','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168769,'4830.56','5721','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168770,'1601.19','5723','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168771,'398.918','5724','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168772,'182.18','5727','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168773,'2201.08','5730','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168774,'6914.86','5726','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168775,'638.528','5728','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168776,'4633.24','5729','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168777,'1648.95','5731','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168778,'560.902','5732','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168779,'16078.4','5733','511','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168780,'537.696','5734','511','19');

Conferir valor atual do id_banco:  5168780

IndigenaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168781,'0.3','5708','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168782,'0.1','5709','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168783,'0.2','5711','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168784,'1.0','5710','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168785,'0.1','5712','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168786,'0.2','5713','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168787,'0.0','5714','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168788,'0.1','5715','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168789,'0.0','5716','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168790,'0.1','5717','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168791,'0.2','5720','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168792,'0.6','5719','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168793,'0.0','5718','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168794,'0.1','5722','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168795,'0.1','5725','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168796,'0.2','5721','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168797,'0.1','5723','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168798,'0.1','5724','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168799,'0.0','5727','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168800,'0.1','5730','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168801,'0.2','5726','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168802,'0.1','5728','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168803,'3.3','5729','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168804,'0.1','5731','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168805,'0.1','5732','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168806,'0.2','5733','512','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168807,'0.1','5734','512','19');

Conferir valor atual do id_banco:  5168807

IndigenaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168808,'469.767','5708','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168809,'804.906','5709','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168810,'366.812','5711','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168811,'9495.87','5710','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168812,'5413.27','5712','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168813,'4244.17','5713','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168814,'596.319','5714','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168815,'1655.97','5715','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168816,'2985.96','5716','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168817,'2964.23','5717','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168818,'1599.24','5720','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168819,'1519.01','5719','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168820,'1693.36','5718','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168821,'301.142','5722','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168822,'242.786','5725','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168823,'6342.92','5721','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168824,'2537.93','5723','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168825,'390.43','5724','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168826,'1407.38','5727','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168827,'2181.45','5730','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168828,'1164.35','5726','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168829,'1587.11','5728','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168830,'4863.19','5729','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168831,'1213.49','5731','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168832,'182.382','5732','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168833,'19768.9','5733','513','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168834,'1354.56','5734','513','19');

Conferir valor atual do id_banco:  5168834

IndigenaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168835,'0.2','5708','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168836,'0.1','5709','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168837,'0.2','5711','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168838,'0.9','5710','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168839,'0.2','5712','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168840,'0.2','5713','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168841,'0.1','5714','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168842,'0.2','5715','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168843,'0.2','5716','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168844,'0.2','5717','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168845,'0.2','5720','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168846,'0.2','5719','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168847,'0.0','5718','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168848,'0.0','5722','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168849,'0.0','5725','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168850,'0.3','5721','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168851,'0.1','5723','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168852,'0.1','5724','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168853,'0.2','5727','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168854,'0.1','5730','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168855,'0.0','5726','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168856,'0.4','5728','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168857,'3.5','5729','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168858,'0.1','5731','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168859,'0.0','5732','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168860,'0.2','5733','514','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168861,'0.4','5734','514','19');

Conferir valor atual do id_banco:  5168861

Total
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168862,'229373.67500000002','5708','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168863,'785986.063','5709','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168864,'242460.31','5711','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168865,'1010399.62','5710','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168866,'3395999.42','5712','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168867,'2211224.25','5713','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168868,'710781.729','5714','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168869,'870535.13','5715','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168870,'1565117.512','5716','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168871,'1724089.26','5717','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168872,'772602.443','5720','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168873,'611604.923','5719','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168874,'4865703.5940000005','5718','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168875,'922018.3269999999','5722','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168876,'2540309.1859999998','5725','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168877,'2199959.24','5721','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168878,'2186515.3499999996','5723','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168879,'744107.921','5724','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168880,'830169.724','5727','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168881,'2258510.861','5730','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168882,'3591271.42','5726','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168883,'438517.40799999994','5728','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168884,'140447.2227','5729','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168885,'1553788.73','5731','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168886,'555822.254','5732','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168887,'9867192.0','5733','515','19');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168888,'364139.0679999999','5734','515','19');

Conferir valor atual do id_banco:  5168888

In [70]:
####################################################################################################
####################################################################################################
###                                                                                              ###
###                                        ANO: 2019                                             ###
###                                                                                              ###
####################################################################################################
####################################################################################################

In [71]:
dataset2019 = pd.read_excel('Eixo4_DistribuicaoRacaCor.xlsx', sheet_name="2019")
dataset2019.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,AmarelaFeminino(%),PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total
0,RO,Rondônia,46242.8,0.109838,51447.4,0.122201,13735.30,0.032625,14961.70,0.035538,...,0.001556,142870.0,0.339352,145581.0,0.345792,886.260,0.002105,2514.890,0.005973,4.210080e+05
1,AC,Acre,19085.1,0.082975,16873.9,0.073362,6695.30,0.029109,5390.76,0.023437,...,0.001993,92629.8,0.402721,87965.2,0.382441,461.453,0.002006,387.685,0.001686,2.300096e+05
2,AM,Amazonas,71832.3,0.067451,75554.9,0.070947,17537.90,0.016468,13242.60,0.012435,...,0.003548,434647.0,0.408139,416935.0,0.391507,16066.900,0.015087,13121.200,0.012321,1.064948e+06
3,RR,Roraima,13640.4,0.090800,13410.0,0.089267,6726.17,0.044774,4050.87,0.026966,...,0.003820,52038.4,0.346405,49857.3,0.331886,5271.040,0.035088,4217.510,0.028075,1.502241e+05
4,PA,Pará,156545.0,0.073712,180420.0,0.084955,81061.60,0.038170,74199.80,0.034939,...,0.001817,830896.0,0.391245,776926.0,0.365832,6946.820,0.003271,4700.270,0.002213,2.123724e+06

In [72]:
#correção para Paraiba
index = dataset2019.loc[dataset2019['Sigla']=='PB'].index.tolist()
#index
#tive que consertar aqui, colocar paraiba sem acento
dataset2019.at[index[0],'UF'] = 'Paraiba'

In [73]:
# não preciso colocar célula de incorporar a coluna de NaoEconomicamenteAtivo em Descocupado 

# Como os estados não necessariamente estão em ordem alfabética, vamos arrumar isso que facilita depois
dataset2019.sort_values(['UF'], inplace=True) # ordem alfabetica dos estados
dataset2019 = dataset2019.reset_index(drop=True)  # resetar os índices

#vamos fazer a checagem se ordem tá direitinho dos estados e ids e tal
df_auxiliar.drop(['UF_no_dataset'], axis=1, inplace=True) #tiro a coluna do teste do ano anterior

# só pra conferir, vou colocar os estados do dataframe original aí... ver que estao na mesma ordem!
df_auxiliar['UF_no_dataset'] = dataset2019['UF']  

    # --> MUDAR ANO DO DATASET

df_auxiliar

                     UF    id        UF_no_dataset
0                  Acre  5708                 Acre
1               Alagoas  5709              Alagoas
2                 Amapá  5711                Amapá
3              Amazonas  5710             Amazonas
4                 Bahia  5712                Bahia
5                 Ceará  5713                Ceará
6      Distrito Federal  5714     Distrito Federal
7        Espírito Santo  5715       Espírito Santo
8                 Goiás  5716                Goiás
9              Maranhão  5717             Maranhão
10          Mato Grosso  5720          Mato Grosso
11   Mato Grosso do Sul  5719   Mato Grosso do Sul
12         Minas Gerais  5718         Minas Gerais
13              Paraiba  5722              Paraiba
14               Paraná  5725               Paraná
15                 Pará  5721                 Pará
16           Pernambuco  5723           Pernambuco
17                Piauí  5724                Piauí
18  Rio Grande do Norte  5727  Rio Grande do Norte
19    Rio Grande do Sul  5730    Rio Grande do Sul
20       Rio de Janeiro  5726       Rio de Janeiro
21             Rondônia  5728             Rondônia
22              Roraima  5729              Roraima
23       Santa Catarina  5731       Santa Catarina
24              Sergipe  5732              Sergipe
25            São Paulo  5733            São Paulo
26            Tocantins  5734            Tocantins

In [74]:
# agora posso colocar a coluna ID no dataset... ordem tá correta
dataset2019['id'] = df_auxiliar['id']
     # --> MUDAR ANO DO DATASET
    
dataset2019.head()

,Sigla,UF,BrancaMasculino,BrancaMasculino(%),BrancaFeminino,BrancaFeminino(%),PretaMasculino,PretaMasculino(%),PretaFeminino,PretaFeminino(%),...,PardaMasculino,PardaMasculino(%),PardaFeminino,PardaFeminino(%),IndigenaMasculino,IndigenaMasculino(%),IndigenaFeminino,IndigenaFeminino(%),Total,id
0,AC,Acre,19085.1,0.082975,16873.9,0.073362,6695.30,0.029109,5390.76,0.023437,...,92629.8,0.402721,87965.2,0.382441,461.453,0.002006,387.685,0.001686,2.300096e+05,5708
1,AL,Alagoas,85858.9,0.111742,91352.6,0.118892,19252.20,0.025056,17884.10,0.023275,...,271148.0,0.352888,272735.0,0.354953,3779.380,0.004919,2306.190,0.003001,7.683693e+05,5709
2,AP,Amapá,15384.1,0.065115,19660.9,0.083217,9009.31,0.038133,9057.05,0.038335,...,90797.9,0.384311,91368.4,0.386726,502.123,0.002125,0.000,0.000000,2.362616e+05,5711
3,AM,Amazonas,71832.3,0.067451,75554.9,0.070947,17537.90,0.016468,13242.60,0.012435,...,434647.0,0.408139,416935.0,0.391507,16066.900,0.015087,13121.200,0.012321,1.064948e+06,5710
4,BA,Bahia,245585.0,0.073395,253194.0,0.075669,368454.00,0.110116,400854.00,0.119799,...,1033367.0,0.308831,1009462.0,0.301686,8087.510,0.002417,11039.800,0.003299,3.346064e+06,5712

In [75]:
dataset2019[dataset2019.isna().any(axis=1)]

Empty DataFrame
Columns: [Sigla, UF, BrancaMasculino, BrancaMasculino(%), BrancaFeminino, BrancaFeminino(%), PretaMasculino, PretaMasculino(%), PretaFeminino, PretaFeminino(%), AmarelaMasculino, AmarelaMasculino(%), AmarelaFeminino, AmarelaFeminino(%), PardaMasculino, PardaMasculino(%), PardaFeminino, PardaFeminino(%), IndigenaMasculino, IndigenaMasculino(%), IndigenaFeminino, IndigenaFeminino(%), Total, id]
Index: []

[0 rows x 24 columns]

In [76]:
year_id = "20"      #Ano: 2019
group_id = "495"    # é o primeiro: Ocupado
percentual = False

id_banco = 5168888  # conferir - ultimo valor do ano ou da série histórica anterior
nome_dataset = dataset2019

print('Ano: 2019')
print()

for nome in ['BrancaMasculino', 'BrancaMasculino(%)',
       'BrancaFeminino', 'BrancaFeminino(%)', 'PretaMasculino',
       'PretaMasculino(%)', 'PretaFeminino', 'PretaFeminino(%)',
       'AmarelaMasculino', 'AmarelaMasculino(%)', 'AmarelaFeminino',
       'AmarelaFeminino(%)', 'PardaMasculino', 'PardaMasculino(%)',
       'PardaFeminino', 'PardaFeminino(%)', 'IndigenaMasculino',
       'IndigenaMasculino(%)', 'IndigenaFeminino', 'IndigenaFeminino(%)',
       'Total']:
    print(nome,'\nINSERTS:')
    name_column = nome
    lista = gerar_SQL_insert(name_column, group_id, year_id, nome_dataset, id_banco,percentual)
    for i in lista:
        print(i)
    id_banco = id_banco + 27
    print()
    print('Conferir valor atual do id_banco: ',id_banco)
    print()
    group_id = str(int(group_id)+1) #só no final
    percentual = not(percentual) #só no final tbm

Ano: 2019

BrancaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168889,'19085.1','5708','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168890,'85858.9','5709','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168891,'15384.1','5711','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168892,'71832.3','5710','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168893,'245585.0','5712','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168894,'250183.0','5713','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168895,'124589.0','5714','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168896,'137061.0','5715','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168897,'218758.0','5716','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168898,'135460.0','5717','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168899,'102934.0','5720','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168900,'110452.0','5719','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168901,'804180.0','5718','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168902,'127637.0','5722','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168903,'730463.0','5725','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168904,'156545.0','5721','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168905,'316455.0','5723','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168906,'71827.5','5724','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168907,'139312.0','5727','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168908,'897830.0','5730','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168909,'743809.0','5726','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168910,'46242.8','5728','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168911,'13640.4','5729','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168912,'594318.0','5731','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168913,'51601.5','5732','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168914,'2600869.0','5733','495','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168915,'31235.0','5734','495','20');

Conferir valor atual do id_banco:  5168915

BrancaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168916,'8.3','5708','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168917,'11.2','5709','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168918,'6.5','5711','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168919,'6.7','5710','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168920,'7.3','5712','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168921,'11.6','5713','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168922,'17.3','5714','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168923,'16.2','5715','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168924,'14.3','5716','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168925,'7.8','5717','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168926,'13.7','5720','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168927,'18.7','5719','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168928,'17.8','5718','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168929,'14.1','5722','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168930,'30.2','5725','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168931,'7.4','5721','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168932,'14.5','5723','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168933,'9.6','5724','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168934,'17.7','5727','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168935,'38.2','5730','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168936,'21.3','5726','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168937,'11.0','5728','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168938,'9.1','5729','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168939,'40.1','5731','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168940,'9.4','5732','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168941,'26.7','5733','496','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168942,'8.7','5734','496','20');

Conferir valor atual do id_banco:  5168942

BrancaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168943,'16873.9','5708','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168944,'91352.6','5709','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168945,'19660.9','5711','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168946,'75554.9','5710','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168947,'253194.0','5712','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168948,'251169.0','5713','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168949,'123632.0','5714','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168950,'130736.0','5715','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168951,'255026.0','5716','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168952,'154189.0','5717','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168953,'98178.1','5720','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168954,'123944.0','5719','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168955,'793856.0','5718','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168956,'137001.0','5722','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168957,'731408.0','5725','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168958,'180420.0','5721','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168959,'311688.0','5723','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168960,'74965.7','5724','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168961,'144097.0','5727','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168962,'903150.0','5730','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168963,'735819.0','5726','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168964,'51447.4','5728','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168965,'13410.0','5729','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168966,'568989.0','5731','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168967,'48876.3','5732','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168968,'2715670.0','5733','497','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168969,'35426.5','5734','497','20');

Conferir valor atual do id_banco:  5168969

BrancaFeminino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168970,'7.3','5708','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168971,'11.9','5709','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168972,'8.3','5711','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168973,'7.1','5710','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168974,'7.6','5712','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168975,'11.7','5713','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168976,'17.2','5714','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168977,'15.5','5715','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168978,'16.7','5716','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168979,'8.8','5717','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168980,'13.1','5720','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168981,'21.0','5719','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168982,'17.6','5718','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168983,'15.1','5722','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168984,'30.2','5725','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168985,'8.5','5721','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168986,'14.3','5723','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168987,'10.1','5724','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168988,'18.4','5727','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168989,'38.4','5730','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168990,'21.1','5726','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168991,'12.2','5728','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168992,'8.9','5729','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168993,'38.4','5731','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168994,'8.9','5732','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168995,'27.8','5733','498','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168996,'9.8','5734','498','20');

Conferir valor atual do id_banco:  5168996

PretaMasculino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168997,'6695.3','5708','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168998,'19252.2','5709','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5168999,'9009.31','5711','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169000,'17537.9','5710','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169001,'368454.0','5712','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169002,'62691.2','5713','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169003,'38204.8','5714','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169004,'52555.3','5715','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169005,'79491.2','5716','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169006,'88482.9','5717','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169007,'41760.2','5720','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169008,'20015.7','5719','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169009,'306118.0','5718','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169010,'33107.1','5722','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169011,'51957.8','5725','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169012,'81061.6','5721','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169013,'67317.6','5723','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169014,'33825.7','5724','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169015,'36643.2','5727','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169016,'86278.2','5730','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169017,'229180.0','5726','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169018,'13735.3','5728','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169019,'6726.17','5729','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169020,'27329.1','5731','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169021,'26774.8','5732','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169022,'405676.0','5733','499','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169023,'21248.3','5734','499','20');

Conferir valor atual do id_banco:  5169023

PretaMasculino(%)
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169024,'2.9','5708','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169025,'2.5','5709','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169026,'3.8','5711','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169027,'1.6','5710','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169028,'11.0','5712','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169029,'2.9','5713','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169030,'5.3','5714','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169031,'6.2','5715','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169032,'5.2','5716','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169033,'5.1','5717','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169034,'5.6','5720','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169035,'3.4','5719','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169036,'6.8','5718','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169037,'3.6','5722','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169038,'2.1','5725','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169039,'3.8','5721','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169040,'3.1','5723','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169041,'4.5','5724','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169042,'4.7','5727','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169043,'3.7','5730','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169044,'6.6','5726','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169045,'3.3','5728','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169046,'4.5','5729','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169047,'1.8','5731','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169048,'4.9','5732','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169049,'4.2','5733','500','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169050,'5.9','5734','500','20');

Conferir valor atual do id_banco:  5169050

PretaFeminino
INSERTS:
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169051,'5390.76','5708','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169052,'17884.1','5709','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169053,'9057.05','5711','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169054,'13242.6','5710','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169055,'400854.0','5712','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169056,'40059.9','5713','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169057,'43622.2','5714','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169058,'52942.0','5715','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169059,'55190.8','5716','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169060,'82137.1','5717','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169061,'40462.6','5720','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169062,'15716.7','5719','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169063,'271970.0','5718','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169064,'23354.2','5722','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169065,'41621.1','5725','501','20');
INSERT INTO indicator (id,jhi_value,region_id,group_id,year_id)  VALUES (5169066,'74199.8','5721','501','20');